<!-- Generator: Adobe Illustrator 22.1.0, SVG Export Plug-In  -->
<svg version="1.1"
	 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
	 x="0px" y="0px" width="153px" height="84px" viewBox="0 0 153 84" style="enable-background:new 0 0 153 84;"
	 xml:space="preserve">
<style type="text/css">
	.st0{fill:#33669A;}
	.st1{fill:#C9C9C9;}
	.st2{fill:#FFFFFF;}
	.st3{fill:none;}
</style>
<defs>
</defs>
<path class="st0" d="M76.1,47c0,0-4.4,32-4.3,32.6l0,0l0,0c0.1,1.4,0.8,2.8,2.1,3.6c2.2,1.5,5.1,0.9,6.6-1.2c0.7-1,0.9-2.1,0.8-3.1
	l0,0l0,0C81.2,78.6,76.1,47,76.1,47z"/>
<path class="st0" d="M91.8,47.9l22-38.2C102.8,3.5,90,0,76.5,0C62.9,0,50.2,3.5,39.1,9.7l22,38.2c4.6-2.4,9.8-3.8,15.3-3.8
	C82,44.1,87.2,45.5,91.8,47.9z"/>
<path class="st1" d="M59.1,49.1L37,10.9C14.8,24.3,0,48.7,0,76.5h44.1C44.1,65,50.1,54.9,59.1,49.1z"/>
<path class="st1" d="M115.9,10.9L93.9,49.1c9,5.8,15,15.8,15,27.3H153C153,48.7,138.1,24.3,115.9,10.9z"/>
<g>
	<g>
		<g>
			<path class="st2" d="M87.8,17.2c-0.4,0-0.8-0.1-1.1-0.4c-0.3-0.3-0.5-0.6-0.5-1.1c0-0.4,0.2-0.8,0.5-1.1c0.3-0.3,0.7-0.4,1.1-0.4
				c0.4,0,0.8,0.1,1.1,0.4c0.3,0.3,0.4,0.7,0.4,1.1c0,0.5-0.2,0.9-0.5,1.1C88.5,17.1,88.2,17.2,87.8,17.2z M82.8,5.9
				c0-0.7,0.2-1.3,0.6-2s1-1.2,1.8-1.7S87,1.6,88,1.6c1,0,1.9,0.2,2.6,0.6S92,3,92.4,3.7C92.8,4.3,93,5,93,5.7
				c0,0.6-0.1,1.1-0.4,1.5c-0.2,0.4-0.5,0.8-0.8,1.1c-0.3,0.3-0.9,0.9-1.8,1.6c-0.2,0.2-0.4,0.4-0.6,0.6c-0.1,0.2-0.2,0.3-0.3,0.4
				c-0.1,0.1-0.1,0.3-0.2,0.4c0,0.1-0.1,0.4-0.2,0.7c-0.1,0.7-0.5,1.1-1.2,1.1c-0.4,0-0.7-0.1-0.9-0.3c-0.2-0.2-0.4-0.6-0.4-1
				c0-0.6,0.1-1.1,0.3-1.5c0.2-0.4,0.4-0.8,0.7-1.1s0.7-0.7,1.2-1.1c0.4-0.4,0.8-0.7,1-0.9C89.7,7,89.9,6.8,90,6.5s0.2-0.5,0.2-0.8
				c0-0.5-0.2-1-0.6-1.4C89.2,4,88.7,3.8,88,3.8c-0.8,0-1.3,0.2-1.7,0.6C86,4.7,85.7,5.3,85.5,6c-0.2,0.8-0.7,1.2-1.3,1.2
				c-0.4,0-0.7-0.1-1-0.4C82.9,6.5,82.8,6.2,82.8,5.9z"/>
		</g>
	</g>
	<g>
		<path class="st3" d="M81,19c-1.2,0-2.1,1.3-2.1,2.9c0,1.6,0.9,2.9,2.1,2.9c1.2,0,2.1-1.3,2.1-2.9C83.1,20.3,82.2,19,81,19z"/>
		<path class="st3" d="M71,19c-1.2,0-2.1,1.3-2.1,2.9c0,1.6,0.9,2.9,2.1,2.9s2.1-1.3,2.1-2.9C73.1,20.3,72.1,19,71,19z"/>
	</g>
	<path class="st2" d="M27.9,34.6c-8.5,0-15.4,6.9-15.4,15.4s6.9,15.4,15.4,15.4c8.5,0,15.4-6.9,15.4-15.4S36.4,34.6,27.9,34.6z
		 M33.1,41.5c1.1,0,1.9,1.3,1.9,2.9c0,1.6-0.9,2.9-1.9,2.9s-1.9-1.3-1.9-2.9C31.2,42.8,32.1,41.5,33.1,41.5z M22.7,41.5
		c1.1,0,1.9,1.3,1.9,2.9c0,1.6-0.9,2.9-1.9,2.9s-1.9-1.3-1.9-2.9C20.8,42.8,21.7,41.5,22.7,41.5z M36.4,52.9
		c-1.2,3.4-4.5,5.9-8.4,5.9c-3.9,0-7.2-2.5-8.4-5.9c-0.2-0.5,0.2-0.9,0.7-0.9h0c0.3,0,0.6,0.2,0.7,0.5c1,2.8,3.7,4.8,7,4.8
		c3.2,0,6-2,7-4.8c0.1-0.3,0.4-0.5,0.7-0.5h0C36.2,51.9,36.6,52.4,36.4,52.9z"/>
	<path class="st2" d="M124.7,34.6c-8.5,0-15.4,6.9-15.4,15.4s6.9,15.4,15.4,15.4c8.5,0,15.4-6.9,15.4-15.4S133.2,34.6,124.7,34.6z
		 M130,41.5c1.1,0,1.9,1.3,1.9,2.9c0,1.6-0.9,2.9-1.9,2.9s-1.9-1.3-1.9-2.9C128,42.8,128.9,41.5,130,41.5z M119.6,41.5
		c1.1,0,1.9,1.3,1.9,2.9c0,1.6-0.9,2.9-1.9,2.9s-1.9-1.3-1.9-2.9C117.6,42.8,118.5,41.5,119.6,41.5z M132,57.5
		c-0.3,0-0.5-0.2-0.7-0.4c-1.2-2.4-3.7-4-6.6-4c-2.9,0-5.4,1.6-6.6,4c-0.1,0.3-0.4,0.4-0.7,0.4h0c-0.5,0-0.9-0.6-0.7-1
		c1.4-2.9,4.5-4.9,8-4.9c3.5,0,6.5,2,8,4.9C132.9,56.9,132.6,57.5,132,57.5z"/>
	<g>
		<path class="st3" d="M81,19.1c-1.2,0-2.1,1.3-2.1,2.9c0,1.6,0.9,2.9,2.1,2.9c1.2,0,2.1-1.3,2.1-2.9C83.1,20.4,82.2,19.1,81,19.1z"
			/>
		<path class="st3" d="M71,19.1c-1.2,0-2.1,1.3-2.1,2.9c0,1.6,0.9,2.9,2.1,2.9s2.1-1.3,2.1-2.9C73.1,20.4,72.1,19.1,71,19.1z"/>
		<path class="st2" d="M90.3,18.4c-0.6,0.6-1.4,0.9-2.3,0.9c-2,0-3.6-1.6-3.6-3.6c0-1.1,0.5-2.1,1.3-2.7c-2.5-1.8-5.5-2.8-8.8-2.8
			c-8.3,0-15,6.7-15,15c0,8.3,6.7,15,15,15c8.3,0,15-6.7,15-15C91.9,22.7,91.3,20.4,90.3,18.4z M71,25c-1.2,0-2.1-1.3-2.1-2.9
			c0-1.6,0.9-2.9,2.1-2.9s2.1,1.3,2.1,2.9C73.1,23.7,72.1,25,71,25z M79.1,32.7h-4.3c-0.6,0-1-0.4-1-1s0.4-1,1-1h4.3
			c0.6,0,1,0.4,1,1S79.6,32.7,79.1,32.7z M81,25c-1.2,0-2.1-1.3-2.1-2.9c0-1.6,0.9-2.9,2.1-2.9c1.2,0,2.1,1.3,2.1,2.9
			C83.1,23.7,82.2,25,81,25z"/>
	</g>
</g>
</svg>
