<!-- Generator: Adobe Illustrator 22.1.0, SVG Export Plug-In  -->
<svg version="1.1"
	 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
	 x="0px" y="0px" width="153px" height="82.1px" viewBox="0 0 153 82.1" style="enable-background:new 0 0 153 82.1;"
	 xml:space="preserve">
<style type="text/css">
	.st0{fill:#C9C9C9;}
	.st1{fill:#33669A;}
	.st2{fill:#FFFFFF;}
	.st3{fill:none;}
</style>
<defs>
</defs>
<path class="st0" d="M91.8,47.9l22-38.2C102.8,3.5,90,0,76.5,0C62.9,0,50.2,3.5,39.1,9.7l22,38.2c4.6-2.4,9.8-3.8,15.3-3.8
	C82,44.1,87.2,45.5,91.8,47.9z"/>
<path class="st0" d="M59.1,49.1L37,10.9C14.8,24.3,0,48.7,0,76.5h44.1C44.1,65,50.1,54.9,59.1,49.1z"/>
<path class="st1" d="M115.9,10.9L93.9,49.1c9,5.8,15,15.8,15,27.3H153C153,48.7,138.1,24.3,115.9,10.9z"/>
<path class="st1" d="M101.4,58.8c0,0-28.8,14.5-29.3,14.8l0,0l0,0c-1.1,0.9-1.8,2.2-1.8,3.8c0,2.6,2.1,4.7,4.7,4.7
	c1.2,0,2.2-0.4,3-1.1l0,0l0,0C78.2,80.9,101.4,58.8,101.4,58.8z"/>
<g>
	<g>
		<g>
			<path class="st2" d="M87.8,17.7c-0.4,0-0.8-0.1-1.1-0.4c-0.3-0.3-0.5-0.6-0.5-1.1c0-0.4,0.2-0.8,0.5-1.1c0.3-0.3,0.7-0.4,1.1-0.4
				c0.4,0,0.8,0.1,1.1,0.4c0.3,0.3,0.4,0.7,0.4,1.1c0,0.5-0.2,0.9-0.5,1.1C88.5,17.6,88.2,17.7,87.8,17.7z M82.8,6.4
				c0-0.7,0.2-1.3,0.6-2s1-1.2,1.8-1.7S87,2.1,88,2.1c1,0,1.9,0.2,2.6,0.6s1.3,0.9,1.8,1.5C92.8,4.8,93,5.5,93,6.2
				c0,0.6-0.1,1.1-0.4,1.5c-0.2,0.4-0.5,0.8-0.8,1.1s-0.9,0.9-1.8,1.6c-0.2,0.2-0.4,0.4-0.6,0.6c-0.1,0.2-0.2,0.3-0.3,0.4
				s-0.1,0.3-0.2,0.4c0,0.1-0.1,0.4-0.2,0.7c-0.1,0.7-0.5,1.1-1.2,1.1c-0.4,0-0.7-0.1-0.9-0.3c-0.2-0.2-0.4-0.6-0.4-1
				c0-0.6,0.1-1.1,0.3-1.5s0.4-0.8,0.7-1.1s0.7-0.7,1.2-1.1c0.4-0.4,0.8-0.7,1-0.9C89.7,7.5,89.9,7.3,90,7c0.1-0.2,0.2-0.5,0.2-0.8
				c0-0.5-0.2-1-0.6-1.4c-0.4-0.4-0.9-0.6-1.6-0.6c-0.8,0-1.3,0.2-1.7,0.6c-0.4,0.4-0.7,0.9-0.9,1.7c-0.2,0.8-0.7,1.2-1.3,1.2
				c-0.4,0-0.7-0.1-1-0.4C82.9,7,82.8,6.7,82.8,6.4z"/>
		</g>
	</g>
	<g>
		<path class="st3" d="M81,19.5c-1.2,0-2.1,1.3-2.1,2.9c0,1.6,0.9,2.9,2.1,2.9c1.2,0,2.1-1.3,2.1-2.9C83.1,20.8,82.2,19.5,81,19.5z"
			/>
		<path class="st3" d="M71,19.5c-1.2,0-2.1,1.3-2.1,2.9c0,1.6,0.9,2.9,2.1,2.9s2.1-1.3,2.1-2.9C73.1,20.8,72.1,19.5,71,19.5z"/>
	</g>
	<path class="st2" d="M27.9,35.1c-8.5,0-15.4,6.9-15.4,15.4s6.9,15.4,15.4,15.4c8.5,0,15.4-6.9,15.4-15.4S36.4,35.1,27.9,35.1z
		 M33.1,42c1.1,0,1.9,1.3,1.9,2.9c0,1.6-0.9,2.9-1.9,2.9s-1.9-1.3-1.9-2.9C31.2,43.3,32.1,42,33.1,42z M22.7,42
		c1.1,0,1.9,1.3,1.9,2.9c0,1.6-0.9,2.9-1.9,2.9s-1.9-1.3-1.9-2.9C20.8,43.3,21.7,42,22.7,42z M36.4,53.3c-1.2,3.4-4.5,5.9-8.4,5.9
		c-3.9,0-7.2-2.5-8.4-5.9c-0.2-0.5,0.2-0.9,0.7-0.9h0c0.3,0,0.6,0.2,0.7,0.5c1,2.8,3.7,4.8,7,4.8c3.2,0,6-2,7-4.8
		c0.1-0.3,0.4-0.5,0.7-0.5h0C36.2,52.4,36.6,52.9,36.4,53.3z"/>
	<path class="st2" d="M124.7,35.1c-8.5,0-15.4,6.9-15.4,15.4s6.9,15.4,15.4,15.4c8.5,0,15.4-6.9,15.4-15.4S133.2,35.1,124.7,35.1z
		 M130,42c1.1,0,1.9,1.3,1.9,2.9c0,1.6-0.9,2.9-1.9,2.9s-1.9-1.3-1.9-2.9C128,43.3,128.9,42,130,42z M119.6,42
		c1.1,0,1.9,1.3,1.9,2.9c0,1.6-0.9,2.9-1.9,2.9s-1.9-1.3-1.9-2.9C117.6,43.3,118.5,42,119.6,42z M132,58c-0.3,0-0.5-0.2-0.7-0.4
		c-1.2-2.4-3.7-4-6.6-4c-2.9,0-5.4,1.6-6.6,4c-0.1,0.3-0.4,0.4-0.7,0.4h0c-0.5,0-0.9-0.6-0.7-1c1.4-2.9,4.5-4.9,8-4.9
		c3.5,0,6.5,2,8,4.9C132.9,57.4,132.6,58,132,58z"/>
	<g>
		<path class="st3" d="M81,19.6c-1.2,0-2.1,1.3-2.1,2.9c0,1.6,0.9,2.9,2.1,2.9c1.2,0,2.1-1.3,2.1-2.9C83.1,20.9,82.2,19.6,81,19.6z"
			/>
		<path class="st3" d="M71,19.6c-1.2,0-2.1,1.3-2.1,2.9c0,1.6,0.9,2.9,2.1,2.9s2.1-1.3,2.1-2.9C73.1,20.9,72.1,19.6,71,19.6z"/>
		<path class="st2" d="M90.3,18.9c-0.6,0.6-1.4,0.9-2.3,0.9c-2,0-3.6-1.6-3.6-3.6c0-1.1,0.5-2.1,1.3-2.7c-2.5-1.8-5.5-2.8-8.8-2.8
			c-8.3,0-15,6.7-15,15c0,8.3,6.7,15,15,15c8.3,0,15-6.7,15-15C91.9,23.2,91.3,20.9,90.3,18.9z M71,25.5c-1.2,0-2.1-1.3-2.1-2.9
			c0-1.6,0.9-2.9,2.1-2.9s2.1,1.3,2.1,2.9C73.1,24.2,72.1,25.5,71,25.5z M79.1,33.2h-4.3c-0.6,0-1-0.4-1-1s0.4-1,1-1h4.3
			c0.6,0,1,0.4,1,1S79.6,33.2,79.1,33.2z M81,25.5c-1.2,0-2.1-1.3-2.1-2.9c0-1.6,0.9-2.9,2.1-2.9c1.2,0,2.1,1.3,2.1,2.9
			C83.1,24.2,82.2,25.5,81,25.5z"/>
	</g>
</g>
</svg>
