<div class="section" ondragstart="return false;">
	<div class="containerY">
		{{#with main}}
			<form id="{{id}}" method="{{method}}" action="{{action}}" data-mode="{{mode}}" data-noChange="{{no-change}}">
		{{/with}}

		<div id="feedbackBlock">
		
				{{#each items}}
					{{#unless (eq this.hbs 'Button')}}
							{{sub_hbs this}}
					{{/unless}}
				{{/each}}
		</div>
				{{!-- this is in case we want to handle the input na the button in a different way --}}
				{{#each items}}
					{{#if (eq this.hbs 'Button')}}
						{{sub_hbs this}}
					{{/if}}
				{{/each}}
		</form>
	</div>
</div>

