<div class="field has-addons row-btns {{class}}">
{{#each choices}}
	<div class="control {{class}}">
		<button class="button {{class}} {{#if ( eq attribute "post")}} post {{/if}}" type="{{#if type}}{{type}}{{^}}submit{{/if}}" name="{{name}}" value="{{label}}" 
		{{#if (eq (get_main "mode") "edit")}} {{#if ( eq attribute "post")}} disabled {{/if}}{{/if}}
		{{#if (eq (get_main "mode") "read")}} {{#if ( eq attribute "post")}} disabled {{/if}}{{/if}}
		{{#if ( eq attribute "cancel")}} formnovalidate {{/if}}
		>
            {{#if icon}}<span class="icon"><i class="{{icon}}"></i></span>{{/if}}
            <span>{{label}}</span>
        </button>
	</div>
{{/each}}
</div>