 <div>
    <div id="headerSection">
        {{{introTextOne}}}
        {{#if introTextTwo}}
            <br> {{{introTextTwo}}}  <a href="{{ linkRegister }}">{{{linkRegisterText}}}.</a>
        {{/if}}
        {{#if introTextThree}}<br> <br>
            <i class="fas fa-question-square"></i> {{{introTextThree}}} &quot;<a href="{{ linkThree }}">{{{linkTextThree}}}&quot;.</a>
        {{/if}}

        {{#if createNewAppButton}}
            <div id="createNewApp">
                <a class='button-Fill-Blue' href="#"><i class="fas fa-plus"></i>{{{createNewAppButton}}}</a>
            </div>
        {{/if}}
        {{#if introTitle}}
            <p  class="bold gray"> {{{introTitle}}}</p>
        {{/if}}
    </div>

    <div id="inputSection">
        <div class="control">
            <div>
                <label> {{{displayNameLabel}}} </label>
                <input id="displayName" class="input" title="{{displayNamePopup}}"  type="text" name="{{displayNameField}}" placeholder="{{displayNamePlaceholder}}" required value="{{displayNameValue}}" {{#if displayNameReadOnly}} disabled {{/if}}>
            </div>
        </div>

        <div class="control">
            <div>
                <label> {{{tenantLabel}}} </label>
                <input id="tenantName" class="input" title="{{tenantPopup}}"  type="text" name="{{#if tenantValue}}disabled_{{/if}}{{tenantField}}" placeholder="{{tenantPlaceholder}}" required {{#if tenantValue}}disabled{{else}}{{#if tenantReadOnly}}disabled{{/if}}{{/if}} value="{{tenantValue}}" pattern="^[a-zA-Z0-9][a-zA-Z0-9-.]*[a-zA-Z0-9]$">
                {{#if tenantValue}}<input id="tenantNameVal" class="input" type="hidden" name="{{tenantField}}" value="{{tenantValue}}">{{/if}}
            </div>
        </div>

        <div class="control">
            <div>
                <label> {{{appIDLabel}}}</label>
                <input id="appID" class="input" title="{{appIDPopup}}"  type="text" name="{{appIDField}}" placeholder="{{appIDPlaceholder}}" required value="{{appIDValue}}" pattern="[a-zA-Z0-9-]+" {{#if appIDReadOnly}}disabled {{else}}{{#if REMOVED_createNewAppButton}}disabled {{/if}}{{/if}}>
                {{#if createNewAppButton}}<input id="appIDval" type="hidden" disabled name="{{appIDField}}" value="{{appIDValue}}">{{/if}}
            </div>
        </div>

        {{#if RedirectURLField }}
        <!-- globally never used because not needed here -->
        <div class="control has-icons-right">
            <div>
                <label> {{{RedirectURLLabel}}} </label>
                <input id="redirectURL" class="input" title="{{RedirectURLPopup}}" type="text" name="{{RedirectURLField}}" disabled required value="{{RedirectURLValue}}" >
                <span id="lock"><i class="fa fa-lock-alt"></i></span>
            </div>
        </div>
        {{/if}}

        <div class="control has-icons-right">
            <div>
                <label> {{{secretKeyLabel}}} </label>
                <input id="secretKey" class="input" title="{{secretKeyPopup}}" type="password" name="{{secretKeyField}}" placeholder="{{secretKeyPlaceholder}}" required value="{{secretKeyValue}}" >
                <span id="icon"><i class="fa fa-eye"></i></span>
            </div>
            <div class="controlMessage gray" >
                <div>
                  <input id="keepCheck" type="checkbox" name="{{keepSecretKeyField}}" value="{{keepSecretKeyValue}}" {{#if createNewAppButton}}checked disabled{{else}}{{#if keepSecretKeySelected}}checked{{/if}}{{/if}}> {{{keepSecretKeyText}}}
                </div>
                {{#if resetSecretKey}}
                <div id="resetKey"><a class="resetKeyAcc" href="#">
                {{{resetSecretKey}}}<i class="fas fa-key"></i>{{{resetSecretKeyLink}}}</a>
                </div>
                {{/if}}
            </div>

        </div>

        <div id="adminConsentLink">
            <div>
                <i class="fas fa-exclamation-triangle"></i>
                <p> {{{adminConsentInfoOne}}}<br>{{{adminConsentInfoTwo}}}</p>
            </div>
            <a class='button-Fill-Blue' base_href="{{adminConsentAction}}" href="#">{{{adminConsentButton}}}</a>
            <span class="button-Disabled" id='disabledGetAdmin'>{{{adminConsentButton}}}</span>
        </div>
       

    </div>  
</div>