{{#with main}}
<form id="{{id}}" method="{{method}}" action="{{action}}" ondragstart="return false;">
{{/with}}

    <div id="fullAdminkBlock">
    
        {{#each items}}
            {{#unless (eq this.hbs 'Button')}}
                    {{sub_hbs this}}
            {{/unless}}
        {{/each}}
    </div>
        {{!-- this is in case we want to handle the input na the button in a different way --}}
        {{#each items}}
            {{#if (eq this.hbs 'Button')}}
                {{sub_hbs this}}
            {{/if}}
        {{/each}}

 </form>
 <script language="javascript">
    var g_AutomationSubmit = false;
	{{#with main}}
        // AUTOMATION auto submit
		{{#if automationSubmit}}
            g_AutomationSubmit = true;
		{{/if}}
	{{/with}}
</script>
