<div id="header">
    <h2>{{{labelIntro}}}</h2>
    <h3>{{{labelSubIntro}}}</h3>
</div>

<div class="currentUsr columns is-mobile">
    <label for="" class="column">{{{currentUsrLabel}}}</label>
    <input id="currentUsr" class="input column is-2" type="number" value="{{currentUsrQuantity}}" readonly>
</div>
<div class="newUsr columns is-mobile">
    <label for="" class="column">{{{newUsrLabel}}}</label>
    <input id="newUrs" class="input column is-2" type="number" name="{{newUsrName}}" value="{{{currentUsrQuantity}}}" required min="{{minNewUsr}}">
</div>
<div class="addRemove columns is-mobile">
    <label for="" class="column">{{{addRemoveLabel}}}</label>
    <input id="addRemove" class="input column is-2" type="number"  readonly value="0">
</div>

<div class="columns is-mobile">
    <div class="column">{{{updateWhenLabel}}}</div>    
    <div class="control column is-2">
        {{#each choices}}
            <label class="radio"><input type="radio" name="nextNow" value="{{id}}" {{#if (eq attribute "checked")}} checked {{/if}}><span>{{{label}}}</span></label>
        {{/each}}
    </div>
</div>

<div class="validateWrapper">
    <div><div id="validate">{{{validateLabel}}}</div></div>
    <div class="next display-no">
        <div class="header">{{chargeNext}}</div>
        <div class="body columns is-mobile">
            <div class="net column">
                <label>{{{labelNet}}}</label>
                <div></div>
            </div>
            <div class="vat column">
                <label>{{{labelVat}}}</label>
                <div></div>
            </div>
            <div class="total column">
                <label>{{{labelTotal}}}</label>
                <div></div>
            </div>
        </div>
    </div>
    <div class="now display-no">
        <div class="header">{{chargeNow}}</div>
        <div class="body columns is-mobile">
            <div class="net column">
                <label>{{{labelNet}}}</label>
                <div></div>
            </div>
            <div class="vat column">
                <label>{{{labelVat}}}</label>
                <div></div>
            </div>
            <div class="total column">
                <label>{{{labelTotal}}}</label>
                <div></div>
            </div>
        </div>
    </div>
</div>



<div id="control">
    <div id="warningMsg">
        <i class="{{warningIcon}}"></i>
        <p>{{{warningMsg}}} <span class="subInfo"><br>{{{warningSubMsg}}}</span></p>
        <input id="keyValidation" class="input" type="text" name="{{keyValidation}}" title="{{{keyVal_popup}}}" required pattern="[A-Za-z0-9]{5,}">
    </div>
    <div id="msgTxt">{{{labelFooter}}}</div>
</div>
