html { height: 100% !important; max-height: 100vh !important; } 
body, html, #ytria-body, form  { padding: 0; margin: 0; height: auto; width: 100%; height: 100% !important; max-height: 100% !important; -ms-overflow-style: none !important; }

form { display: -webkit-flex; display: -moz-flex; display: -ms-flexbox;  display: -o-flex; display: flex; 
    -webkit-flex-direction: column ; -moz-flex-direction: columns ;-ms-flex-direction: column; -o-flex-direction: column ;  flex-direction: column; }

#containerFields { height: calc(100% - 41px); overflow: auto !important ; -ms-overflow-style: auto !important; padding: 0 30px; }

#headerSection { margin-bottom: 20px; text-align: center; width: 100% }
#headerSection p { display: block; text-align: center; margin-top: 15px;  }
#footerSection { margin-bottom: 10px; text-align: center}

#inputSection .control { margin-bottom: 10px; width: 100%; display: flex; align-items: center; }
#inputSection .control label { width: 135px !important; }
#inputSection .control > div { width: 100%; position: relative; display: flex; align-items: center; }
#inputSection textarea { min-height: 80px; margin-top: 10px}
#lock{ cursor: pointer !important; position: absolute; right: 10px; top: 0; font-size: 1.2rem; color: #88888a; height: 100%; display: flex; align-items: center }
