<div class="section" ondragstart="return false;">
    <div class="containerY">
        {{#with main}}
        {{#if collapsAllIcon}}
        </div>
        <div id="collaps-expand-all">
            {{#if createNewPairButton}}
            <div id="createNewPairTop">
                <a class='button-Fill-Blue' href="#"><i class="far fa-plus"></i>{{{createNewPairButton}}}</a>
            </div>
            {{/if}}

            <button id="collapseAll" class="gray"> <i class="{{collapsAllIcon}}" focusable="false"></i> {{{collapsAllBtn}}}</button>
            <button id="expandAll" class="gray"><i class="{{expandAllIcon}}" focusable="false"></i>{{{ExpandAllBtn}}}</button>
        </div>
        {{/if}}

        <form id="{{id}}" method="{{method}}" action="{{action}}" ondragstart="return false;">
        {{/with}}
            {{#each items}}
                {{#unless (eq this.hbs 'Button')}}
                        {{sub_hbs this}}
                {{/unless}}
            {{/each}}
            {{!-- this is in case we want to handle the input na the button in a different way --}}
            {{#each items}}
                {{#if (eq this.hbs 'Button')}}
                    {{sub_hbs this}}
                {{/if}}
            {{/each}}
        </form>
    </div>
</div>
