<div class="tabSection">
    <div class="tabSectionTitle">
        <div><span class="tabSectionTextTitle"> {{{introName}}}</span></div> 
        <i class="fal fa-angle-right rotate" focusable="false"></i>
    </div>
    <div id="ultraAdminInfo" class="tabSectionBody">
        <div class="headerSection">
            {{{introTextOne}}}  <br>
            {{#if introTextTwo}}
                {{{introTextTwo}}} <a href="{{linkTwo}}">{{{linkTextTwo}}}</a>. <br>
            {{/if}}
            {{#if introTextThree}}
                <br>
                <i class="fas fa-question-square" focusable="false"></i> {{{introTextThree}}} &quot;<a href="{{ linkThree }}">{{{linkTextThree}}}&quot;</a>.
            {{/if}}
        </div>

        {{#if appIDReadOnly}}   
            <div class="control has-icons-right">
                <label> {{{appIDLabel}}} *</label>
                <input id="appID" class="input" title="{{appIDPopup}}" type="text" name="{{appIDField}}"  placeholder="{{appIDPlaceholder}}" required disabled value="{{appIDValue}}">
                <span id="lockUltra"><i class="fa fa-lock-alt" focusable="false"></i></span>
                <input id="appIDVal" type="hidden" name="{{appIDField}}" disabled value="{{appIDValue}}">
            </div>
        {{else}}
            <div class="control">
                <label> {{{appIDLabel}}} *</label>
                <input id="appID" class="input" title="{{appIDPopup}}"  type="text" name="{{appIDField}}" placeholder="{{appIDPlaceholder}}" required value="{{appIDValue}}" >
                {{#if (get_main "withCreateNewPairButton")}}<input id="appIDVal" type="hidden" disabled name="{{appIDField}}" value="{{appIDValue}}">{{/if}}
            </div>
        {{/if}}
        <div class="control has-icons-right">
            <label> {{{secretKeyLabel}}} *</label>
            <input id="secretKey" class="input" title="{{secretKeyPopup}}" type="password" name="{{secretKeyField}}" placeholder="{{secretKeyPlaceholder}}" required value="{{secretKeyValue}}" >
            <span id="iconUltra"><i class="fa fa-eye" focusable="false"></i></span>
        </div>

        <div id="UltraAdminConsentLink">
            <div>
                <i class="{{adminConsentIcon}}"></i>
                <p> {{{adminConsentInfoOne}}}{{#if adminConsentInfoTwo}}<br>{{{adminConsentInfoTwo}}}{{/if}}</p>
            </div>
            <a class='button-Fill-Blue' base_href="{{adminConsentAction}}" href="#">{{{adminConsentButton}}}</a>
            <span class="button-Disabled">{{{adminConsentButton}}}</span>
        </div>

    </div>
</div>