<div class="tabSection">
    <div class="tabSectionTitle">
        <div><span class="tabSectionTextTitle"> {{{introName}}}</span></div> 
        <i class="fal fa-angle-right rotate" focusable="false"></i>
    </div>
    <div id="roleProperty" class="tabSectionBody">
        <div class="headerSection">
            {{{introTextOne}}} <br>
            {{#if introTextTwo}}
                {{{introTextTwo}}} <a href="{{linkTwo}}">{{{linkTextTwo}}}</a>. <br>
            {{/if}}
            {{#if introTextThree}}
                <br>
                <i class="fas fa-question-square" focusable="false"></i> {{{introTextThree}}} &quot;<a href="{{ linkThree }}">{{{linkTextThree}}}&quot;</a>.
            {{/if}}
        </div>

        <div id="{{propertyField}}" class="control-top">
            <label> {{{propertyLabel}}}</label>
            <div class="radiobox">
            {{#each propertyChoice}}
                <div tabindex="0" class="onecheckbox">
                    <input tabindex="-1" id="property{{value}}" name="{{../propertyField}}" type="checkbox" class="label-override {{#if ../isReadOnly}}readonly{{/if}}" value="{{value}}" {{#if default}} checked {{/if}} {{../isReadOnly}} {{#if ../isReadOnly}}readonly{{/if}}/>
                    <label for="property{{value}}">
                        <span class="radioYes{{#if ../isReadOnly}}ReadOnly{{/if}} {{#unless default}}display-no{{/unless}}"><i class="fa fa-check-square" focusable="false"></i></span>
                        <span class="radioNo{{#if ../isReadOnly}}ReadOnly{{/if}} {{#if default}}display-no{{/if}}"><i class="fal fa-square" focusable="false"></i></span>
                        {{{label}}}</label>
                </div>
            {{/each}}
            </div>
        </div>
    </div>
</div>