<div class="tabSection">
    <div class="tabSectionTitle">
        <div><span class="tabSectionTextTitle"> {{{introName}}}</span></div> 
        <i class="fal fa-angle-right rotate" focusable="false"></i>
    </div>
    <div id="filter" class="tabSectionBody">
        <div class="headerSection">
            {{{introTextOne}}} <br>
            {{#if introTextTwo}}
                {{{introTextTwo}}} <a href="{{linkTwo}}">{{{linkTextTwo}}}</a>. <br>
            {{/if}}
            {{#if introTextThree}}
                <br>
                <i class="fas fa-question-square" focusable="false"></i> {{{introTextThree}}} &quot;<a href="{{ linkThree }}">{{{linkTextThree}}}&quot;</a>.
            {{/if}}
        </div>

        <div class="allScopes">
        {{#each allscopes}}
            <div class="mainTgt">{{{target}}}</div>
            <div class="scopes titleScopes">
                <div>- {{{../titleProperty}}} -</div>
                <div>- {{{../titleCondition}}} -</div>
                <div>- {{{../titleValue}}} -</div>
            </div>
            {{#each scopes}}
            <div class="scopes">
                <div>{{{property}}}</div>
                <div>{{{filterType}}}</div>
                <div>{{{value}}}</div>
            </div>
            {{/each}}
        {{/each}}
        </div>

    </div>
</div>