<div class="tabSection">
    <div class="tabSectionTitle">
        <div><span class="tabSectionTextTitle"> {{{introName}}}</span></div> 
        <i class="fal fa-angle-right rotate" focusable="false"></i>
    </div>
    <div id="roleDef" class="tabSectionBody">
        <div class="headerSection">
            {{{introTextOne}}} <br>
            {{#if introTextTwo}}
                {{{introTextTwo}}} <a href="{{linkTwo}}">{{{linkTextTwo}}}</a>. <br>
            {{/if}}
            {{#if introTextThree}}
                <br>
                <i class="fas fa-question-square" focusable="false"></i> {{{introTextThree}}} &quot;<a href="{{ linkThree }}">{{{linkTextThree}}}&quot;</a>.
            {{/if}}
        </div>

        <div id="{{keysField}}" class="control-top{{#if newcredButton}} withNewCredButton{{/if}}" noValue="{{keysUnsetValue}}">
            <label> {{{keysLabel}}} *</label>
                <div class="radiobox">
                {{#each keysChoice}}
                    <div tabindex="0" class="oneradio">
                        <input tabindex="-1" id="keys{{value}}" name="{{../keysField}}" required type="radio" class="label-override" value="{{value}}" {{#if default}} checked {{/if}}/>
                        <label for="keys{{value}}">
                            <span class="radioYes {{#unless default}}display-no{{/unless}}"><i class="fa fa-check-circle" focusable="false"></i></span>
                            <span class="radioNo {{#if default}}display-no{{/if}}"><i class="fal fa-circle" focusable="false"></i></span>
                            {{{label}}}</label>
                    </div>
                {{/each}}
                {{#unless keysChoice}}
                    <div tabindex="0" class="oneradio nokeyset">
                        <input tabindex="-1" id="keys{{keysUnsetValue}}" name="{{keysField}}" disabled required type="radio" class="label-override" value="{{keysUnsetValue}}"/>
                        <label for="keys{{keysUnsetValue}}">
                            <span class="radioNo {{#if default}}display-no{{/if}}"><i class="fal fa-circle" focusable="false"></i></span>
                            {{{keysUnsetLabel}}}</label>
                    </div>
                {{/unless}}
                </div>
        </div>
        <div id="credential_radio_template" class="display-no">
            <div tabindex="0" class="oneradio">
                <input tabindex="-1" id="keys%%value%%" tgtname="{{keysField}}" disabled type="radio" class="label-override" value="%%value%%"/>
                <label for="keys%%value%%">
                    <span class="radioYes display-no"><i class="fa fa-check-circle" focusable="false"></i></span>
                    <span class="radioNo"><i class="fal fa-circle" focusable="false"></i></span>
                    %%label%%</label>
            </div>
        </div>

        {{#if newcredButton}}
        <div id="newCredential">
            <div id="errorNewCred">&nbsp;<span class="display-no"><i class="fas fa-exclamation-triangle" focusable="false"></i>{{{errorNewCredLabel}}}</span></div>
            <a class='button-Fill-Blue' href="#"><i class="fas fa-key" focusable="false"></i>{{{newcredButton}}}</a>
        </div>
        {{/if}}

        
    </div>
</div>