<div class="tabSection">
    <div class="tabSectionTitle">
        <div><span class="tabSectionTextTitle"> {{{introName}}}</span></div> 
        <i class="fal fa-angle-right rotate" focusable="false"></i>
    </div>
    <div id="userAdminInfo" class="tabSectionBody">
        <div class="headerSection">
            {{{introTextOne}}} <br>
            {{#if introTextTwo}}
                {{{introTextTwo}}} <a href="{{linkTwo}}">{{{linkTextTwo}}}</a>. <br>
            {{/if}}
            {{#if introTextThree}}
                <br>
                <i class="fas fa-question-square" focusable="false"></i> {{{introTextThree}}} &quot;<a href="{{ linkThree }}">{{{linkTextThree}}}&quot;</a>.
            {{/if}}
        </div>

        {{#if nameReadOnly}}   
            <div class="control has-icons-right">
                <label> {{{nameLabel}}} *</label>
                <input id="adminName" class="input" title="{{namePopup}}" type="text" name="{{nameField}}"  placeholder="{{namePlaceholder}}" required disabled value="{{nameValue}}">
                <span id="lockAdmin"><i class="fa fa-lock-alt" focusable="false"></i></span>
                <input id="adminNameVal" type="hidden" name="{{nameField}}" disabled value="{{nameValue}}">
            </div>
        {{else}}
            <div class="control">
                <label> {{{nameLabel}}} *</label>
                <input id="adminName" class="input" title="{{namePopup}}"  type="text" name="{{nameField}}" placeholder="{{namePlaceholder}}" required value="{{nameValue}}" >
                {{#if (get_main "withCreateNewPairButton")}}<input id="adminNameVal" type="hidden" disabled name="{{nameField}}" value="{{nameValue}}">{{/if}}
            </div>
        {{/if}}
        <div class="control has-icons-right">
            <label> {{{pwdLabel}}} *</label>
            <input id="adminPwd" class="input" title="{{pwdPopup}}" type="password" name="{{pwdField}}" placeholder="{{pwdPlaceholder}}" required value="{{pwdValue}}" >
            <span id="iconAdmin"><i class="fa fa-eye" focusable="false"></i></span>
        </div>

        <div id="adminConsentLink">
            <div>
                <i class="{{adminConsentIcon}}"></i>
                <p> {{{adminConsentInfoOne}}}{{#if adminConsentInfoTwo}}<br>{{{adminConsentInfoTwo}}}{{/if}}</p>
            </div>
            <a class='button-Fill-Blue' base_href="{{adminConsentAction}}" href="#">{{{adminConsentButton}}}</a>
            <span class="button-Disabled">{{{adminConsentButton}}}</span>
        </div>

    </div>
</div>