<div class="tabSection">
    <div class="tabSectionTitle">
        <div><span class="tabSectionTextTitle"> {{{introName}}}</span></div> 
        <i class="fal fa-angle-right rotate" focusable="false"></i>
    </div>
    <div id="filter" class="tabSectionBody">
        <div class="headerSection">
            {{{introTextOne}}}  <br>
            {{#if introTextTwo}}
                {{{introTextTwo}}} <a href="{{linkTwo}}">{{{linkTextTwo}}}</a>. <br>
            {{/if}}
            {{#if introTextThree}}
                <br>
                <i class="fas fa-question-square" focusable="false"></i> {{{introTextThree}}} &quot;<a href="{{ linkThree }}">{{{linkTextThree}}}&quot;</a>.
            {{/if}}
        </div>

        <!-- RULE TARGET -->
        <div id="objectType" srcField="{{objectField}}" class="control-top">
            <label> {{{objectLabel}}} *</label>
                <div class="radiobox">
                {{#each objectChoice}}
                    <div tabindex="0" class="oneradio">
                        <input tabindex="-1" id="object{{value}}" name="{{../objectField}}" required type="radio" class="label-override" value="{{value}}"  {{#if default}} checked {{/if}}/>
                        <label for="object{{value}}">
                            <span class="radioYes {{#unless default}}display-no{{/unless}}"><i class="fa fa-check-circle" focusable="false"></i></span>
                            <span class="radioNo {{#if default}}display-no{{/if}}"><i class="fal fa-circle" focusable="false"></i></span>
                             {{{label}}}
                        </label>
                    </div>
                {{/each}}
                </div>
        </div>


        <!-- PROPERTY FOR GROUPS -->
        <div id="{{colGroupField}}"  class="control-top display-no">
            <label> {{{colGroupLabel}}} *<div class="curselect display-no"></div></label>
            <div class="radiobox{{#unless noSizeLimit}} heightlimited{{/unless}}"> 
                <div class="sortradio">
                    <div class="contentSortRadio">
                        <input class="quicksearch display-no" type="text"> <i class="fas fa-search" focusable="false"></i>&nbsp;&nbsp;&nbsp;<i class="fas fa-undo sort-current" focusable="false"></i> <i class="fas fa-sort-alpha-down" focusable="false"></i> <i class="fas fa-sort-alpha-up" focusable="false"></i>
                        {{#unless noSizeLimit}}&nbsp;<span class="isexpand"><i class="fas fa-expand isexpand" focusable="false"></i></span><span class="iscollapse display-no"><i class="fas fa-compress iscollapse" focusable="false"></i></span>{{/unless}}
                    </div>
                </div>
                <div class="allradio">
                {{#each colGroupChoice}}
                    <div tabindex="0" class="oneradio" label-sort="{{{label}}}" idx="{{@index}}">
                        <input tabindex="-1" id="colGroup{{value}}" name="{{../colGroupField}}" required type="radio" class="label-override" value="{{value}}"  {{#if default}} checked {{/if}}/>
                        <label for="colGroup{{value}}">
                            <span class="radioYes {{#unless default}}display-no{{/unless}}"><i class="fa fa-check-circle" focusable="false"></i></span>
                            <span class="radioNo {{#if default}}display-no{{/if}}"><i class="fal fa-circle" focusable="false"></i></span>
                            {{{label}}}
                        </label>
                    </div>
                {{/each}}
                </div>
            </div>
        </div>

        <!-- PROPERTY FOR USERS -->
        <div id="{{colUserField}}" class="control-top display-no">
            <label> {{{colUserLabel}}} * <div class="curselect display-no"></div></label>
            <div class="radiobox{{#unless noSizeLimit}} heightlimited{{/unless}}"> 
                <div class="sortradio">
                    <div class="contentSortRadio">
                        <input class="quicksearch display-no" type="text"> <i class="fas fa-search" focusable="false"></i>&nbsp;&nbsp;&nbsp;<i class="fas fa-undo sort-current" focusable="false"></i> <i class="fas fa-sort-alpha-down" focusable="false"></i> <i class="fas fa-sort-alpha-up" focusable="false"></i>
                        {{#unless noSizeLimit}}&nbsp;<span class="isexpand"><i class="fas fa-expand isexpand" focusable="false"></i></span><span class="iscollapse display-no"><i class="fas fa-compress iscollapse" focusable="false"></i></span>{{/unless}}
                    </div>
                </div>
                <div class="allradio">
                {{#each colUserChoice}}
                    <div tabindex="0" class="oneradio" label-sort="{{{label}}}" idx="{{@index}}">
                        <input tabindex="-1" id="colUser{{value}}" name="{{../colUserField}}" required type="radio" class="label-override" value="{{value}}"  {{#if default}} checked {{/if}}/>
                        <label for="colUser{{value}}">
                            <span class="radioYes {{#unless default}}display-no{{/unless}}"><i class="fa fa-check-circle" focusable="false"></i></span>
                            <span class="radioNo {{#if default}}display-no{{/if}}"><i class="fal fa-circle" focusable="false"></i></span>
                            {{{label}}}
                        </label>
                    </div>
                {{/each}}
                </div>
            </div>
        </div>

        <!-- PROPERTY FOR SITES -->
        <div id="{{colSiteField}}" class="control-top display-no">
            <label> {{{colSiteLabel}}} * <div class="curselect display-no"></div></label>
            <div class="radiobox{{#unless noSizeLimit}} heightlimited{{/unless}}"> 
                <div class="sortradio">
                    <div class="contentSortRadio">
                        <input class="quicksearch display-no" type="text"> <i class="fas fa-search" focusable="false"></i>&nbsp;&nbsp;&nbsp;<i class="fas fa-undo sort-current" focusable="false"></i> <i class="fas fa-sort-alpha-down" focusable="false"></i> <i class="fas fa-sort-alpha-up" focusable="false"></i>
                        {{#unless noSizeLimit}}&nbsp;<span class="isexpand"><i class="fas fa-expand isexpand" focusable="false"></i></span><span class="iscollapse display-no"><i class="fas fa-compress iscollapse" focusable="false"></i></span>{{/unless}}
                    </div>
                </div>
                <div class="allradio">
                {{#each colSiteChoice}}
                    <div tabindex="0" class="oneradio" label-sort="{{{label}}}" idx="{{@index}}">
                        <input tabindex="-1" id="colSite{{value}}" name="{{../colSiteField}}" required type="radio" class="label-override" value="{{value}}"  {{#if default}} checked {{/if}}/>
                        <label for="colSite{{value}}">
                            <span class="radioYes {{#unless default}}display-no{{/unless}}"><i class="fa fa-check-circle" focusable="false"></i></span>
                            <span class="radioNo {{#if default}}display-no{{/if}}"><i class="fal fa-circle" focusable="false"></i></span>
                            {{{label}}}
                        </label>
                    </div>
                {{/each}}
                </div>
            </div>
        </div>

        <!-- FILTER VALUE -->
        <div class="control">
            <label> {{{propertyLabel}}} *</label>
            <input id="property" class="input" title="{{propertyPopup}}" type="text" name="{{propertyField}}" placeholder="{{propertyPlaceholder}}" required value="{{propertyValue}}" >
        </div>

        <!-- FILTER TYPE -->
        {{#if filterField}}
        <div id="{{filterField}}"  class="control-top">
            <label> {{{filterLabel}}} *<div class="curselect display-no"></div></label>
            <div class="radiobox"> 
                <div class="sortradio">
                    <div class="contentSortRadio">
                        <input class="quicksearch display-no" type="text"> <i class="fas fa-search" focusable="false"></i>&nbsp;&nbsp;&nbsp;<i class="fas fa-undo sort-current" focusable="false"></i> <i class="fas fa-sort-alpha-down" focusable="false"></i> <i class="fas fa-sort-alpha-up" focusable="false"></i>
                    </div>
                </div>
                <div class="allradio">
                {{#each filterChoice}}
                    <div tabindex="0" class="oneradio" label-sort="{{{label}}}" idx="{{@index}}">
                        <input tabindex="-1" id="filter{{value}}" name="{{../filterField}}" required type="radio" class="label-override" value="{{value}}"  {{#if default}} checked {{/if}}/>
                        <label for="filter{{value}}">
                            <span class="radioYes {{#unless default}}display-no{{/unless}}"><i class="fa fa-check-circle" focusable="false"></i></span>
                            <span class="radioNo {{#if default}}display-no{{/if}}"><i class="fal fa-circle" focusable="false"></i></span>
                            {{{label}}}
                        </label>
                    </div>
                {{/each}}
                </div>
                <div class="otherCheckbox">
                    <div tabindex="0" class="onecheckbox">
                        <input tabindex="-1" id="id{{filterNotValue}}" name="{{filterAltField}}" type="checkbox" class="label-override" value="{{filterNotValue}}" {{#if filterNotDefault}} checked {{/if}}/>
                        <label for="id{{filterNotValue}}" >
                            <span class="radioYes {{#unless filterNotDefault}}display-no{{/unless}}"><i class="fa fa-check-square" focusable="false"></i></span>
                            <span class="radioNo {{#if filterNotDefault}}display-no{{/if}}"><i class="fal fa-square" focusable="false"></i></span>
                            {{{filterNotLabel}}}
                        </label>
                    </div>
                    <div tabindex="0" class="onecheckbox">
                        <input tabindex="-1" id="id{{filterInsensitiveValue}}" name="{{filterAltField}}" type="checkbox" class="label-override" value="{{filterInsensitiveValue}}" {{#if filterInsensitiveDefault}} checked {{/if}}/>
                        <label for="id{{filterInsensitiveValue}}" >
                            <span class="radioYes {{#unless filterInsensitiveDefault}}display-no{{/unless}}"><i class="fa fa-check-square" focusable="false"></i></span>
                            <span class="radioNo {{#if filterInsensitiveDefault}}display-no{{/if}}"><i class="fal fa-square" focusable="false"></i></span>
                            {{{filterInsensitiveLabel}}}
                        </label>
                    </div>
                </div>
            </div>
        </div>
        {{/if}}

    </div>
</div>