<div class="tabSection">
    <div class="tabSectionTitle">
        <div><span class="tabSectionTextTitle"> {{{introName}}}</span></div> 
        <i class="fal fa-angle-right rotate" focusable="false"></i>
    </div>
    <div id="privileges" class="tabSectionBody">
        <div class="headerSection">
            {{{introTextOne}}} <br>
            {{#if introTextTwo}}
                {{{introTextTwo}}} <a href="{{linkTwo}}">{{{linkTextTwo}}}</a>. <br>
            {{/if}}
            {{#if introTextThree}}
                <br>
                <i class="fas fa-question-square" focusable="false"></i> {{{introTextThree}}} &quot;<a href="{{ linkThree }}">{{{linkTextThree}}}&quot;</a>.
            {{/if}}
        </div>

        <div id="__ALLPERMISSIONS" class="control-top allPrivileges">
            <label> <span original="{{{accessLabel}}}" class="privcount">{{{accessLabel}}}</span> {{#if accessCount}}<div class="countselect"><span original="{{{accessCount}}}" class="privcount">{{{accessCount}}}</span></div>{{/if}}<div class="curselect display-no"></div></label>
            <div class="radiobox{{#unless noSizeLimit}} heightlimited{{/unless}}"> 
                <div class="sortradio">
                    <input class="quicksearch display-no" type="text">&nbsp;<i class="fas fa-search" focusable="false"></i>&nbsp;&nbsp;&nbsp;<i class="fas fa-undo sort-current" focusable="false"></i>&nbsp;<i class="fas fa-sort-alpha-down" focusable="false"></i>&nbsp;<i class="fas fa-sort-alpha-up" focusable="false"></i>
                     {{#unless noSizeLimit}}&nbsp;<span class="isexpand"><i class="fas fa-expand isexpand" focusable="false"></i></span><span class="iscollapse display-no"><i class="fas fa-compress iscollapse" focusable="false"></i></span>{{/unless}}
                </div>
                <div class="allradio">
                {{#each accessChoice}}
                    <div tabindex="0" class="oneradio mainchoice">
                        <input tabindex="-1" id="access{{value}}" category="{{value}}" class="label-override mainitem readonly" name="CATEGORY_{{value}}" type="checkbox" value="{{value}}" checked readonly/>
                        <label for="access{{value}}" class="roleAccessReadOnly">
                            <span class="radioYes"><!--<i class="fa fa-check-square" focusable="false"></i>--></span>
                            {{{label}}}</label>
                    </div>
                    <div class="allsubchoices">
                    {{#each subChoice}}
                        <div tabindex="0" class="oneradio subchoice" label-sort="{{{label}}}" subitem="{{../value}}" idx="{{@index}}">
                            <input tabindex="-1" id="access{{value}}" subitem="{{../value}}"
                                class="label-override subitem readonly" name="__ALLPERMISSIONS" type="checkbox" value="{{value}}" checked readonly/>
                            <label for="access{{value}}">
                                <span class="radioYesReadOnly"><i class="fas fa-check-square" focusable="false"></i></span>
                                {{{label}}}</label>
                        </div>
                    {{/each}}
                    </div>
                {{/each}}
                </div>
            </div>
        </div>

    </div>
</div>