<div class="tabSection">
    <div class="tabSectionTitle">
        <div><span class="tabSectionTextTitle"> {{{introName}}}</span></div> 
        <i class="fal fa-angle-right rotate" focusable="false"></i>
    </div>
    <div id="licensePools" class="tabSectionBody">
        <div class="headerSection">
            {{{introTextOne}}} <br>
            {{#if introTextTwo}}
                {{{introTextTwo}}} <a href="{{linkTwo}}">{{{linkTextTwo}}}</a>. <br>
            {{/if}}
            {{#if introTextThree}}
                <br>
                <i class="fas fa-question-square" focusable="false"></i> {{{introTextThree}}} &quot;<a href="{{ linkThree }}">{{{linkTextThree}}}&quot;</a>.
            {{/if}}
        </div>

        <div id="licensePoolElts"></div>

        <div class="licensePool licenseTemplate">
            <div id="" class="control-select">
                <label tabindex="0" class="setonesku">
                    <label for="" >
                        <span class="labelSKU"></span>
                    </label>
                </label>
                <div class="skuinput">
                    <input id="" class="input inputReadOnly" disabled type="text" maxlength="10" size="10" name="" value="" >
                </div>
                <div class="skuinfo"><span>{{{info}}}</span></div>
            </div>
        </div>
    </div>
</div>