<div class="tabSection">
    <div class="tabSectionTitle">
        <div><span class="tabSectionTextTitle"> {{{introName}}}</span></div> 
        <i class="fal fa-angle-right rotate" focusable="false"></i>
    </div>
    <div id="privileges" class="tabSectionBody">
        <div class="headerSection">
            {{{introTextOne}}} <br>
            {{#if introTextTwo}}
                {{{introTextTwo}}} <a href="{{linkTwo}}">{{{linkTextTwo}}}</a>. <br>
            {{/if}}
            {{#if introTextThree}}
                <br>
                <i class="fas fa-question-square" focusable="false"></i> {{{introTextThree}}} &quot;<a href="{{ linkThree }}">{{{linkTextThree}}}&quot;</a>.
            {{/if}}
        </div>

        <div class="setAllButtons">
            <button class="setAll" tgt=""><i class="fas fa-ban" focusable="false"></i>{{{labelAllUnset}}}</button>
            <button class="setAll" tgt="isread"><i class="fas fa-glasses" focusable="false"></i>{{{labelAllRead}}}</button>
            <button class="setAll" tgt="isread,isedit"><i class="fas fa-pencil-alt" focusable="false"></i>{{{labelAllEdit}}}</button>
            <button class="setAll" tgt="isread,isedit,iscreate,isdelete"><i class="fas fa-user-shield" focusable="false"></i>{{{labelAllPriv}}}</button>
            {{#if accessDebugListBtn}}
                <button class="debugPrivList"><i class="fas fa-scroll" focusable="false"></i>See All Data</button>
            {{/if}}
        </div>

        <div id="{{accessField}}" class="control-top allPrivileges">
            <label> <span original="{{{accessLabel}}}" class="privcount">{{{accessLabel}}}</span> *{{#if accessCount}}<div class="countselect"><span original="{{{accessCount}}}" class="privcount">{{{accessCount}}}</span></div>{{/if}}<div class="curselect display-no"></div></label>
            <div class="radiobox{{#unless noSizeLimit}} heightlimited{{/unless}}"> 
                <div class="sortradio">
                    <div class="contentSortRadio">
                        <input class="quicksearch display-no" type="text">&nbsp;<i class="fas fa-search" focusable="false"></i>&nbsp;&nbsp;&nbsp;<i class="fas fa-undo sort-current" focusable="false"></i>&nbsp;<i class="fas fa-sort-alpha-down" focusable="false"></i>&nbsp;<i class="fas fa-sort-alpha-up" focusable="false"></i>
                        {{#unless noSizeLimit}}&nbsp;<span class="isexpand"><i class="fas fa-expand isexpand" focusable="false"></i></span><span class="iscollapse display-no"><i class="fas fa-compress iscollapse" focusable="false"></i></span>{{/unless}}
                    </div>
                </div>
                <div class="allradio">
                {{#each accessChoice}}
                    <div tabindex="0" class="oneradio mainchoice">
                        <input tabindex="-1" id="access{{value}}" category="{{value}}" class="label-override mainitem" name="CATEGORY_{{value}}" type="checkbox" value="{{value}}" {{#if default}}checked {{/if}}/>
                        <label for="access{{value}}">
                            <span class="radioYes {{#unless default}}display-no{{/unless}}"><i class="fa fa-check-square" focusable="false"></i></span>
                            <span class="radioNo {{#if default}}display-no{{/if}}"><i class="fal fa-square" focusable="false"></i></span>
                            <span class="radioMix display-no"><i class="fa fa-minus-square" focusable="false"></i></span>
                            {{{label}}}</label>
                    </div>
                    <div class="allsubchoices">
                    {{#each subChoice}}
                        <div tabindex="0" class="oneradio subchoice" label-sort="{{{label}}}" subitem="{{../value}}" idx="{{@index}}">
                            <input tabindex="-1" id="access{{value}}" subitem="{{../value}}" musthave="{{required}}"
                                isread="{{#if isread}}yes{{/if}}" isedit="{{#if isedit}}yes{{/if}}" iscreate="{{#if iscreate}}yes{{/if}}" isdelete="{{#if isdelete}}yes{{/if}}"
                                class="label-override subitem" name="{{../../accessField}}" type="checkbox" one-required="yes" value="{{value}}" {{#if default}}checked {{/if}}/>
                            <label for="access{{value}}">
                                <span class="radioYes {{#unless default}}display-no{{/unless}}"><i class="fa fa-check-square" focusable="false"></i></span>
                                <span class="radioNo {{#if default}}display-no{{/if}}"><i class="fal fa-square" focusable="false"></i></span>
                                {{{label}}}</label>
                        </div>
                    {{/each}}
                    </div>
                {{/each}}
                </div>
            </div>
        </div>

        {{#if accessDebugListBtn}}
            <div class="showDebugPrivList"></div>
        {{/if}}
    </div>
</div>