<div class="tabSection">
    <div class="tabSectionTitle">
        <div><span class="tabSectionTextTitle"> {{{introName}}}</span></div> 
        <i class="fal fa-angle-right rotate" focusable="false"></i>
    </div>
    <div id="introInfo" class="tabSectionBody">
        <div class="control">
            <label> {{{nameLabel}}}{{#unless isReadOnly}} *{{/unless}}</label>
            <input id="name" class="input{{#if isReadOnly}} inputReadOnly{{/if}}" type="text" name="{{nameField}}" value="{{nameValue}}" 
                {{#if isReadOnly}} readonly {{else}} title="{{namePopup}}"  placeholder="{{namePlaceholder}}" required {{/if}} >
        </div>
        <div class="control">
            <label> {{{infoLabel}}} </label>
            <input id="info" class="input {{#if isReadOnly}} inputReadOnly{{/if}}" type="text" name="{{infoField}}" value="{{infoValue}}"
                {{#if isReadOnly}} readonly {{else}}title="{{infoPopup}}" placeholder="{{infoPlaceholder}}"{{/if}} >
        </div>

        {{#if createNewPairButton}}
        <div class="headerSection">
             {{{introTextOne}}}  <br>
            {{#if introTextTwo}}
                {{{introTextTwo}}} <a href="{{linkTwo}}">{{{linkTextTwo}}}</a>. <br>
            {{/if}}
            {{#if introTextThree}}
                <br>
                <i class="fas fa-question-square" focusable="false"></i> {{{introTextThree}}} &quot;<a href="{{ linkThree }}">{{{linkTextThree}}}&quot;</a>.
            {{/if}}
        </div>
        <div id="createNewPair">
            <a class='button-Fill-Blue' href="#"><i class="far fa-plus"></i>{{{createNewPairButton}}}</a>
        </div>
        {{/if}}

        {{#if warningInfoOne}}
            {{#if createNewPairButton}}<br>{{/if}}
            <div class="warningInfo">
                <div>
                    <i class="{{warningInfoIcon}}"></i>
                    <p> {{{warningInfoOne}}}<br>{{{warningInfoTwo}}}</p>
                </div>
            </div>
        {{/if}}
    </div>
</div>
