<div class="tabSection">
    <div class="tabSectionTitle">
        <div><span class="tabSectionTextTitle"> {{{introName}}}</span></div> 
        <i class="fal fa-angle-right rotate" focusable="false"></i>
    </div>
    <div id="licensePools" class="tabSectionBody">
        <div class="headerSection">
            {{{introTextOne}}} <br>
            {{#if introTextTwo}}
                {{{introTextTwo}}} <a href="{{linkTwo}}">{{{linkTextTwo}}}</a>. <br>
            {{/if}}
            {{#if introTextThree}}
                <br>
                <i class="fas fa-question-square" focusable="false"></i> {{{introTextThree}}} &quot;<a href="{{ linkThree }}">{{{linkTextThree}}}&quot;</a>.
            {{/if}}
        </div>

        <div class="missingPrivilege" idAccess="{{editLicAccessVal}}">
            <div><i class="fas fa-exclamation-triangle" focusable="false"></i>{{{noEditLicAccessSetLabel}}}</div>
            <a id="setMissingPrivilege" class='button-Fill-Blue' href="#"><i class="fas fa-arrow-alt-circle-right" focusable="false"></i>{{{noEditLicAccessSetButton}}}</a>
        </div>

        <div class="setAllButtons">
            <button id="lockAll"><i class="fas fa-lock" focusable="false"></i>{{{labelEnforceAll}}}</button>
            <button id="unlockAll"><i class="fas fa-lock-open" focusable="false"></i>{{{labelFreeAll}}}</button>
            {{#if accessDebugListBtn}}
                <button class="debugLicenseList"><i class="fas fa-scroll" focusable="false"></i>See All Data</button>
            {{/if}}
        </div>

        <div class="control-select intro">
            <label class="setonesku">
                <label><span class="labelSKU intro">{{{colTitleSku}}}</span></label>
            </label>
            <div class="skuinput">{{{colTitleNb}}}</div>
            <div class="skuinfo"><span>{{{colTitleTotal}}}</span></div>
        </div>

        <div id="licensePoolElts"></div>
        
        <div class="licensePool licenseTemplate">
            <div id="" class="control-select">
                <label tabindex="0" class="setonesku">
                    <input tabindex="-1" id="" tgt-field="template" name="" type="checkbox" class="label-override" value=""/>
                    <label for="" >
                        <span class="radioYes"><i class="fa fa-check-square" focusable="false"></i></span>
                        <span class="radioNo"><i class="fal fa-square" focusable="false"></i></span>
                        <span class="labelSKU"></span>
                    </label>
                </label>
                <div class="skuinput">
                    <input id="" class="input" type="text" maxlength="10" size="10" name="" value="" pattern="[0-9]{1,10}">
                    <input id="" class="input" type="text" maxlength="10" size="10" name="" value="0" disabled >
                </div>
                <div class="skuinfo"><span>{{{info}}}</span></div>
            </div>
        </div>

        {{#if accessDebugListBtn}}
            <div class="showDebugLicenseList"></div>
        {{/if}}
    </div>
</div>