<div class="tabSection">
    <div class="tabSectionTitle">
        <div><span class="tabSectionTextTitle"> {{{introName}}}</span></div> 
        <i class="fal fa-angle-right rotate" focusable="false"></i>
    </div>
    <div id="tenantInfo" class="tabSectionBody">
        <div class="headerSection">
            {{{introTextOne}}} <br>
            {{#if introTextTwo}}
                {{{introTextTwo}}} <a href="{{linkTwo}}">{{{linkTextTwo}}}</a>. <br>
            {{/if}}
            {{#if introTextThree}}
                <br>
                <i class="fas fa-question-square" focusable="false"></i> {{{introTextThree}}} &quot;<a href="{{ linkThree }}">{{{linkTextThree}}}&quot;</a>.
            {{/if}}
        </div>

        {{#if tenantReadOnly}}   
            <div class="control has-icons-right">
                <label> {{{tenantLabel}}} *</label>
                <input id="tenantName" class="input" title="{{tenantPopup}}" type="text" name="{{tenantField}}"  placeholder="{{tenantPlaceholder}}" required disabled value="{{tenantValue}}">
                <span id="lockTenant"><i class="fa fa-lock-alt" focusable="false"></i></span>
            </div>
        {{else}}
            <div class="control">
                <label> {{{tenantLabel}}} *</label>
                <input id="tenantName" class="input" title="{{tenantPopup}}"  type="text" name="{{tenantField}}" placeholder="{{tenantPlaceholder}}" required value="{{tenantValue}}" >
                {{#if (get_main "withCreateNewPairButton")}}<input id="tenantNameVal" type="hidden" disabled name="{{tenantField}}" value="{{tenantValue}}">{{/if}}
            </div>
        {{/if}}
    </div>
</div>