
body , form { -ms-overflow-style: none;  height: 100%; background-color: #f5f5f5; }

.display-no { display: none }


.row-btns { position: fixed; bottom: 0; right: 0; z-index: 22; width: 100%; margin: 0 0 0 -1.5rem !important;}

#header { position: fixed; height: 60px; padding: 10px; top: 0; left: 0; right: 0; text-align: center; }

#containerFields { -ms-overflow-style: auto !important; overflow: auto !important; position: absolute; top: 45px; bottom: 41px; left: 0; right: 0; padding: 0 !important; height: calc(100% - 85px); }

#containerFields > .columns { margin: 20px 10px }
#containerFields > .columns > .column { padding: 5px; }
#containerFields .column.is-2 { width: 80px !important; padding: 5px;}

#control .column { background-color: transparent !important}
#control .totMax { text-align: right; padding: 5px; width: calc(100% - 180px); height: 28px; margin-bottom: 0 !important; margin-top: 0 !important;
    display: -webkit-flex; display: -moz-flex; display: -ms-flexbox;  display: -o-flex; display: flex; 
    -webkit-box-align: center; -moz-box-align: center; -ms-flex-align: center;  -webkit-align-items: center;  align-items: center;
}
.totMax .column.is-4 { width: 80px !important; padding: 5px; margin-right: -5px }
.addRemove { height: 30px; width: 100%; margin: 0 !important; padding-left: 3px  }
.marginTop { margin-top: 5px !important;  }

#addTenant.column,  #removeTenant.column {margin: 0 0 10px 12px; background-color: #336699 !important; color: #FFFFFF; height: 28px; width: 160px; cursor: pointer;
    
    display: -webkit-flex; display: -moz-flex; display: -ms-flexbox;  display: -o-flex; display: flex; 
    -webkit-box-align: center; -moz-box-align: center; -ms-flex-align: center;  -webkit-align-items: center;  align-items: center;
    /*-webkit-box-pack: center; -moz-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center; */
}
#addTenant.disabled,  #removeTenant.disabled { background-color: #e1e1e1 !important; color: #FFFFFF; cursor: default}
#addTenant svg, #removeTenant svg { margin-right: 10px }

#warningMsg { margin: 15px; padding: 10px; width: calc(100% - 30px); border: 2px solid #e1e1e1; 
    display: -webkit-flex; display: -moz-flex; display: -ms-flexbox;  display: -o-flex; display: flex; 
    -webkit-box-align: center; -moz-box-align: center; -ms-flex-align: center;  -webkit-align-items: center;  align-items: center;
    -webkit-box-pack: space-between; -moz-box-pack: space-between; -ms-flex-pack: space-between; -webkit-justify-content: space-between; justify-content: space-between; }
#warningMsg svg {min-width: 3rem !important; height: 2rem !important; color: #336699 }
#warningMsg p { padding: 0 10px}
#warningMsg input {min-width: 140px; max-width: 160px }
#warningMsg .subInfo { font-size: 0.8em; font-style: italic;}

#msgTxt { margin: 20px 15px;}
