html { height: 100% !important; max-height: 100vh !important; } 
body, html, #ytria-body, form  { padding: 0; margin: 0; height: auto; width: 100%; height: 100% !important; max-height: 100% !important; -ms-overflow-style: none !important; }
form { display: flex; flex-direction: column }

#fullAdminkBlock { height: calc(100% - 41px); overflow: auto !important ; -ms-overflow-style: auto !important; padding: 20px; }
a, a:hover  { color: #336699; border-bottom: 1px solid #336699}

/* this is to handle the Clear button on the left */ 
.row-btns.hasPosLeft { justify-content: flex-start !important; }
.control.isPosLeft { margin-right: auto !important; }

#headerSection { margin-bottom: 20px }
#headerSection p { display: block; text-align: center; margin-top: 20px; }
#headerSection svg { font-size: 1.2rem; color: #336699; margin-right: 5px}


#inputSection .control { display: flex; flex-direction: column; align-items: center; margin-bottom: 20px; width: 100% }
#inputSection .control:first-child { flex-direction: row }
#inputSection .control label { min-width: 150px !important; }
#inputSection .control > div { width: 100%; display: flex; align-items: center; position: relative }
#icon , #lock{ cursor: pointer !important; position: absolute; right: 10px; top: 0; font-size: 1.2rem; color: #88888a; height: 100%; display: flex; align-items: center }
#lock { right: 12px;}

#inputSection .controlMessage { padding-left: 150px; width: 100%; margin-top: 10px; display: flex; justify-content: space-between; align-items: center }
#inputSection .controlMessage input { margin-right: 5px}

#createNewApp { display: flex; flex-direction: column; justify-content: flex-start; }
#createNewApp div { width: 100%; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox;  display: -o-flex; display: flex; } 
#createNewApp  .button-Fill-Blue { margin: 25px 0 5px 0; line-height:1}
#createNewApp  .button-Fill-Blue svg { margin: 0 10px 0 0;color:#ffffff; font-size:1.2em;}

.isRequired { border: 3px solid #FF0000 !important; } /* important is required: bulma overwrites it...*/

#adminConsentLink { display: flex; flex-direction: column; justify-content: flex-start; }
#adminConsentLink div { width: 100%;
    display: -webkit-flex; display: -moz-flex; display: -ms-flexbox;  display: -o-flex; display: flex; } 
#adminConsentLink svg { font-size: 1.1rem; color: #336699; margin: 0 10px 0 0; }

#adminConsentLink .button-Disabled, #adminConsentLink .button-Fill-Blue { margin: 15px 0 0 0 }

#inputSection .control #resetKey { align-items: right; justify-content: flex-end; }
#resetKey a {display: inline-block;  padding:3px 7px; margin-left:7px; color:#336699; border:1px solid #dbdbdb;}
#resetKey a:hover {color:#FFFFFF; text-decoration:none; border-color:#336699; color:#336699;}
#resetKey svg {margin-left:7px;}



