/* Ytria CSS for Forms - Feedback */


html { height: 100% !important; max-height: 100vh !important;  background: #FFFFFF} 
body, html, #ytria-body, form  { padding: 0; margin: 0; height: auto; width: 100%; height: 100% !important; max-height: 100% !important; min-height: 100% !important; -ms-overflow-style: none;}
.section { padding: 0; margin: 0 }

#headerSection { position: fixed; top: 0; left: 0; right: 0; height: 65px; text-align: center; padding: 10px 18px; border-bottom: 1px solid #dbdbdb}

#openFrameBlock {  padding: 6px 18px; -ms-overflow-style: auto !important ; overflow: auto !important; position: fixed; top: 65px; bottom: 41px; left: 0; right: 0   }

button.cardBlock { padding: 5px ; background-color: #fafafa;  border:2px solid #e1e1e1 ; margin: 3px ; box-shadow: none; width: 100%; text-align: left; cursor: pointer; /*height: 90px */}
button.cardBlock:hover { border: 2px solid rgba(40,128,186,1) }
.leftColIcon { max-width: 120px; text-align: center}

.rghtColInf { padding-left: 10px}


.checkbox { width: 75%; margin-left: 20px }
.checkbox label { display: flex; align-items: flex-start; }
.checkbox b { font-weight: 600 !important; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}

.checkbox  p, .checkbox  div {  overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
#checkboxOpenFrame{ margin: 3px 10px 0 5px; opacity: 0.5 }

#blockCheckboxButtons { background-color:#f0f0f0; border-top: 1px solid #dfdfdf; position: fixed; bottom: 0; left: 0; right: 0;  height: 41px;
    display: -webkit-flex; display: -moz-flex; display: -ms-flexbox;  display: -o-flex; display: flex; 
    -webkit-box-align: center; -moz-box-align: center; -ms-flex-align: center;  -webkit-align-items: center;  align-items: center; 
  }
#blockCheckboxButtons :not(:last-child).field { margin-bottom: 0}
.row-btns { background: none; border: none}

  
 .field.has-addons { align-items: center}