/* Ytria CSS for Forms - Licenses */

html { height: 100% !important; max-height: 100vh !important; overflow: hidden ;   }
body, html, #ytria-body, #ytria-body > .section,  #ytria-body > .section > .containerY, form  {  padding: 0; margin: 0;   height: auto ; width: 100%; height: 100% !important; max-height: 100% !important;}
form { display: flex; flex-direction: column; }

.hidden {  display: none;  }
.section { padding: 0; margin: 0 }
.modified { position: absolute; left: -5px; top: -1px !important; background-color: #acacac; color: #FFFFFF; padding: 2px; margin: 0 !important; height: 20px  !important; width: 20px  !important; }

h4 { padding: 10px 20px; color: #262626; text-align: center; height: 50px; border-bottom: 1px solid #dbdbdd }

#licenseList {  overflow: auto !important ; -ms-overflow-style: auto !important; padding: 5px; height: calc(100% - 91px)}


.switchSection { padding: 1%; width: 100%}
.parenSectionTitle, .sectionSubPanels {  margin: 5px; position: relative;
  /*  display: -webkit-flex; display: -moz-flex; display: -ms-flexbox;  display: -o-flex; display: flex;  
  -webkit-box-pack: justify; -moz-box-pack: justify; -ms-flex-pack: justify; -webkit-justify-content: space-between; justify-content: space-between;
  -webkit-box-align: center; -moz-box-align: center; -ms-flex-align: center;  -webkit-align-items: center;  align-items: center; */ 
}
.parenSectionTitle { border-top: 1px solid #acacac; padding-bottom: 10px; margin-bottom: 0 ; width: 100%; font-size: 12px; color: #6a6a6a; font-weight: bold }
.parenSectionTitle span:first-child { display: flex;  align-items: center; }
.parenSectionTitle span { position: relative;}
.parenSectionTitle > span > svg { margin: 5px 10px 5px 20px; width: 20px; height: 20px; }
.sectionSubPanels { margin: 10px 30px 20px 30px; } 
.subPanel { display: none}

.currentUsed {  background: #4ca07c; margin: 6px 10px 3px 0; height: 15px; width: 15px; border-radius: 50%;}
.fullRed .currentUsed { background-color: #ca4c33 }  
.fullOrange .currentUsed { background-color: #db8f2c } 

.usedTotal { color: #4ca07c}
.fullRed .usedTotal { color: #ca4c33 }  
.fullOrange .usedTotal { color: #db8f2c } 
.mainLabel { flex-direction: column; } 
.subLabel { font-size: 10px; padding-left: 5px; }

/*********************************/
.parenSectionTitle .title { display: flex; }
.usedTotal { font-size: 10px}
/********************************/
.rotateIcon { -ms-transform: rotate(90deg); 
  -webkit-transform: rotate(90deg); 
  transform: rotate(90deg);
}
.control { float: right; margin: 10px } 
  
/* Switch style ***************************************************************/
.switch { position: relative; display: inline-block; width: 36px; height: 20px;} 
.switch input {display:none;}
.slider {   position: absolute;  cursor: pointer;  top: 0;  left: 0;  right: 0;  bottom: 0;  background-color: #ccc;  -webkit-transition: .4s;  transition: .4s;}
.slider:before {  position: absolute;  content: ""; height: 16px;  width: 16px; left: 2px;  bottom: 2px;  background-color: white;  -webkit-transition: .4s;  transition: .4s;}
input:checked + .slider {  background-color: #336699 ;}
input:indeterminate + .slider { background: yellow}
input:focus + .slider {  box-shadow: 0 0 1px #336699 ;}
input:disabled + .slider  { background-color: rgba(126,126,126, .2)}
input:checked + .slider:before { transform: translateX(15px); } 
/* Rounded sliders */
.slider.round {  border-radius: 20px;}
.slider.round:before {  border-radius: 50%;}


/********************************************/

.switch-toggle input { display: none } 
.switchDisabled, .switchDisabledFull {width: 48px; height: 20px; border-radius: 3px; position: absolute; right: 0; top: 10px; background: #878787; display: inline-block; 
  display: flex;  justify-content: center; align-items: center; }
.switchDisabledFull { background: #ca4c33; color: #FFFFFF }

.switch-toggle { background: #878787; width: 48px; height: 18px; position: absolute; right: 0; top: 7px; cursor: pointer; margin-right: 25px;
  display: flex; justify-content: center; align-items: center;}
.switch-toggle svg { color: #FFFFFF; height: 12px; top: 0; width: 1.5rem !important }

/***************************/
.noOn .switch-toggle.mix::after {content: ""; position: absolute; height: 18px; width: 25px; background-color: rgba(205, 205, 205,0.8); right: 0; top:-3px; z-index: 1; }
/***************************/

.switch-toggle.mix { background: #808080; border: 3px solid #CDCDCD}
.switch-toggle.mix label.mix{ background: #707070; height: 18px; width: 20px; border-left: 3px solid #FFFFFF; border-right: 3px solid #FFFFFF}
.switch-toggle.mix label.on svg, .switch-toggle.mix label.off svg {display: none}

 

.switch-toggle.on { background: #4ca07c; border: 3px solid #CDCDCD}
.switch-toggle.on label.on { background: #707070; height: 18px; border-left: 3px solid #FFFFFF; right: -4px;}
.switch-toggle.on label.off svg {display: none}
.switch-toggle.on label.on svg { position: relative; left: -37px; display: block; top: 3px }
/*.switch-toggle.twoSt.on label.on { margin-left: 10px }*/

.switch-toggle.off { background: #ca4c33; border: 3px solid #CDCDCD}
.switch-toggle.off label.off { background: #707070; height: 18px; border-right: 3px solid #FFFFFF;  left: -4px;}
.switch-toggle.off label.on svg {display: none}
.switch-toggle.off label.off svg { position: relative; right: -23px; display: block; top: 3px }
/*.switch-toggle.twoSt.off label.off { margin-right: 8px; }*/

.switch-toggle.na svg {display: none }

.switch-toggle label {  position: relative;  margin: 1px; display: inline-block; width: 18px; height: 18px; z-index: 2;} 
.switch-toggle.twoSt label {  position: relative;  margin: 1px; display: inline-block; }

