 <div>
    <div id="headerSection">
        {{#if introTextOne}}
            {{{introTextOne}}} <br>
        {{/if}}
        {{#if introTextTwo}}
            {{{introTextTwo}}} <a href="{{linkRegister}}">{{{linkRegisterText}}}</a>. <br>
        {{/if}}
        {{#if introTextThree}}
            <br>
            <i class="fas fa-question-square" focusable="false"></i> {{{introTextThree}}} &quot;<a href="{{ linkThree }}">{{{linkTextThree}}}&quot;</a>.
        {{/if}}
    </div>
    <div id="inputSection">

        <!-- Azure Subscriptions / Cosmos DB Account-->
        <div id="subscriptions" srcField="{{subscriptionField}}" class="control-top">
            <label> {{{subscriptionLabel}}} *<div class="curselect display-no"></div></label>
                <div class="radiobox{{#unless noSizeLimit}} heightlimited{{/unless}}"> 
                <div class="sortradio">
                      <input class="quicksearch display-no" type="text"> <i class="fas fa-search" focusable="false"></i>&nbsp;&nbsp;&nbsp;<i class="fas fa-undo sort-current" focusable="false"></i> <i class="fas fa-sort-alpha-down" focusable="false"></i> <i class="fas fa-sort-alpha-up" focusable="false"></i>
                     {{#unless noSizeLimit}}&nbsp;<span class="isexpand"><i class="fas fa-expand isexpand" focusable="false"></i></span><span class="iscollapse display-no"><i class="fas fa-compress iscollapse" focusable="false"></i></span>{{/unless}}
                </div>
                <div class="radiobox">
                {{#each subscriptionChoice}}
                    <div tabindex="0" class="oneradio" label-sort="{{{label}}}" idx="{{@index}}">
                        <input tabindex="-1" id="subs{{value}}" name="{{../subscriptionField}}" required type="radio" class="label-override" value="{{value}}"  {{#if default}} checked {{/if}}/>
                        <label for="subs{{value}}">
                            <span class="radioYes {{#unless default}}display-no{{/unless}}"><i class="fa fa-check-circle" focusable="false"></i></span>
                            <span class="radioNo {{#if default}}display-no{{/if}}"><i class="fal fa-circle" focusable="false"></i></span>
                             {{{label}}}
                        </label>
                    </div>
                {{/each}}
                </div>
            </div>
        </div>


        <!-- Azure Resource Groups -->
        {{#each allResGroupChoice}}
        <div id="{{resgroupField}}" class="control-top display-no">
            <label> {{{../allResGroupLabel}}} *<div class="curselect display-no"></div></label>
            <div class="radiobox{{#unless noSizeLimit}} heightlimited{{/unless}}"> 
                <div class="sortradio">
                      <input class="quicksearch display-no" type="text"> <i class="fas fa-search" focusable="false"></i>&nbsp;&nbsp;&nbsp;<i class="fas fa-undo sort-current" focusable="false"></i> <i class="fas fa-sort-alpha-down" focusable="false"></i> <i class="fas fa-sort-alpha-up" focusable="false"></i>
                     {{#unless noSizeLimit}}&nbsp;<span class="isexpand"><i class="fas fa-expand isexpand" focusable="false"></i></span><span class="iscollapse display-no"><i class="fas fa-compress iscollapse" focusable="false"></i></span>{{/unless}}
                </div>
                <div class="allradio">
                {{#each resgroupChoice}}
                    <div tabindex="0" class="oneradio" label-sort="{{{label}}}" idx="{{@index}}">
                        <input tabindex="-1" id="resGroup{{value}}" name="{{../resgroupField}}" required type="radio" class="label-override" value="{{value}}"  {{#if default}} checked {{/if}}/>
                        <label for="resGroup{{value}}">
                            <span class="radioYes {{#unless default}}display-no{{/unless}}"><i class="fa fa-check-circle" focusable="false"></i></span>
                            <span class="radioNo {{#if default}}display-no{{/if}}"><i class="fal fa-circle" focusable="false"></i></span>
                            {{{label}}}
                        </label>
                    </div>
                {{/each}}
                </div>
            </div>
        </div>
        {{/each}}

        <!-- Azure Resource Groups -->
        {{#each allCosmosDBChoice}}
        <div id="{{cosmosDBField}}" class="control-top display-no">
            <label> {{{../allCosmosDBLabel}}}</label>
            <div class="info">{{{cosmosDBLabel}}}</div>
        </div>
        {{/each}}


    </div>  
</div>