 <div>
    <div id="headerSection">
        {{#if introTextOne}}
            {{{introTextOne}}} <br>
        {{/if}}
        {{#if introTextTwo}}
            {{{introTextTwo}}} <a href="{{linkRegister}}">{{{linkRegisterText}}}</a>. <br>
        {{/if}}
        {{#if introTextThree}}
            <br>
            <i class="fas fa-question-square" focusable="false"></i> {{{introTextThree}}} &quot;<a href="{{ linkThree }}">{{{linkTextThree}}}&quot;</a>.
        {{/if}}
    </div>
    <div id="inputSection">

        {{#if createNewButton}}
        <div id="createNewInfo">
            <a class='button-Fill-Blue newAccount' href="#"><i class="fas fa-plus"></i>{{{createNewButton}}}</a>
            {{#if selectExistButton}}
            <a class='button-Fill-Blue selAccount' href="#"><i class="fas fa-list"></i>{{{selectExistButton}}}</a>
            {{/if}}
        </div>
        {{/if}}

        {{#if uriReadOnly}}   
            <div class="control has-icons-right">
                <div>
                    <label> {{{uriLabel}}} </label>
                    <input id="cosmosuri" class="input {{class}}" title="{{uriPopup}}" type="text" placeholder="{{{uriPlaceholder}}}" required disabled value="{{uriValue}}">
                    {{#unless uriNoUnLock}}<span id="lock"><i class="fa fa-lock-alt"></i></span>{{/unless}}
                    <input id="cosmosurival" type="hidden" name="{{uriField}}" value="{{uriValue}}">
                </div>
            </div>
        {{else}}
            <div class="control">
                <div>
                    <label> {{{uriLabel}}} </label>
                    <input id="cosmosuri" class="input" title="{{uriPopup}}"  type="text" name="{{uriField}}" placeholder="{{{uriPlaceholder}}}" required value="{{uriValue}}" >
                </div>
            </div>
        {{/if}}
        <div class="control has-icons-right">
            <div>
                <label> {{{keyLabel}}} </label>
                <input id="cosmoskey" class="input" title="{{keyPopup}}" type="password" name="{{keyField}}" placeholder="{{{keyPlaceholder}}}" required value="{{keyValue}}" >
                <span id="icon"><i class="fa fa-eye" focusable="false"></i></span>
            </div>
        </div>

        <div id="warningInfo">
            <div>
                <i class="{{warningInfoIcon}}"></i>
                <p> {{{warningInfoOne}}}<br>{{{warningInfoTwo}}}</p>
            </div>
            <a class='button-Fill-Blue' href="#"><i class="fa fa-check-circle"></i>{{{testConnectButton}}}</a>
            <span class="button-Disabled" id='disabledTestConnect'><i class="fa fa-check-circle"></i>{{{testConnectButton}}}</span>
        </div>

        <div id="control">
            <div id="keyValidationMsg">
                <i class="{{keyValidationIcon}}"></i>
                <p>{{{keyValidationMsg}}} <span class="subInfo"><br>{{{keyValidationSubMsg}}}</span></p>
                <input class="input" type="text" name="{{keyValidationField}}" required id="keyValidation"
                     title="{{{keyValidationPopup}}}" required pattern="[A-Za-z0-9]{5,}"> 
            </div>
            <div id="msgTxt">{{{labelFooter}}}</div>

            {{#if deleteOldAccount}}
            <div id="deleteOldAccount">
                {{{deleteOldAccount}}}<a class="deleteOldAcc" href="#"><i class="fas fa-broom"></i>{{{deleteOldAccountLink}}}</a>
            </div>
            {{/if}}
        </div>
    </div>  
</div>