<div class="section" ondragstart="return false;">
	<div id="mainContainer" class="containerY">
		<form id="{{main.id}}" method="{{main.method}}" action="{{main.action}}">
			{{#if main.isSearch}}
			<div id="searchSession">
                <div class="searchBox">
                    <div><i class="fas fa-search" focusable="false"></i></div>
                    <div><input class="quicksearch" type="text"></div>
                </div>
			</div>
			{{/if}}
			{{#if main.isUltraSelect}}
			<div id="selUltraSession">
                <div class="title">{{{main.introTitle}}}</div>
                <div class="description">{{{main.introDesc}}}</div>
			</div>
			{{/if}}
			{{#if main.isCustomerSelect}}
			<div id="selCustomerSession">
                <div class="title">{{{main.introTitle}}}</div>
                <div class="description">
                    <div><i class="fas fa-search" focusable="false"></i></div>
                    <div><input class="quicksearch" type="text"></div>
                </div>
			</div>
			{{/if}}
            {{#if main.isRoleSelect}}
			<div id="regularSession" class="{{#unless main.isRoleSelect}}display-no{{/unless}}{{#if main.isWithCancel}}withExitSession{{/if}}">
				{{#each items}}
					{{#if (eq this.hbs "RegularSession")}}
						{{sub_hbs this}}
					{{/if}}
					{{#if (eq this.hbs "ExitSession")}}
						{{sub_hbs this}}
					{{/if}}
				{{/each}}
			</div>
            {{/if}}
            
			<div id="sessionList" class="{{#if main.isSearch}}withSearchSession{{/if}}{{#if main.isCustomerSelect}}customerSelect{{/if}}{{#if main.isUltraSelect}}ultraSelect{{/if}}{{#if main.isRoleSelect}}roleSelect{{/if}}{{#if main.isWithCancel}} withExitSession{{/if}}">
				{{#each items}}
					{{#if (eq this.hbs "SessionCard")}}
						{{sub_hbs this}}
					{{/if}}
				{{/each}}
	   		</div>
			<div id="newsession" class="{{#if main.isCustomerSelect}}display-no{{/if}}{{#if main.isUltraSelect}}display-no{{/if}}{{#if main.isRoleSelect}}display-no{{/if}}">
				{{#each items}}
					{{#if (eq this.hbs "SessionAdd-User-Or-Admin")}}
						{{sub_hbs this}}
					{{/if}}
				{{/each}}
	   		</div>

			{{#if main.isUltraSelect}}
   			<div id="skipUltraSession">
                <button name="{{main.btnValue}}" type="submit">
                    <div class="cardBlock columns is-full is-mobile">
                        <div class="column is-2 leftColIcon alignCenter">
                            <i class="fas fa-fast-forward" focusable="false"></i>
                        </div>
                        <div class="column rghtColInf alignCenter has-text-left">
                            <h5 class="sessionEmail blue"> {{{main.btnLabel}}}  </h5>
                            <div class="sessionDate gray">{{{main.btnDesc}}}</div>
                        </div>
                    </div>
                </button>
            </div>
			{{/if}}
			{{#if main.isRoleSelect}}
			<div class="footerSelRole">
				<div class="control">
					<input id="showScopeData" name="{{main.optionField}}" type="checkbox" value="{{main.optionVal}}" checked>
					<label for="showScopeData">
						<div>
							<span class="iconYes">
								<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="31px"
									height="28px" viewBox="0 0 31 28" style="enable-background:new 0 0 31 28;" xml:space="preserve">
									<!--<style type="text/css">.st0{fill:#FFFFFF;stroke:#3471B0;stroke-width:1.5;stroke-miterlimit:10;} .st1{fill:#3471B0;}.st2{fill:#787878;}.st3	{fill:#FFFFFF;}</style>-->
									<defs></defs>
									<circle fill="#FFFFFF" stroke="#3471B0" stroke-width="1.5" stroke-miterlimit="10" cx="22.5" cy="17.35" r="6.65"/>
									<rect x="22" y="22" fill="#3471B0" width="1" height="4"/>
									<rect x="22" y="9" fill="#3471B0" width="1" height="4"/>
									<rect x="15.5" y="15.5" transform="matrix(-1.836970e-16 1 -1 -1.836970e-16 33.5 1.5)" fill="#3471B0" width="1" height="4"/>
									<rect x="28.5" y="15.5" transform="matrix(-1.836970e-16 1 -1 -1.836970e-16 46.5 -11.5)" fill="#3471B0" width="1" height="4"/>
									<rect x="22" y="14" fill="#3471B0" width="1" height="7"/>
									<rect x="22" y="14" transform="matrix(-1.836970e-16 1 -1 -1.836970e-16 40 -5)" fill="#3471B0" width="1" height="7"/>
									<g>
									<polygon fill="#787878" points="16,27 15,27 15,22 14,22 14,12 16,12 20,2 25,2 19.27,9 21.66,9 29,1.84 29,0 0,0 0,2 12,13.59 12,28 
									17,28 17,23 16,23"/>
									<polygon fill="#FFFFFF" points="20,2 15.45,12 16,12 16,11 17,11 17,10 18,10 18,9 19.27,9 25,2"/>
									<polygon fill="#FFFFFF" points="15,27 16,27 16,24 16,22 15,22" />
									</g>
								</svg>
							</span>
							<span class="iconNo display-no">
								<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="31px"
									height="28px" viewBox="0 0 31 28" style="enable-background:new 0 0 31 28;" xml:space="preserve">
									<!--<style type="text/css">.st0{fill:#FFFFFF;stroke:#CDCDCD;stroke-width:1.5;stroke-miterlimit:10;} .st1{fill:#CDCDCD;}.st2{fill:#CDCDCD;}.st3	{fill:#CDCDCD;}</style>-->
									<defs></defs>
									<circle class="st0" cx="22.5" cy="17.35" r="6.65"/>
									<rect x="22" y="22" class="st1" width="1" height="4"/>
									<rect x="22" y="9" class="st1" width="1" height="4"/>
									<rect x="15.5" y="15.5" transform="matrix(-1.836970e-16 1 -1 -1.836970e-16 33.5 1.5)" class="st1" width="1" height="4"/>
									<rect x="28.5" y="15.5" transform="matrix(-1.836970e-16 1 -1 -1.836970e-16 46.5 -11.5)" class="st1" width="1" height="4"/>
									<rect x="22" y="14" class="st1" width="1" height="7"/>
									<rect x="22" y="14" transform="matrix(-1.836970e-16 1 -1 -1.836970e-16 40 -5)" class="st1" width="1" height="7"/>
									<g>
									<polygon class="st2" points="16,27 15,27 15,22 14,22 14,12 16,12 20,2 25,2 19.27,9 21.66,9 29,1.84 29,0 0,0 0,2 12,13.59 12,28 
									17,28 17,23 16,23 	"/>
									<polygon class="st3" points="20,2 15.45,12 16,12 16,11 17,11 17,10 18,10 18,9 19.27,9 25,2 	"/>
									<polygon class="st3" points="15,27 16,27 16,24 16,22 15,22 	"/>
									</g>
								</svg>
							</span>
							<div class="afterLabel"><span>{{{main.optionLabel}}}</span>{{{main.optionLabelSecondLine}}}</div>
						</div>
					</label>
				</div>
			</div>
			{{/if}}
	
		</form>
	</div> 
</div>
<script language="javascript">
	$(document).ready(function() {
        // Compute the effective size of the dialog
        // and provide that to the application
        checkContentHeight(true);
	});
</script>


