<button name="{{btnValue}}" type="submit">
    <div class="cardBlock columns is-full is-mobile">
        <div class="column is-2 leftColIcon alignCenter">
            {{#if (eq type "standard")}}
                <i class="fal fa-portrait" focusable="false"></i>
            {{else}} 
                <i class="fal fa-user" focusable="false"></i>
            {{/if }}   
        </div>
        <div class="column rghtColInf alignCenter has-text-left">
            <h5 class="sessionEmail blue"> {{{label}}}  </h5>
            <div class="sessionDate gray">{{{desc}}}</div>
        </div>
    </div>
</button>
<div class="introSelRole">{{{introrole}}}</div>
