{{#each choices}}
    <button name="{{buttonName}}" type="submit" {{#if disabled}}disabled{{/if}} {{#if (count_greaterthan ../choices 2)}}class="fixSize"{{/if}}>
            <div class="leftColIcon">
                {{#if (eq type "ultraadmin")}}
                    <i class="fal fa-shield-alt" focusable="false"></i>
                {{/if }}   
                {{#if (eq type "advanced")}}
                    <i class="fal fa-user" focusable="false"></i>
                {{/if }}   
                {{#if (eq type "standard")}}
                    <i class="fal fa-portrait" focusable="false"></i>
                {{/if }}
                {{#if (eq type "elevated")}}
                    <i class="fal fa-user-shield" focusable="false"></i>
                {{/if }}   
            </div>
            <div class="gray">
                {{buttonText}}
            </div>
    </button>
{{/each}}