<button name="{{btnValue}}" type="submit" {{#if disabled}}disabled{{/if}}>
    <div class="cardBlock columns is-full is-mobile">
        <div class="column is-2 leftColIcon alignCenter">
            {{#if (eq type "standard")}}
                <i class="fal fa-portrait" focusable="false"></i>
            {{else if (eq type "advanced")}}
                <i class="fas fa-user" focusable="false"></i>
			{{else if (eq type "elevated")}}
                <i class="fas fa-user-shield" focusable="false"></i>
            {{else if (eq type "ultraadmin")}}
                <i class="fas fa-shield-alt" focusable="false"></i>
            {{else if (eq type "role_user")}}
                <i class="far fa-user-tag" focusable="false"></i>
            {{else if (eq type "role_select")}}
                <i class="fas fa-tag" focusable="false"></i>
            {{else if (eq type "partneradvanced")}}
                <i class="far fa-handshake" focusable="false"></i>
            {{else if (eq type "partnerelevated")}}
                <i class="fad fa-handshake" focusable="false"></i>
            {{else if (eq type "customer")}}
                <i class="far fa-handshake" focusable="false"></i>
            {{else}} 
                <i class="fal fa-question-circle" focusable="false"></i>
            {{/if}}
        </div>
        <div class="column rghtColInf alignCenter has-text-left">
            <h5 class="sessionEmail blue">
                <span class="sessionEmailIntro">{{{get_main 'introSession'}}}</span><span class="searchcontent">{{{sessionName}}}</span>
            </h5>
            {{#if (eq type "customer")}}{{#if domainName}}
            <div class="realusername">
                <span class="realusernameIntro">{{{get_main 'introDOmain'}}}</span><span class="searchcontent">{{{domainName}}}</span>
            </div>
            {{/if}}{{/if}}
            {{#if isrole}}<div class="realusername"><span class="searchcontent">{{{realusername}}}</span></div>{{/if}}
            {{#if last-session}}<div class="sessionDate gray"> <span> {{get_main "label"}} </span> <span class="searchcontent">{{{last-session}}}</span> </div>{{/if}}
            {{#if roledesc}}<div class="roleDesc"><span class="searchcontent">{{{roledesc}}}</span></div>{{/if}}
            {{#if (eq type "customer")}}{{#if contractType}}
            <div class="roleDesc"><span class="searchcontent">{{{contractType}}}</span></div>
            {{/if}}{{/if}}
        </div>
    </div>
</button>