/**********************************************************************************************************************************/
ZZZdiv { border: 0.1px solid red; }
/**********************************************************************************************************************************/

/* used in SVG */
.fillWhite{ fill: white; }
.fillPurple{ fill:#3F209E; }
#debug_trace { font-size: small; color: red; padding-left: 20px; padding-bottom: 20px; }
#show_debug_trace { font-size: small; font-weight: 400; color: red; padding: 10px; cursor: pointer; }

/* from former catalog.css */
body#ytria-body {
	-webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    height: 100%;
    /* to reset default from bulma.css */
    font-size: 16px;
}
html { background-color: #e5e8ea; height: 100%; }
body#ytria-body a { color: #333333; }
body#ytria-body .svg-inline--fa.fa-w-4 { width: 1.25em; }
h2 { display: flex; flex-direction: column; justify-content: center ; align-items: center; }

/* from former home.css */
body, html, #ytria-body, #ytria-body  > .section , .containerY, form { width: 100%; height: 100%; -ms-overflow-style: none; overflow: visible; }
.section { padding: 0; }
body { background-color:#e5e8ea; }

/* generic  */
.display-no { display: none; }
.display-yes { display: block; }

#home-container .wrapper { height: 100%; }
#home-container .wrapper .wrap-form { width: 100%; height: 100%; overflow: hidden; position: relative; }

/**********************************************************************************************************************************/
/* FIRST SCREEN (former Home)  */
/**********************************************************************************************************************************/

#firstScreen { width: 100%; height:100%; background-color: #f2f2f2; 
    display: flex; flex-direction: row; justify-content: space-between;  }

/* Left Section: Welcome & Menu & logo *************************************************************************************/
#leftSection { width:450px; height:100%; min-width: 300px; display: flex; flex-direction: column;  }

#leftSectionTop { width: 100%; height:100%; min-height: 250px; margin-bottom: 5px; background-color: #DED7F3; display:flex; flex-direction: column; justify-content: space-between; }

/* Header of Left section */
.leftSectHeader { width: 100%; }
.leftSectMainTitle { width: 100%; color: #3F209E; font-size: 32px; font-weight: 400; text-align: center; 
    padding-top: 30px; padding-bottom: 20px; }

.leftSectSubTitle { width: 100%; padding-left:10px;  display: flex; flex-direction: row; align-items: center; overflow: auto; } /* flex-wrap: wrap;  */
.leftSectIcon { width: 100px; height: 100px; font-size: 50px; color: #3F209E; text-align: center;  }

.leftSectIntro { width: 100%; padding-right:5px; display: flex; flex-direction: column; flex-wrap: wrap; align-items: stretch; }
.leftSectIntro .leftSectIntroTxt { padding-bottom: 15px; font-size: 14px; }
#leftSectAction { min-height: 36px; height: 36px; line-height: 36px; width: 150px;
    text-align: center; color: white; background-color: #3F209E;
    font-size: 14px; font-weight: 600; cursor: pointer; }

/* Footer of Left section */
.leftSectFooter { width: 100%; position: relative; }
.leftSectMenuToggle { width: 100%; min-height: 30px; height: 30px; line-height: 30px;  background-color: #3F209E; 
    display:flex; flex-direction: row; justify-content: space-between; cursor: pointer; }
.leftSectMenuToggle .menuLabel { line-height: 30px; font-size: 14px; padding-left: 22px; color: white; }
.leftSectMenuToggle .menuIcon, .leftSectMenuToggle .menuIconNo { line-height: 30px; width: 20px; }
.leftSectMenuToggle .menuIcon svg { color: white; }

.leftSectMenuToggle.myDataMenuDisabled { /* color: #DED7F3; */ color: red; cursor: default; }
.leftSectMenuToggle.myDataMenuDisabled .menuIconNo { line-height: 30px; width: 20px; }
.leftSectMenuToggle.myDataMenuDisabled .menuLabel { color: #999999; cursor: default; }
.leftSectMenuToggle.myDataMenuDisabled .menuIconNo svg { color: #999999; }

.leftSectMenuItems { width: 100%; position: absolute; }
.oneMenuButton { width: 100%; background-color: white; border-top: 0.5px solid #bdbdbd; padding-left: 22px;
    line-height: 30px; font-size: 14px; z-index: 4;}
.oneMenuButton:hover { background-color: #DED7F3; color: #3F209E; }

#leftSectionBottom { width: 100%; height:100%; background-color: #3F209E; color: white;
    display:flex; justify-content: center; align-items: center; flex-direction: column; margin-top: 5px; }
#leftSectionBottom div { padding-top: 15%; }

/* Right Section -- access to Modules ***************************************************************************************/
#rightSection { width:100%; height:100%;  display: flex; flex-direction: column;  }
.rightSectionRow { width:100%; height:100%; min-height: 200px;  display: flex; flex-direction: row;  }

.oneTile { width: 100%; height:100%; min-width: 250px;
    padding: 10px; display: flex; justify-content: center; align-items: center; }
.oneTile > div { width: 100%; height:100%; background-color: white; text-align: center; position: relative;
    display:flex; justify-content: flex-start; align-items: center; flex-direction: column; }

/* .oneTileAction.withAction a { width: 100% }; */
.oneTileAction { width: 100%; height: 100%; min-Height: 140px; display:flex; justify-content: flex-start; align-items: center; flex-direction: column; }
.oneTileAction a { width: 100%;}
.oneTileIcon { height:55px; font-size: 32px; font-weight: 600; padding-top: 15px; padding-bottom: 0px; }
.oneTileIcon svg { font-weight: 900; }
.oneTileTitle { font-size: 22px; font-weight: 600; }
.oneTileLine { width: 80%; border-bottom: 2px solid; }
.oneTileTextIntro { width: 100%; padding: 10px 5% 0 5%; font-size: 16px; font-weight: 700;   }

.oneTileIntro { width: 80%; height: 100%; overflow-y: auto;
	-webkit-overflow-scrolling: touch; -ms-overflow-style: -ms-autohiding-scrollbar; }
.oneTileIntro .oneTileAllButtons { width: 100%; }
.oneTileButton { font-size: 14px; font-weight: 500; padding-top: 5px; }
.oneTileButton:hover { font-weight: 700; text-decoration: underline; }

.oneTileHelp { position: absolute; z-index: 5; width: 30px; height: 30px; bottom: 10px; right: 10px;
    background-color: #8f8f8f; font-weight: 400; font-size: 20px; text-align: center; line-height: 30px; color:white;  }
.oneTileHelp:hover { background-color: #DED7F3; color: #3F209E; cursor: pointer; }

.oneTilePopup { position: absolute; z-index: 1; top: 10px; bottom: 10px; right:10px; left:10px; background-color: #FFFFFF; box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25); }
.oneTilePopupIntro { width:100%; padding: 15px 20px 0 20px ;  font-size: 12px; color: #6A6A6A; line-height: 16px;text-align: center;  }
.oneTilePopupTitle { width:100%; padding: 15px 20px; font-weight: bold; font-size: 12px; color: #6A6A6A; line-height: 16px; text-align: center; }
.oneTilePopupItemList { width: 100%; list-style: none; display:flex;  flex-direction: row; flex-wrap: wrap; }
.oneTilePopupItem { padding-top: 10px; padding-left: 60px; text-align: left; width:50%; font-size: 10px; color: #6A6A6A; line-height: 13px; }

/**********************************************************************************************************************************/
/* JOB CATALOG  -- catalog  */
/**********************************************************************************************************************************/

#big_tiles_content{ width: 100%; }

/* the filter class applied to hide a tile */
.filterDiv.keyFilterOut {
	display: none;
}

#catalog-container{  width: 100%; height: 100%; -ms-overflow-style: none; overflow: visible; overflow-x: hidden; position: relative; }
.button-wrapper{ text-align: center; }

/******************************************************************/
/**** Top Header *****/
#top-header {
    width: 100%;
    height: 70px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: #3F209E;
    color: #ffffff;
    z-index: 666;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
#shadow-background{
    width: 100%;
    height: 10px;
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    background-color: #e5e8ea;
    z-index: 555;
}

/* back to home icon */
#back-home {
    z-index: 777;
    width: 70px;
    height: 70px;
    border-right: 1px solid #ffffff;
    text-align: center;
    font-size: 32px;
    line-height: 70px;
    cursor: pointer;
}
#back-home svg { font-size: 32px; line-height: 70px; }

.apply-change {
    z-index: 777;
    height: 70px;
    margin-left: 10px;
}
.apply-change svg {
    margin-top: 25px;
    font-size: 20px;
}
.apply-change span {
    position: relative;
    top: -3px;
    /* margin-left: 8px; */
    padding-left: 5px;
    display: inline-block;
    font-weight: 500;
    font-size: 14px;
}
.apply-change button {
    background-color: #3F209E; /* #DED7F3 */
    color: #ffffff;
    border: none;
    cursor: pointer;
}

.header-title { 
    /* you can't override a flex justify-content */
    /* so I make this full width, so I can center its content */
    /* and the other element has a z-index to make them over this one */
    position: absolute;
    top: 0;
    height: 70px;
    right:0;
    left:0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.header-title h2 {
    background-color: #f2f2f2;
    color: #6a6a6a;
    padding: 0 30px 0;
    font-size: 20px;
    line-height: 40px;
    height: 40px;
    font-weight: 400;
    cursor: pointer;
    border: 0px;
}
.header-title h2:first-of-type {
    border-radius: 50px 0px 0px 50px;
}
.header-title h2:last-of-type {
    border-radius: 0px 50px 50px 0px;
}
.header-title h2.title-active {
    background-color: #DED7F3;
    color: #3F209E;
    cursor: default;
}

/* Search Bar */
#search_bar_content{
    z-index: 777;
    position: absolute;
    top: 0;
    right: 46px;
    height: 70px;
}
#search_bar_content li {
    display: inline-block;
    height: 35px;
    margin-top: 18px;
    line-height: 35px;
    background: #ffffff;
}
#search_bar_content .input_container{
    margin-right: -3px;
}
#search_bar_content li input{
    border: none;
    background: none;
    padding-left: 8px;
    padding-right: 8px;
}
#search_bar_content li input::-ms-clear {display: none;}

#search_bar_content li button{
    border: none;
    background: none;
    font-size: 16px;
    width: 35px;
    color: #828282;
    cursor: pointer;
}

/******************************************************************/
/**** Categories & Feedback button *****/ 
#left-side {
    background: #ffffff;
    width:20%;
    position: absolute;
    top: 80px;
    bottom: 0;
    left: 0;
    padding-bottom: 60px;
}

#categories {
    background-color: #ffffff;
    top: 80px;
    height: 100%;
    overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

#categories ul {  display:none; background-color: #ffffff; }
#categories li {
	border-bottom: solid 1px rgba(233, 232, 235, 1); padding: 10px 32px 10px 30px;
    font-size: 14px; cursor: pointer; text-decoration: none; position: relative; 
    background-color: #ffffff;
}
#categories li:hover { color: #3F209E; }

#categories li.isChildren { padding-left: 40px; }

#categories li svg.checkbox { position: absolute; left: 10px; top: 50%; margin-top: -7px; }
#categories li.isChildren svg.checkbox { left: 20px; }
#categories li svg.caret { position: absolute; right: 18px; top: 50%; margin-top: -7px; }

#categories li.active { color: #3F209E; background-color: #DED7F3; }

#left-side-feedback {
    width:100%;
    position: absolute;
    height: 60px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    text-align: center;
}
#left-side-feedback #button-feedback {
    background-color: #3F209E;
    padding: 12px 24px;
    color: #ffffff;
    border: none;
    font-size: 14px;
    line-height: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}
/* #left-side-feedback #button-feedback:hover {
    background-color: #ffffff;
    color: #3F209E;
    border: 0.5px solid #3F209E;
} */

/**** Right side ****/
#right-side{
    position: absolute;
    width: 80%;
    right: 0;
    top: 80px;
    bottom: 0;
}

/******************************************************************/
/**** Filter buttons  *****/

/* BEWARE -- this is MODIFIED by JavaScript*/
#button_bar {
    width: 95%;
    height: 50px;
    top: 0;
    margin-left: 20px;
	background-color: #DED7F3;
	padding: 0 15px;
	color: #3F209E;
    z-index: 999;
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    min-width: 780px; /* to avoid that it goes on next line, the nowrap doesn't work as expected */
}
#button_bar-background{
    width: 100%;
    height: 50px;
    top: 80px;
    right: 0;
    background-color: #e5e8ea;
    z-index: 888;
    position: absolute;
}

#button_bar div {
    line-height: 50px;
}
#button_bar span {
    font-size: 16px;
}
#button_bar .main_button_contain.introfilters {
    font-weight: 600;
    margin-left: 0px;
    margin-right: 20px;
}
#button_bar .main_button_contain.jobcategory {
    margin-left: 20px;
    margin-right: 20px;
}
/* #button_bar .main_button_contain span {
    margin-top: 5px;
    display: inline-block;
} */

#button_bar button.btn {
    margin-left: 5px;
    padding:5px 10px;
    border: 0.5px solid #3F209E;
    background: none;
    color:#333333;
    font-size: 16px;
    font-weight: normal;
}
#button_bar button.btn:hover { cursor: pointer; }
#button_bar button.btn svg { color: #333333; width: 16px; }

#button_bar button.btn.activefam { background: #3F209E; color: #ffffff; border: 0.5px solid #3F209E; }
#button_bar button.btn.activefam:hover { cursor: pointer; }
#button_bar button.btn.activefam svg { background: #3F209E; color: #ffffff;  }

#button_bar button.btn.activeact { background: #3F209E; color: #ffffff; border: 0.5px solid #3F209E; }
#button_bar button.btn.activeact:hover { cursor: pointer; }
#button_bar button.btn.activeact svg { background: #3F209E; color: #ffffff;  }

/* #button_bar .main_button_contain, #allFamilyBtns, .divider, #allActionBtns { float: left; } */
#button_bar #allFamilyBtns { padding-left: 20px; padding-right: 20px; }
#button_bar .divider { width: 1px; height: 50px; position: relative; background: #3F209E; }
.activated .fa-secondary { opacity: 1; }

#button_bar button.btn .tooltipBtn {
    position: absolute;
    font-size: small;
    top: -45%;
    margin-left: -20px;
    background-color: #ffffff;
    border: 0px solid #4a4a4a;
    z-index: 999;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    display: none;
    color: #333333;
    padding: 5px;
}


/* ***************** !!! Default is home_content !!! */
#big_tiles_content {
	display: none;
}
#catalogJobs {
    margin-left: 15px;
    margin-top: 70px;
}

/******************************************************************/
/** Contextual Menu **/
.threedotcontent {
    position: absolute;
    top: 70%;
    left: 20px;
    background-color: #ffffff;
    border: 0px solid #4a4a4a;
    z-index: 999;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    display: none;
}
.threedotcontent li.submenu {
    text-align: left;
    font-size: 12px;
    line-height: 14px;
    padding: 6px 12px;
}
.threedotcontent li.submenu.notactive {
    color: #B4B4B4;
}
.threedotcontent a li.submenu {
    color: #000000;
    padding: 5px 10px;
}
.threedotcontent a li.submenu:hover {
    background: #DED7F3;
}
.threedotcontent li.submenu.mgtAJL { 
    color: #000000;
    padding: 5px 10px;
 }
 .threedotcontent li.submenu.mgtAJL:hover {
    background: #DED7F3;
    cursor: pointer;
}
.threedotcontent li.submenu.mgtAJL.notactive {
    color: #B4B4B4;
}
.threedotcontent li.submenu.mgtAJL.notactive:hover {
    background: #ffffff;
    cursor: default;
}

.fa-ellipsis-v {
    position: absolute;
    bottom: 10px;
    left: 4px;
    font-size: 20px;
    color: #3F209E;
    z-index: 12;
}
.fa-ellipsis-v:hover { cursor: pointer; }
.fa-ellipsis-v.isEmpty { color: #999999; }
.fa-ellipsis-v.isEmpty:hover { cursor: default; }

/******************************************************************/
/** Tooltip BigBox Tile **/
.list .tooltipTile {
    position: absolute;
    top: 85%;
    left: 100px;
    right: 10px;
    background-color: #ffffff;
    border: 0px solid #4a4a4a;
    z-index: 999;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
    display: none;
    padding: 10px;

    /* overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar; */
}
.list:hover .tooltipTile { display: block; }
.list:hover .tooltipTile.NoShow { display: none; }
.list .tooltipTile div { padding-top: 5px; border-top: 0.1px dotted #4a4a4a; padding-bottom: 5px; }

.list .tooltipTile .info_title { font-weight: 600; border-top: none; }
.list .tooltipTile .info_desc { padding-top: 5px; }
.list .tooltipTile .info_cat { padding-top: 5px; }
.list .tooltipTile .info_keyword { padding-top: 5px; padding-bottom: 0; border-bottom: none; }


/******************************************************************/
 /***** List Boxes   *****/
.list {
	position: relative;
	width: 47%;
    float: left;    
	background-color: #ffffff;
    margin: 5px 10px;
    text-align: left;
    padding: 10px 20px;
	font-size: 12px;
    min-height: 75px;
    border: 1.5px solid #ffffff;
}
.list.notInAJL {
    color: #999999;
}


.list .svg {
    color: #ffffff;
    position: relative;
    padding: 5px 10px;
    margin: 0px 10px;
    float: left;
    text-align: center;
    width: 50px;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 24px;
    border-right: 2px solid;
}
.list .svg .removeJob {
    color: red;
    position: absolute;
    top: 0;
    left: 0;
}
.list .svg .addJob {
    color: #3F209E;
    position: absolute;
    top: 0;
    left: 0;
}

.content_list {
    min-height: 55px;
}
.content_list_main {
	position: relative;
	display: none;
    top:0;
    left:0;
    transform:none;
    width: 95%;
}
.content_list_main .contentlist {
    min-height: 55px;
}
.list .title_list,
.list .description {
    overflow: hidden;
	text-overflow: ellipsis;
	-webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
.list .title_list {
    padding-top: 10px;
    white-space: nowrap;
    color: #333333;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
}
.list .description {
    max-height: 28px;
    line-height: 14px;
    color: #333333;
    font-size: 10px;
    font-weight: normal;
    margin-right: -1em;
    padding-right: 1em;
}
/* this is to manage a pseudo elipsis, because CSS cannot handle multilines */
/* .list .description:before {
    content: '. . .';
    position: absolute;
    right: 0;
    bottom: 0;
}
.list .description:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1.1em;
    height: 1em;
    margin-top: 0.2em;
    background: white;
} */

.list.notInAJL .title_list,
.list.notInAJL .description {
	color: #999999;;
}



/* Favorite Icon */
.fa-star.full {
    position: absolute;
    left: 10px;
    top: 10px;
	color: #3F209E;
	font-size: 12px;
}
.fa-star.empty {
    position: absolute;
    left: 5px;
    top: 5px;
	color: #B5B4B4;
	font-size: 20px;
}
.fa-star.full .fa-secondary {
	opacity: 1;
}
.fa-star.empty .fa-secondary {
	opacity: 0;
}

/* icon and buttons on bigbox & listbox */
.fa-bookmark {
    float: right;
    color: #828080;
    font-size: 12px;
}
.fa-copyright {
    float: right;
    color: #3F209E;
    font-size: 12px;
}

/******************************************************************/
/***** Dashboard Boxes   *****/

.oneBox, .oneJobBox {
    position: relative;
}

#left_third_box, #left_second_box, #left_first_box { 
	width: 63%;
    background-color: #ffffff;
    height: 210px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 20px;
    float: left;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
#right_third_box, #right_second_box, #right_first_box {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	width: 30%;
    background-color: #ffffff;
    height: 210px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 20px;
	float: left;
}
#right_first_box, #left_first_box {
	margin-top: 70px;
}

#left_first_content, #left_second_content, #left_third_content, #right_first_content, #right_second_content, #right_third_content {
	overflow-y: scroll;
    height: 164px;
	-webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
#left_first_Jobs, #right_first_Jobs, #left_second_content, #right_second_Jobs, #left_third_Jobs, #right_third_Jobs {
    margin-left: 15px;
}

/* Achtung! this is ALSO set in Bulma... */
.title {
    width: 100%;
	border-bottom: 1px solid #E9E8EB;
	padding: 15px;
    font-size: 14px;
	color:#535252;
	font-weight: 400;
}
/* bulma counter action */
.title:not(:last-child) { 
	margin-bottom:0px;
}

/******************************************************************/
/***** FAV boxes   *****/
.fav {
    position: relative;
	float:left;
	width: 235px;
    font-size: 12px;
    margin-top:0.5rem;
    margin-right:0.5rem;
    border: 1.5px solid #ffffff;
}
.fav.notInAJL {
    color: #999999;
}
.content_fav .svg {
	float:left;
    color: #ffffff;
    position: relative;
	text-align: center;
    padding: 5px 5px;
    border-right: 1px solid;
    width: 37px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
}
.content_fav .svg .removeJob {
    color: red;
    position: absolute;
    top: 5px;
    left: 5px;
}
.content_fav .svg .addJob {
    color: #3F209E;
    position: absolute;
    top: 5px;
    left: 5px;
}
.content_fav .fav_content {
    float: left;
    margin-top: 10px;
    width: 70%;
    margin-left: 10px;
}
.fav_corps {
	white-space: nowrap;
    overflow: hidden;
	text-overflow: ellipsis;
	-webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
.fav_titleOnly {
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
	-webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    line-height: 16px;
    max-height: 32px;
    margin-right: -1em;
    padding-right: 1em;
}
.fav_titleOnly:before {
    content: '. . .';
    position: absolute;
    right: 0;
    bottom: 0;
}
.fav_titleOnly:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1.1em;
    height: 1em;
    margin-top: 0.2em;
    background: white;
}



.fav.filterDiv:hover {
    color: #ffffff;
}

/* add button */
/* .add_contain {
    color: #ffffff;
    float: right;
    background-color: #9076CB;
    height: 20px;
    text-align: center;
    width: 20px;
    border-radius: 20px;
    padding-top: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    cursor: pointer;
} */
/* scheduled section */
.fa-clock {
    margin-right: 10px;
}


