html { height: 100% !important; max-height: 100vh !important; overflow: hidden ; } 
body, #ytria-body, form  { padding: 0; margin: 0; height: auto; width: 100%; height: 100% !important; max-height: 100% !important; -ms-overflow-style: none !important; }
form { display: flex; flex-direction: column }

#mainBlock { height: calc(100% - 41px); overflow: auto !important ; -ms-overflow-style: auto !important; padding: 20px; }
a, a:hover  { color: #336699; border-bottom: 1px solid #336699}

/* this is to handle the Clear button on the left */ 
.row-btns.hasPosLeft { justify-content: flex-start !important; }
.control.isPosLeft { margin-right: auto !important; }

#headerSection { margin-bottom: 20px }
#headerSection p { display: block; text-align: center; margin-top: 20px; }
#headerSection svg { font-size: 1.2rem; color: #336699; margin-right: 5px}

#inputSection .control { display: flex; flex-direction: column; align-items: center; margin-bottom: 20px; width: 100% }
#inputSection .control:first-child { flex-direction: row }
#inputSection .control label { min-width: 150px !important; }
#inputSection .control > div { width: 100%; display: flex; align-items: center; position: relative }
#icon , #lock{ cursor: pointer !important; position: absolute; right: 10px; top: 0; font-size: 1.2rem; color: #88888a; height: 100%; display: flex; align-items: center }
#lock { right: 12px;}

#warningInfo { display: flex; flex-direction: column; justify-content: flex-start; }
#warningInfo div { width: 100%; display: -ms-flexbox;  display: flex; } 
#warningInfo svg { font-size: 1.7rem; color: #336699; margin: 2px 10px 0 0; }

#warningInfo .button-Disabled, #warningInfo .button-Fill-Blue { margin: 15px 0 0 0 }
#warningInfo .button-Disabled svg, #warningInfo .button-Fill-Blue svg { font-size: inherit; color: inherit; margin: 0 10px 0 0; }

#createNewInfo { display: flex; flex-direction: row;  justify-content: center;  }
#createNewInfo div { width: 100%; display: -ms-flexbox;  display: flex; } 
#createNewInfo  .button-Fill-Blue { margin: 0 10px 15px 10px; }
#createNewInfo  .button-Fill-Blue svg { margin: 0 10px 0 0; font-size:1.2em}

#deleteOldAccount { width: 100%; margin: 0 10px 15px 0;  text-align: right;}
.deleteOldAcc {display: inline-block; border:1px solid #3e6db5; padding:3px 10px; margin-left:7px; color:#3e6db5}
.deleteOldAcc:hover {background-color:#3e6db5; color:#FFFFFF}
.deleteOldAcc svg {margin-right:5px}

#keyValidationMsg { margin: 15px 0; padding: 10px; width: 100%; border: 1px solid #e1e1e1; 
    display: -ms-flexbox;  display: flex; 
    -webkit-box-align: center; -ms-flex-align: center; align-items: center;
    -webkit-box-pack: space-between; -ms-flex-pack: space-between; justify-content: space-between; }
#keyValidationMsg svg {min-width: 3rem !important; height: 2rem !important; color: #336699 }
#keyValidationMsg p { padding: 0 10px}
#keyValidationMsg input {min-width: 140px; max-width: 160px }
#keyValidationMsg .subInfo { font-size: 0.8em; font-style: italic;}
#msgTxt { margin: 20px 0; /*text-align: center*/}


/*** cosmosDBSelect ***/
.display-no { display: none !important}

.control-top { position: relative;
    display: -ms-flexbox;  display: flex; 
   -ms-flex-direction: row; flex-direction: row;
   -ms-flex-align: top; align-items: top;
   -ms-flex-pack: top; justify-content: top; }
.control-top { background-color: #f5f5f5; margin-bottom: 20px; width: 100%; }
.control-top > label { margin-left: 10px; margin-top: 3px;  min-width: 200px !important; }

/* list of radio and checkbox */
.radiobox { display: -ms-flexbox; display: flex; 
    -ms-flex-direction: column; flex-direction: column;
    -ms-flex-align: left; align-items: left; 
    -ms-flex-pack: left; justify-content: left; }
 .radiobox { background-color: #FFFFFF; padding: 3px; width: 100%; }
 .radiobox .oneradio { width: 100%; display: flex; height: 20px !important;  align-items: left; position: relative }   
 
 .sortradio { position: absolute; top: 0px; right: 0px; margin: 10px; color: #777777; z-index: 66; background-color:#FFFFFF }
 .sortradio svg:hover { cursor: pointer; }
 .sort-current { color: #bbbbbb; }
 .sortradio svg.sort-current:hover { cursor: default; }
 .quicksearch  { font-size: 11px; height: 19px; color: #777777; border: 1px solid #999999; }
 
  .curselect { color: #336699; margin: 2px; } /* float:left;  */
 .isRequired { border: 3px solid #FF0000 !important; } /* important is required: bulma overwrites it...*/
 
 .heightlimited { max-height: 250px; }
 .heightlimited { overflow-y: scroll !important; -ms-overflow-style: hidden !important; }
 .heightlimited .sortradio { right: 20px; }
 
/* this handle a nice radio and  checkbox buttons */
input.label-override { overflow: hidden; border: 0; clip: rect(0 0 0 0); height: 1px;
    margin: -1px; padding: 0; position: absolute; width: 1px; }
input.label-override ~ label { margin: 2px 5px 2px 0; }
input.label-override ~ label svg { font-size: 0.9rem; margin: 2px 10px 0; }
input.label-override ~ label span { display: inline-block; width: 30px; vertical-align: baseline; }
input.label-override ~ label svg { color: #336699; }
input.label-override ~ label:hover { cursor: pointer; color: #336699; }

.info { background-color:#FFFFFF; width: 100%; padding-top: 3px; padding-bottom: 10px; padding-left: 10px; }