<div class="field has-addons row-btns">
{{#each choices}}
	<div class="control">
		<input class="button {{class}} {{#if ( eq attribute "post")}} post {{/if}}" type="{{#if type}}{{type}}{{^}}submit{{/if}}" name="{{name}}" value="{{label}}" 
		{{#if (eq (get_main "mode") "edit")}} {{#if ( eq attribute "post")}} disabled {{/if}}{{/if}}
		{{#if (eq (get_main "mode") "read")}} {{#if ( eq attribute "post")}} disabled {{/if}}{{/if}}
		{{#if ( eq attribute "cancel")}} formnovalidate {{/if}}
		>
	</div>
{{/each}}

</div>