 <div>
    <div id="headerSection">
        <p  class="bold gray"> {{{introTitle}}}</p>
    </div>
    <div id="inputSection">
        <div class="control">
            <label> {{{tenantLabel}}} </label>
            <input id="tenantName" class="input {{class}}" title="{{tenantPopup}}"  type="text" name="{{tenantField}}" placeholder="{{tenantPlaceholder}}" required value="{{tenantValue}}" {{#if tenantReadOnly}}disabled{{/if}} pattern="^[a-zA-Z0-9][a-zA-Z0-9-.]*[a-zA-Z0-9]$">
        </div>

        <div class="control">
            <div>
                <label> {{{appIDLabel}}} </label>
                <input id="appID" class="input {{class}}" title="{{appIDPopup}}"  type="text" name="{{appIDField}}" placeholder="{{appIDPlaceholder}}" required value="{{appIDValue}}" {{#if appIDReadOnly}}disabled{{/if}} pattern="[a-zA-Z0-9-]+">
            </div>
        </div>
    {{#if RedirectURLField }}
        <div class="control has-icons-right">
            <div>
                <label> {{{RedirectURLLabel}}} </label>
                <input id="redirectURL" class="input {{class}}" title="{{RedirectURLPopup}}" type="text" name="{{RedirectURLField}}"  disabled required value="{{RedirectURLValue}}" >
                <span id="lock"><i class="fa fa-lock-alt"></i></span>
            </div>
        </div>
    {{/if}}

    </div>  
</div>