{{#with main}}
    <form id="{{id}}" method="{{method}}" action="{{action}}" ondragstart="return false;">
        <div id="header">
            <h2 data-exceedMsg="{{exceedMessage}}">{{{labelIntro}}}</h2>
            <h3>{{{labelSubIntro}}}</h3>
        </div>
{{/with}}

    <div id="containerFields">
        {{#each items}}
            {{#unless (eq this.hbs 'Button')}}
                    {{sub_hbs this}}
            {{/unless}}
        {{/each}}
        <div id="control">
        {{#with main}}
            <div class="addRemove columns is-mobile">
                 <div id="addTenant" class="disabled column is-4"><i class="fas fa-plus"></i>{{{adduserMsg}}}</div>
                <div class="column is-4 columns is-mobile totMax">
                    <div class="column">
                        <label>{{#unless noQuantity}}{{{totalMsg}}}{{/unless}}</label>
                    </div>
                    <div class="column is-4">
                        &nbsp;<input id="total" class="input{{#if noQuantity}} display-no{{/if}}" type="text" readonly>
                    </div>
                </div>
            </div>
            <div class="addRemove columns is-mobile marginTop">
                <div id="removeTenant" class="disabled column is-4"><i class="fas fa-minus"></i>{{{removeusrMsg}}}</div>
                <div class="column is-4 columns is-mobile totMax">
                    <div class="column">
                        <label for="">{{#unless noQuantity}}{{{maxMsg}}}{{/unless}}</label>
                    </div>
                    <div class="column is-4">
                        <input id="maxQty" class="input{{#if noQuantity}} display-no{{/if}}" type="text" value={{maxQuantity}} readonly> 
                    </div>
                </div>
            </div>

            <div id="warningMsg">
                <i class="{{warningIcon}}"></i>
                <p>{{{warningMsg}}} <span class="subInfo"><br>{{{warningSubMsg}}}</span></p>
                <input class="input" type="text" name="{{keyValidation}}" title="{{{keyVal_popup}}}" required pattern="[A-Za-z0-9]{5,}">
            </div>
            <div id="msgTxt">{{{labelFooter}}}</div>
        {{/with}}
        </div>
       
    </div>
        {{!-- this is in case we want to handle the input na the button in a different way --}}
        {{#each items}}
            {{#if (eq this.hbs 'Button')}}
                {{sub_hbs this}}
            {{/if}}
        {{/each}}
        {{#with main}}
            <div id="addTenantField" class="display-no">
                <div class="control columns is-mobile">
                    <div class="column tenant">
                        <input class="input " type="text" name="" value="{{currentTenant}}" required disabled 
                            placeholder="{{{get_main 'tenantName_PlaceHolder'}}}" title="{{{tenantName_popup}}}"
                            pattern="[a-zA-Z0-9._%+-]+\.[a-zA-Z0-9.-]+\.[a-zA-Z0-9._%+-]+">
                    </div>
                    {{#if noQuantity}}
                        <input class="input display-no" type="text" disabled name="" value="0">
                    {{else}}
                    <div class="column is-2 quantity">
                        <input class="input" type="number" name="" required disabled
                            placeholder="{{{get_main 'quantity_PlaceHolder'}}}" min="1" max="{{get_main 'maxQuantity'}}">
                    </div>
                    {{/if}}
                </div>                
            </div>
        {{/with}}
  
 </form>
