<div class="control columns is-mobile">
    <div class="column">
        <input class="input " type="text" name="tenant{{id}}" required value="{{tenant}}" 
            placeholder="{{{get_main 'tenantName_PlaceHolder'}}}" title="{{{get_main 'tenantName_popup'}}}"
            pattern="[a-zA-Z0-9._%+-]+\.[a-zA-Z0-9.-]+\.[a-zA-Z0-9._%+-]+">
    </div>
    {{#if (neq (get_main "noQuantity") "")}}
        <input class="input display-no" type="text" disabled name="" value="0">
    {{else}}
    <div class="column is-2 quantity">
        <input class="input" type="number" name="quantity{{id}}" required value="{{quantity}}" 
            placeholder="{{{get_main 'quantity_PlaceHolder'}}}" min="1" max="{{get_main 'maxQuantity'}}">
    </div>
    {{/if}}
</div>