<div class="blockInfOneCol">
    <div class="noPadding">
        <h2 style="color: {{ colorSection }}"> <i class="{{ headerIcon }} " aria-hidden="true"></i> {{{blockInfTitle}}} </h2>
    
        <div class="columns is-mobile blockInfElts">
            <div class="blockBtns">
                <div class="ButtonsWrapper">
                    {{#each mainButtons}}
                        <div class="blockInfEltSmlLink"  style="background-color: {{ ../colorSection }};  "
                        onMouseOver="this.style.background = '{{../colorHover}}' "
                        onMouseOut="this.style.background = '{{../colorSection}}' ">
                                <a href=" {{ blockInfActionUrl }} " style=" color: #FFFFFF;"><h5> {{{buttonTitle}}}</h5> </a>
                        </div>
                    {{/each}}
                </div>

                <div class="smlButtonsWrapper">
                {{#each buttons}}
                    <div class="blockInfEltLink autoHeight"   style="background-color: {{ ../colorSection }};  "
                        onMouseOver="this.style.background = '{{../colorHover}}' "
                        onMouseOut="this.style.background = '{{../colorSection}}' ">
                        <a href=" {{ buttonUrl }} " style=" color: #ffffff">
                            <h5> {{{buttonTitle}}}</h5> 
                        </a>
                    </div>
                {{/each}}
                </div>
            </div>
        </div>

    </div>

    <div class="onHoverBlock" > 
        {{#if titleIcons}}
            <div class="blockBtnsIcons">
                <div class="iconsTitle">
                    <h3> {{{titleIcons}}}</h3>
                </div>

                <div> 
                    <p> {{{subtitleIcons}}}</p>
                </div>

                <div class="iconBlock columns is-mobile is-multiline"> 
                    {{#each icons}}
                        <div class="column is-half">
                            <i class="fa fa-5x {{faIconBlock}}" aria-hidden="true"></i>
                            <span> {{{blockInformation}}}</span>
                        </div>
                    {{/each}}
                </div>

            <svg version="1.1"
                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
                x="0px" y="0px" width="234px" height="344.4px" viewBox="0 0 234 344.4" style="enable-background:new 0 0 234 344.4;"
                xml:space="preserve" preserveAspectRatio="none">
                <style type="text/css">
                    .st0{fill:none;stroke:#D3D3D3;stroke-miterlimit:10;}
                </style>
                <defs></defs>
                <polygon class="st0" points="233.5,0.5 0.5,0.5 0.5,327.9 100.4,327.9 117,343.7 133.6,327.9 233.5,327.9 "/>
            </svg>

        </div>
        {{/if}}
    </div>
    <div class="questionMark" >
        <i class="fas fa-question-circle" style="color:{{ colorSection }}"></i>
        <p>{{knowMoreTxt}}</p>
    </div>
</div>