    <div class="mainInf columns is-mobile">
        <div id="mainBlockBorder">
            <div id="border">
                <i class="globe {{ expandIcon }}"></i>
            </div>
            <div>
                <i class="{{ headerIcon }}"></i>
                <span id="globeTxt"> {{{mainInfTitle}}} </span>
            </div>
        </div>
        <div class="column noPadding hiddenBlock" id="mainInfId">
            <h2> <i class="{{ headerIcon }} " aria-hidden="true"></i>  <span  id="mainInfRightTitle">{{{mainInfTitle}}}</span></h2>
            <div id="mainInfRight" class="column is-full">
                {{#each icons}}
                    <a href=" {{ mainInfActionUrl }} ">
                        <div class="mainInfElt columns is-mobile">
                            <i class="colorMainInf column is-3 fa  {{ faIconMain }} " aria-hidden="true"></i> 
                            <h4 > {{{mainInformation}}}</h4>
                        </div>
                    </a>
                    <div>
                        <div class="mainInfElt columns is-mobile">
                            <i class="colorMainInf column is-3 fa  {{ faIconMain }} " aria-hidden="true"></i> 
                            <h4 > {{{mainInformation}}}</h4>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>   



