<div class="section"  ondragstart="return false;">
	<div class="containerY">
		<form id="{{main.id}}" method="{{main.method}}" action="{{main.action}}">
			<div class="" style="height:100%;"> 
                <div id="bgArc"> 
                    <div>
                        <div id="arc">
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                viewBox="0 0 1440 40" style="enable-background:new 0 0 1440 40;" xml:space="preserve" preserveAspectRatio="none">
                                <g id="Page-1_1_">
                                    <g id="Artboard-2_1_">
                                        <path id="Rectangle-12_1_" class="svg_bg" d="M0,40C235,1,479.1,1,718.5,1s483.2,0,721.5,39H0z"/>
                                    </g>
                                </g>
                            </svg>
                        </div>
                        <div id="bg"></div>
                    </div>
                </div>

				<div class="blockLeft jobs-container displayNO">
					<div class="row-header">
                        {{#unless main.jobs.expandedtitle}}<h2><i class="far fa-mouse-pointer fa-1x"></i></h2>{{/unless}}
						{{#if main.jobs.expandedtitle}}<h1>{{main.jobs.expandedtitle}}</h1>{{/if}}
						<div>
                            <div id="header-text">
							    <div>{{{main.jobs.expandedText1}}}</div><div>{{{main.jobs.expandedText2}}}</div>
						    </div>
                        </div>
						<a class="open-btn" href="#"><i class="fad fa-times-circle fa-3x"></i></a>
					</div>
					<div class="row-block">
                        {{#each main.jobs.catalog}}
                        <div class="row-catalog" {{#unless default}} style="display: none"{{/unless}} id="catalogNb{{index}}">
                            <div class="jobInfOneCol PrevNext{{#if prev}} active" goto="left" tgt="catalogNb{{prev}}{{/if}}">
                                <div><i class="fa fa-caret-left fastretch"></i></div>
                            </div>
                            {{#each elements}}
                            <div class="jobInfOneCol">
                                {{#if blockInfActionUrl}}<a href="{{blockInfActionUrl}}">{{/if}}
                                    <div class="jobInfBlock{{#if blockInfActionUrl}} active{{/if}}">
                                        <div class="jobInfTextTop">{{{blockActionText1}}}</div>
                                        <div class="svgJob">
                                            <svg id="Main" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" {{#unless svg1_1}}class="displayNO"{{/unless}}>
                                                <path class="svg_bg" d="M104,23A23.07,23.07,0,0,0,81,0H23.08a23.07,23.07,0,0,0-23,23V81a23.07,23.07,0,0,0,23,23h9.84V99.25H23.08A18.27,18.27,0,0,1,4.83,81V23A18.27,18.27,0,0,1,23.08,4.71H81A18.27,18.27,0,0,1,99.24,23v5.71H104Z"/>
                                                <path class="svg_bg" d="M59.42,40.15a1.9,1.9,0,0,0-1.11-1.37,2.8,2.8,0,0,0-1.1-.21,2.38,2.38,0,0,0-1.89.87,3.91,3.91,0,0,0-.74,2.61,3.28,3.28,0,0,0,.8,2.49,2.65,2.65,0,0,0,1.83.73,2.33,2.33,0,0,0,1.64-.58,2.45,2.45,0,0,0,.79-1.5H57.43v-1.6h4v5.12H60.09l-.2-1.19a4.83,4.83,0,0,1-1,1,3.67,3.67,0,0,1-1.94.48,4.05,4.05,0,0,1-3.11-1.31A5,5,0,0,1,52.54,42a5.3,5.3,0,0,1,1.27-3.72,4.9,4.9,0,0,1,6.3-.47,3.41,3.41,0,0,1,1.27,2.3Z"/>
                                                <path class="svg_bg" d="M65.8,46.71h-2V37.17h2Z"/>
                                                <path class="svg_bg" d="M68.33,37.18h6.8v1.68H70.31v2.19h4.23v1.66H70.31v4h-2Z"/>
                                                <path class="svg_bg" d="M24.65,15.58a2.84,2.84,0,1,0,2.84,2.83A2.84,2.84,0,0,0,24.65,15.58Z"/>
                                                <path class="svg_bg" d="M27.49,22.67H21.81A2.84,2.84,0,0,0,19,25.51v2.84H30.33V25.51A2.84,2.84,0,0,0,27.49,22.67Z"/>
                                                <path class="svg_bg" d="M30.33,11.32a2.84,2.84,0,1,0,2.83,2.84A2.84,2.84,0,0,0,30.33,11.32Z"/>
                                                <path class="svg_bg" d="M33.16,18.41H28.91v3.07a2.83,2.83,0,0,1,2.69,2.61H36V21.25A2.84,2.84,0,0,0,33.16,18.41Z"/>
                                                <path class="svg_bg" d="M16.14,14.16A2.84,2.84,0,1,0,19,11.32,2.84,2.84,0,0,0,16.14,14.16Z"/>
                                                <path class="svg_bg" d="M16.14,18.41h4.25v3.07a2.83,2.83,0,0,0-2.69,2.61H13.3V21.25A2.84,2.84,0,0,1,16.14,18.41Z"/>
                                                <path class="svg_bg" d="M73.22,56.64a18.11,18.11,0,1,0,18.1,18.1A18.12,18.12,0,0,0,73.22,56.64ZM59.86,74.74a13.34,13.34,0,0,1,2.53-7.8L81,85.57A13.34,13.34,0,0,1,59.86,74.74Zm24.46,7.41L65.8,63.64A13.35,13.35,0,0,1,84.32,82.15Z"/>
                                                <path class="svg_bg" d="M95.12,45.9V37.3H86.33V28.69H42.43V104H104V45.9Zm4.13,53.36H47.18V33.44h34.4v5.09h0V50.64H99.25Z"/>
                                            </svg>
                                            <svg id="Main" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" {{#unless svg1_2}}class="displayNO"{{/unless}}>
                                                <path class="svg_nofill" d="M70.6,4.75H23.54A18.81,18.81,0,0,0,4.75,23.54V70.6A18.81,18.81,0,0,0,23.54,89.39h41.6V62.17H89.39V23.54A18.81,18.81,0,0,0,70.6,4.75Z"/>
                                                <path class="svg_bg" d="M23.54,89.39A18.81,18.81,0,0,1,4.75,70.6V23.54A18.81,18.81,0,0,1,23.54,4.75H70.6A18.81,18.81,0,0,1,89.39,23.54V62.17h4.75V23.54A23.62,23.62,0,0,0,70.6,0H23.54A23.62,23.62,0,0,0,0,23.54V70.6A23.61,23.61,0,0,0,23.54,94.14h41.6V89.39Z"/>
                                                <path class="svg_bg" d="M100.77,71.69H92.69V68.46a3.23,3.23,0,0,0-3.23-3.23H79.77a3.23,3.23,0,0,0-3.23,3.23v3.23H68.46a3.23,3.23,0,0,0-3.23,3.23v6.46h3.23v19.39A3.24,3.24,0,0,0,71.69,104H97.54a3.24,3.24,0,0,0,3.23-3.23V81.38H104V74.92A3.23,3.23,0,0,0,100.77,71.69Zm-21-3.23h9.69v3.23H79.77Zm17.77,32.31H71.69V81.38H97.54Zm3.23-22.62H68.46V74.92h32.31Z"/>
                                                <rect class="svg_bg" x="83.43" y="85.57" width="2.9" height="11.6"/>
                                                <rect class="svg_bg" x="77.64" y="85.57" width="2.9" height="11.6"/>
                                                <rect class="svg_bg" x="89.23" y="85.57" width="2.9" height="11.6"/>
                                                <path class="svg_bg" d="M36.93,34.26a5.39,5.39,0,1,1-5.39,5.39,5.4,5.4,0,0,1,5.39-5.39m0-4a9.39,9.39,0,1,0,9.4,9.39,9.4,9.4,0,0,0-9.4-9.39Z"/>
                                                <path class="svg_bg" d="M46.33,57.74a5.4,5.4,0,0,1,5.39,5.39v5.39H22.15V63.13a5.4,5.4,0,0,1,5.39-5.39H46.33m0-4H27.54a9.4,9.4,0,0,0-9.39,9.39v9.39H55.72V63.13a9.4,9.4,0,0,0-9.39-9.39Z"/>
                                                <path class="svg_bg" d="M55.72,16.18a9.39,9.39,0,1,0,9.39,9.39A9.38,9.38,0,0,0,55.72,16.18Z"/>
                                                <path class="svg_bg" d="M65.11,39.65H51V49.82a9.34,9.34,0,0,1,8.92,8.62H74.5V49.05A9.4,9.4,0,0,0,65.11,39.65Z"/>
                                            </svg>
                                            <svg id="Main" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" {{#unless svg1_3}}class="displayNO"{{/unless}}>
                                                <rect class="svg_bg" x="60.04" y="52" width="7.19" height="5.39"/>
                                                <rect class="svg_bg" x="70.82" y="52" width="7.19" height="5.39"/>
                                                <rect class="svg_bg" x="81.61" y="52" width="7.19" height="5.39"/>
                                                <rect class="svg_bg" x="60.04" y="60.99" width="7.19" height="5.39"/>
                                                <rect class="svg_bg" x="70.82" y="60.99" width="7.19" height="5.39"/>
                                                <rect class="svg_bg" x="81.61" y="60.99" width="7.19" height="5.39"/>
                                                <path class="svg_bg" d="M92.4,34H87v-3.6h-3.6V34h-18v-3.6h-3.6V34H56.44a3.61,3.61,0,0,0-3.6,3.59v36H96v-36A3.61,3.61,0,0,0,92.4,34Zm0,36h-36V48.4h36Zm-36-25.17v-7.2h5.39v3.6h3.6v-3.6h18v3.6H87v-3.6H92.4v7.2Z"/>
                                                <rect class="svg_bg" x="23.26" y="2.03" width="17.3" height="5.45"/>
                                                <rect class="svg_bg" x="23.19" y="11.71" width="38.06" height="5.45"/>
                                                <path class="svg_bg" d="M14.16,4.75l0,9.41-9.43,0,0-9.43h9.43m0-4.75H4.73A4.75,4.75,0,0,0,0,4.73v9.45a4.75,4.75,0,0,0,4.73,4.73h9.45a4.75,4.75,0,0,0,4.73-4.73V4.73A4.75,4.75,0,0,0,14.18,0Z"/>
                                                <rect class="svg_bg" x="23.26" y="30.39" width="17.3" height="5.45"/>
                                                <rect class="svg_bg" x="23.19" y="40.07" width="17.36" height="5.45"/>
                                                <path class="svg_bg" d="M14.16,33.11l0,9.41-9.43,0,0-9.43h9.43m0-4.75H4.73A4.75,4.75,0,0,0,0,33.09v9.45a4.74,4.74,0,0,0,4.73,4.73h9.45a4.74,4.74,0,0,0,4.73-4.73V33.09a4.75,4.75,0,0,0-4.73-4.73Z"/>
                                                <rect class="svg_bg" x="23.26" y="58.75" width="17.3" height="5.45"/>
                                                <rect class="svg_bg" x="23.19" y="68.44" width="17.37" height="5.45"/>
                                                <path class="svg_bg" d="M14.16,61.48l0,9.41-9.43,0,0-9.43h9.43m0-4.75H4.73A4.75,4.75,0,0,0,0,61.46v9.45a4.75,4.75,0,0,0,4.73,4.73h9.45a4.75,4.75,0,0,0,4.73-4.73V61.46a4.75,4.75,0,0,0-4.73-4.73Z"/>
                                                <rect class="svg_bg" x="23.26" y="87.12" width="17.3" height="5.45"/>
                                                <rect class="svg_bg" x="23.19" y="96.8" width="38.06" height="5.45"/>
                                                <path class="svg_bg" d="M14.16,89.84l0,9.41-9.43,0,0-9.43h9.43m0-4.75H4.73A4.75,4.75,0,0,0,0,89.82v9.45A4.75,4.75,0,0,0,4.73,104h9.45a4.75,4.75,0,0,0,4.73-4.73V89.82a4.75,4.75,0,0,0-4.73-4.73Z"/>
                                            </svg>
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" {{#unless svg2_1}}class="displayNO"{{/unless}}>
                                                <path class="svg_bg" d="M26.05,20.17A12.33,12.33,0,1,0,38.38,32.5,12.34,12.34,0,0,0,26.05,20.17Zm0,20a7.67,7.67,0,1,1,7.67-7.67A7.68,7.68,0,0,1,26.05,40.17Z"/>
                                                <path class="svg_bg" d="M52.72.17A12.33,12.33,0,1,0,65.05,12.5,12.35,12.35,0,0,0,52.72.17Zm0,20a7.67,7.67,0,1,1,7.66-7.67A7.68,7.68,0,0,1,52.72,20.17Z"/>
                                                <path class="svg_bg" d="M70.63,58.17h7.75V45.83A12.34,12.34,0,0,0,66.05,33.5h-19v4.67h19a7.68,7.68,0,0,1,7.67,7.66V53.5h-6Z"/>
                                                <path class="svg_bg" d="M44.68,54.7a12.19,12.19,0,0,0-5.3-1.2H12.72A12.35,12.35,0,0,0,.38,65.83V78.17H29.69l3-4.67H5.05V65.83a7.68,7.68,0,0,1,7.67-7.66H39.38a7.71,7.71,0,0,1,2.81.53Z"/>
                                                <path class="svg_bg" d="M56.61,42.5a3.57,3.57,0,0,0-2.86,1.92L18.41,99.6c-.78,1.23-1,2.36-.59,3.12s1.36,1.11,2.72,1.11H92.7a2.93,2.93,0,0,0,2.71-1.12c.41-.75.2-1.88-.59-3.11h0L59.47,44.42a3.56,3.56,0,0,0-2.86-1.92ZM89,99.17H24.24L56.61,48.61Z"/>
                                                <path class="svg_bg" d="M54.28,92.56H59V87.89H54.28Z"/>
                                                <path class="svg_bg" d="M54.28,80.89H59V66.22H54.28Z"/>
                                            </svg>
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" {{#unless svg2_2}}class="displayNO"{{/unless}}>
                                                <path class="svg_nofill" d="M4.67,73.33H55.31a30.92,30.92,0,0,1,4.49-42H4.67ZM33.33,40H44.67v8H33.33Zm0,16.67H44.67v8H33.33ZM13.33,40H24.67v8H13.33Zm0,16.67H24.67v8H13.33Z"/>
                                                <path class="svg_nofill" d="M61.33,11.33V18H56.67V11.33H21.33V18H16.67V11.33h-12V26.67H67a30.12,30.12,0,0,1,6.37-2.18V11.33Z"/>
                                                <rect class="svg_bg" x="13.33" y="40" width="11.33" height="8"/>
                                                <rect class="svg_bg" x="33.33" y="40" width="11.33" height="8"/>
                                                <rect class="svg_bg" x="13.33" y="56.67" width="11.33" height="8"/>
                                                <rect class="svg_bg" x="33.33" y="56.67" width="11.33" height="8"/>
                                                <path class="svg_bg" d="M55.31,73.33H4.67v-42H59.8A31,31,0,0,1,67,26.67H4.67V11.33h12V18h4.66V11.33H56.67V18h4.66V11.33h12V24.49A31.28,31.28,0,0,1,78,23.81V12.33a5.67,5.67,0,0,0-5.67-5.66h-11V0H56.67V6.67H21.33V0H16.67V6.67h-11A5.67,5.67,0,0,0,0,12.33V78H59.64A30.9,30.9,0,0,1,55.31,73.33Z"/>
                                                <path class="svg_bg" d="M93.21,80.58l20.52,20.52a9,9,0,0,0,12.73-12.73L105.94,67.85l.3-.64a28.73,28.73,0,0,0,2.85-12.47,29,29,0,1,0-29,29,28.67,28.67,0,0,0,12.48-2.86Zm26.88,18.49A4.29,4.29,0,0,1,117,97.8L97.31,78.08l.87-.7a29.79,29.79,0,0,0,4.56-4.56l.7-.87,19.72,19.72a4.34,4.34,0,0,1-3.07,7.4Zm-40-20a24.34,24.34,0,1,1,24.34-24.33A24.36,24.36,0,0,1,80.09,79.07Z"/>
                                                <path class="svg_bg" d="M80.23,39.94a5.39,5.39,0,1,0,5.39,5.39A5.4,5.4,0,0,0,80.23,39.94Z"/>
                                                <path class="svg_bg" d="M67.94,66.16H92.51v-5.4a5.4,5.4,0,0,0-5.39-5.39H73.33a5.4,5.4,0,0,0-5.39,5.39Z"/>
                                            </svg>
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" {{#unless svg2_3}}class="displayNO"{{/unless}}>
                                                <path class="svg_bg" d="M86,52.89A40.89,40.89,0,1,1,62,21.07a6.82,6.82,0,0,1,2.68-3.88A45.52,45.52,0,1,0,91.06,58.47a44.7,44.7,0,0,0-.36-5.58Z"/>
                                                <path class="svg_bg" d="M45,25.71A12.34,12.34,0,1,0,57.32,38.05,12.36,12.36,0,0,0,45,25.71Zm0,20a7.67,7.67,0,1,1,7.66-7.66A7.68,7.68,0,0,1,45,45.71Z"/>
                                                <path class="svg_bg" d="M19.32,83.71H70.65V71.38A12.34,12.34,0,0,0,58.32,59.05H31.65A12.34,12.34,0,0,0,19.32,71.38ZM66,79.05H24V71.38a7.67,7.67,0,0,1,7.66-7.67H58.32A7.68,7.68,0,0,1,66,71.38Z"/>
                                                <path class="svg_bg" d="M77.8,15.91V9.53a4.88,4.88,0,0,1,4.88-4.87h5.74A4.88,4.88,0,0,1,93.3,9.53v6.38H98V9.53A9.54,9.54,0,0,0,88.42,0H82.68a9.54,9.54,0,0,0-9.53,9.53v6.38Z"/>
                                                <path class="svg_bg" d="M102.2,50.39H68.62a4.34,4.34,0,0,1-4.32-4.33V22.77a4.33,4.33,0,0,1,4.32-4.33H102.2a4.34,4.34,0,0,1,4.33,4.33V46.06A4.34,4.34,0,0,1,102.2,50.39ZM69,45.73h32.93V23.09H69Z"/>
                                                <path class="svg_bg" d="M89.56,31.54a4.16,4.16,0,1,0-8.32,0,4.13,4.13,0,0,0,2.08,3.58v6.82h4.16V35.12A4.13,4.13,0,0,0,89.56,31.54Z"/>
                                            </svg>
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" {{#unless svg3_1}}class="displayNO"{{/unless}}>
                                                <path class="svg_bg" d="M42.53,4.75l0,9.41-9.43,0,0-9.43h9.43m0-4.75H33.1a4.75,4.75,0,0,0-4.73,4.73v9.45a4.75,4.75,0,0,0,4.73,4.73h9.45a4.75,4.75,0,0,0,4.73-4.73V4.73A4.75,4.75,0,0,0,42.55,0Z"/>
                                                <path class="svg_bg" d="M70.89,4.75l0,9.41-9.43,0,0-9.43h9.43m0-4.75H61.46a4.75,4.75,0,0,0-4.73,4.73v9.45a4.75,4.75,0,0,0,4.73,4.73h9.45a4.75,4.75,0,0,0,4.73-4.73V4.73A4.75,4.75,0,0,0,70.91,0Z"/>
                                                <path class="svg_bg" d="M42.53,33.12l0,9.4-9.43,0,0-9.43h9.43m0-4.75H33.1a4.74,4.74,0,0,0-4.73,4.72v9.46a4.74,4.74,0,0,0,4.73,4.72h9.45a4.74,4.74,0,0,0,4.73-4.72V33.09a4.74,4.74,0,0,0-4.73-4.72Z"/>
                                                <path class="svg_bg" d="M42.53,61.48l0,9.41-9.43,0,0-9.43h9.43m0-4.75H33.1a4.75,4.75,0,0,0-4.73,4.73v9.45a4.75,4.75,0,0,0,4.73,4.73h9.45a4.75,4.75,0,0,0,4.73-4.73V61.46a4.75,4.75,0,0,0-4.73-4.73Z"/>
                                                <path class="svg_bg" d="M14.17,33.12l0,9.4-9.43,0,0-9.43h9.44m0-4.75H4.73A4.74,4.74,0,0,0,0,33.09v9.46a4.74,4.74,0,0,0,4.72,4.72h9.46a4.74,4.74,0,0,0,4.73-4.72V33.09a4.74,4.74,0,0,0-4.73-4.72Z"/>
                                                <path class="svg_bg" d="M14.17,4.75l0,9.41-9.43,0,0-9.43h9.44m0-4.75H4.73A4.74,4.74,0,0,0,0,4.73v9.45a4.74,4.74,0,0,0,4.72,4.73h9.46a4.75,4.75,0,0,0,4.73-4.73V4.73A4.75,4.75,0,0,0,14.19,0Z"/>
                                                <path class="svg_bg" d="M14.17,61.48l0,9.41-9.43,0,0-9.43h9.44m0-4.75H4.73A4.74,4.74,0,0,0,0,61.46v9.45a4.74,4.74,0,0,0,4.72,4.73h9.46a4.75,4.75,0,0,0,4.73-4.73V61.46a4.75,4.75,0,0,0-4.73-4.73Z"/>
                                                <path class="svg_bg" d="M42.53,89.84l0,9.41-9.43,0,0-9.43h9.43m0-4.75H33.1a4.75,4.75,0,0,0-4.73,4.73v9.45A4.75,4.75,0,0,0,33.1,104h9.45a4.75,4.75,0,0,0,4.73-4.73V89.82a4.75,4.75,0,0,0-4.73-4.73Z"/>
                                                <path class="svg_bg" d="M14.17,89.84l0,9.41-9.43,0,0-9.43h9.44m0-4.75H4.73A4.74,4.74,0,0,0,0,89.82v9.45A4.74,4.74,0,0,0,4.73,104h9.46a4.75,4.75,0,0,0,4.73-4.73V89.82a4.75,4.75,0,0,0-4.73-4.73Z"/>
                                                <path class="svg_bg" d="M70.89,89.84l0,9.41-9.43,0,0-9.43h9.43m0-4.75H61.46a4.75,4.75,0,0,0-4.73,4.73v9.45A4.75,4.75,0,0,0,61.46,104h9.45a4.75,4.75,0,0,0,4.73-4.73V89.82a4.75,4.75,0,0,0-4.73-4.73Z"/>
                                                <path class="svg_bg" d="M74.92,44.47a4.45,4.45,0,1,0,4.44,4.45A4.45,4.45,0,0,0,74.92,44.47Z"/>
                                                <path class="svg_bg" d="M79.36,55.58H70.47A4.44,4.44,0,0,0,66,60v4.44H83.81V60A4.45,4.45,0,0,0,79.36,55.58Z"/>
                                                <path class="svg_bg" d="M83.81,37.81a4.44,4.44,0,1,0,4.44,4.44A4.44,4.44,0,0,0,83.81,37.81Z"/>
                                                <path class="svg_bg" d="M88.25,48.92H81.58v4.81a4.42,4.42,0,0,1,4.23,4.07h6.88V53.36A4.44,4.44,0,0,0,88.25,48.92Z"/>
                                                <path class="svg_bg" d="M93.3,78.19l20.53,20.52A9,9,0,1,0,126.55,86L106,65.46l.31-.64a28.69,28.69,0,0,0,2.85-12.47A29.09,29.09,0,1,0,92.66,78.5Zm26.89,18.49a4.31,4.31,0,0,1-3.07-1.27L97.41,75.69l.87-.7a29.79,29.79,0,0,0,4.56-4.56l.69-.87,19.72,19.72a4.34,4.34,0,0,1-3.06,7.4Zm-40-20a24.33,24.33,0,1,1,24.33-24.33A24.35,24.35,0,0,1,80.19,76.68Z"/>
                                            </svg>
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" {{#unless svg3_2}}class="displayNO"{{/unless}}>
                                                <circle class="svg_bg" cx="64.42" cy="51.92" r="2.25" transform="matrix(0.79, -0.61, 0.61, 0.79, -18.29, 49.97)"/>
                                                <path class="svg_bg" d="M75.65,60.9a2.25,2.25,0,1,1-2.24,2.24A2.24,2.24,0,0,1,75.65,60.9Z"/>
                                                <path class="svg_bg" d="M77.9,49.67V38.44H73.41V51.92a2.24,2.24,0,0,0,2.24,2.24H89.12V49.67Z"/>
                                                <path class="svg_bg" d="M75.62,72.12A20.12,20.12,0,1,1,95.75,52,20,20,0,0,1,75.62,72.12Zm0-35.49a15.37,15.37,0,1,0,0,30.74h0a15.37,15.37,0,1,0,0-30.74Z"/>
                                                <rect class="svg_bg" x="23.26" y="2.03" width="17.3" height="5.45"/>
                                                <rect class="svg_bg" x="23.19" y="11.71" width="38.06" height="5.45"/>
                                                <path class="svg_bg" d="M9.45,4.75a4.71,4.71,0,1,1-4.7,4.7,4.71,4.71,0,0,1,4.7-4.7M9.45,0a9.46,9.46,0,1,0,9.46,9.45A9.45,9.45,0,0,0,9.45,0Z"/>
                                                <rect class="svg_bg" x="23.26" y="30.46" width="28.1" height="5.45"/>
                                                <rect class="svg_bg" x="23.19" y="40.14" width="20.06" height="5.45"/>
                                                <path class="svg_bg" d="M9.45,33.19a4.71,4.71,0,1,1-4.7,4.7,4.71,4.71,0,0,1,4.7-4.7m0-4.75a9.46,9.46,0,1,0,9.46,9.45,9.45,9.45,0,0,0-9.46-9.45Z"/>
                                                <rect class="svg_bg" x="23.26" y="58.75" width="28.1" height="5.45"/>
                                                <rect class="svg_bg" x="23.19" y="68.44" width="20.06" height="5.45"/>
                                                <path class="svg_bg" d="M9.45,61.48a4.71,4.71,0,1,1-4.7,4.7,4.71,4.71,0,0,1,4.7-4.7m0-4.75a9.46,9.46,0,1,0,9.46,9.45,9.45,9.45,0,0,0-9.46-9.45Z"/>
                                                <rect class="svg_bg" x="23.26" y="87.13" width="17.3" height="5.45"/>
                                                <rect class="svg_bg" x="23.19" y="96.81" width="38.06" height="5.45"/>
                                                <path class="svg_bg" d="M9.45,89.85a4.71,4.71,0,1,1-4.7,4.71,4.71,4.71,0,0,1,4.7-4.71m0-4.75a9.46,9.46,0,1,0,9.46,9.46A9.46,9.46,0,0,0,9.45,85.1Z"/>
                                            </svg>
                                            <svg id="Main" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" {{#unless svg3_3}}class="displayNO"{{/unless}}>
                                                <path class="svg_bg" d="M56.57,15.61a6,6,0,1,1,6-6A6,6,0,0,1,56.57,15.61Zm0-7.3a1.28,1.28,0,0,0,0,2.55,1.28,1.28,0,1,0,0-2.55Z"/>
                                                <path class="svg_bg" d="M37.12,25.33a6,6,0,1,1,6-6A6,6,0,0,1,37.12,25.33Zm0-7.29a1.27,1.27,0,1,0,1.27,1.27A1.27,1.27,0,0,0,37.12,18Z"/>
                                                <path class="svg_bg" d="M56.57,35.06a6,6,0,1,1,6-6A6,6,0,0,1,56.57,35.06Zm0-7.3A1.28,1.28,0,1,0,57.85,29,1.28,1.28,0,0,0,56.57,27.76Z"/>
                                                <rect class="svg_bg" x="39.61" y="12.07" width="14.46" height="4.75" transform="translate(-1.51 22.48) rotate(-26.58)"/>
                                                <rect class="svg_bg" x="44.47" y="16.94" width="4.75" height="14.46" transform="translate(4.27 55.26) rotate(-63.44)"/>
                                                <rect class="svg_bg" x="45.62" y="40.73" width="4.75" height="28.17"/>
                                                <path class="svg_bg" d="M86.36,68.9H81.61V63.54a9.62,9.62,0,0,0-9.6-9.6H24a9.62,9.62,0,0,0-9.6,9.6V68.9H9.64V63.54A14.37,14.37,0,0,1,24,49.19H72A14.37,14.37,0,0,1,86.36,63.54Z"/>
                                                <path class="svg_bg" d="M48.46,71.39l0,0a.38.38,0,0,0-.54,0l-5.42,5.42h0l-.95,1h0l-1.77,1.77h0a9.33,9.33,0,0,1,2,3.48l11.49-3.07A21.24,21.24,0,0,0,48.46,71.39Z"/>
                                                <path class="svg_bg" d="M57.29,80.13a.39.39,0,0,0-.46-.29h0L54,80.6l-.72.19-.72.19L43,83.54l-.74.2-.25.07a2.82,2.82,0,0,1,.07.31,9.68,9.68,0,0,1,.15,1.7h0s0,.05,0,.07v.28s0,.08,0,.12a1,1,0,0,1,0,.17.49.49,0,0,1,0,.12,2.45,2.45,0,0,1,0,.27c0,.06,0,.11,0,.16s0,.09,0,.13,0,.11,0,.16,0,.08,0,.12l0,.17,0,.12a.59.59,0,0,1,0,.13l12.3,3.31h0l2.51.68a.45.45,0,0,0,.3,0,.36.36,0,0,0,.17-.23v0A25.41,25.41,0,0,0,57.29,80.13Z"/>
                                                <path class="svg_bg" d="M53.18,91.7l-.65-.17-9.92-2.67-.67-.18-.16,0a.31.31,0,0,1,0,.08.42.42,0,0,1,0,.1.88.88,0,0,1,0,.15v0l0,.09-.06.15,0,.09-.08.18,0,.07a2.56,2.56,0,0,1-.11.24h0l-.12.25,0,.07-.09.16,0,.09-.08.14-.06.1-.08.13-.06.1-.09.13-.06.09-.09.13-.07.09-.09.13-.07.09-.09.12-.07.09-.11.13-.06.07-.17.19h0l2.73,2.72h0l5.43,5.42a.36.36,0,0,0,.27.12h0a.39.39,0,0,0,.27-.11l0,0a21.35,21.35,0,0,0,4.68-8.09c0-.14.09-.28.13-.42Z"/>
                                                <polygon class="svg_bg" points="41.51 94.42 41.51 94.42 41.51 94.42 41.51 94.42 41.51 94.42 41.51 94.42"/>
                                                <polygon class="svg_bg" points="39.78 92.11 39.78 92.11 39.78 92.11 39.78 92.11"/>
                                                <path class="svg_bg" d="M18.88,76a1.55,1.55,0,0,1,1.54,1.54V90.14a1.56,1.56,0,0,1-1.54,1.54H6.29a1.57,1.57,0,0,1-1.54-1.54V77.55A1.56,1.56,0,0,1,6.29,76H18.88m0-4.75H6.29A6.31,6.31,0,0,0,0,77.55V90.14a6.31,6.31,0,0,0,6.29,6.29H18.88a6.31,6.31,0,0,0,6.29-6.29V77.55a6.31,6.31,0,0,0-6.29-6.29Z"/>
                                                <path class="svg_bg" d="M10.87,81.15a1.72,1.72,0,1,0,1.72,1.72A1.72,1.72,0,0,0,10.87,81.15Z"/>
                                                <path class="svg_bg" d="M12.59,85.45H9.15a1.72,1.72,0,0,0-1.72,1.72v1.72h6.88V87.17A1.72,1.72,0,0,0,12.59,85.45Z"/>
                                                <path class="svg_bg" d="M14.31,78.57A1.72,1.72,0,1,0,16,80.29,1.72,1.72,0,0,0,14.31,78.57Z"/>
                                                <path class="svg_bg" d="M16,82.87H13.45v1.87a1.7,1.7,0,0,1,1.63,1.57h2.67V84.59A1.72,1.72,0,0,0,16,82.87Z"/>
                                                <path class="svg_bg" d="M83.59,76a7.81,7.81,0,1,1-7.81,7.81A7.81,7.81,0,0,1,83.59,76m0-4.75A12.56,12.56,0,1,0,96.15,83.82,12.56,12.56,0,0,0,83.59,71.26Z"/>
                                                <path class="svg_bg" d="M81.87,80.43a1.72,1.72,0,1,0,1.72,1.72A1.72,1.72,0,0,0,81.87,80.43Z"/>
                                                <path class="svg_bg" d="M83.59,84.73H80.15a1.72,1.72,0,0,0-1.72,1.72v1.72h6.88V86.45A1.72,1.72,0,0,0,83.59,84.73Z"/>
                                                <path class="svg_bg" d="M85.31,77.85A1.72,1.72,0,1,0,87,79.57,1.72,1.72,0,0,0,85.31,77.85Z"/>
                                                <path class="svg_bg" d="M87,82.15H84.45V84a1.69,1.69,0,0,1,1.63,1.57h2.67V83.87A1.72,1.72,0,0,0,87,82.15Z"/>
                                            </svg>
                                        </div>
                                        <div class="jobInfTextBottom">{{{blockActionText2}}}</div>
                                    </div>
                                </a>
                                {{#if blockInfActionUrl}}</a>{{/if}}
                            </div>
                            {{/each}}
                            <div class="jobInfOneCol PrevNext{{#if next}} active" goto="right" tgt="catalogNb{{next}}{{/if}}">
                                <div><i class="fa fa-caret-right fastretch"></i></div>
                            </div>
                        </div>
                        {{/each}}
					</div>

                    <div class="row-pointers">
                        <div>
                            {{#each main.jobs.catalog}}
                                <div {{#unless default}} style="display: none"{{/unless}} id="other-catalogNb{{index}}">
                                    <i class="fas fa-circle"></i>
                                </div>
                                <div {{#if default}} style="display: none"{{/if}} id="current-catalogNb{{index}}">
                                    <i class="far fa-circle"></i>
                                </div>
                            {{/each}}
                        </div>
                    </div>
					<div class="row-footer">
                        <div>
                            <p>{{{main.jobs.expandedFooter}}}</p>
                        </div>
						<a href="{{main.jobs.jobCenterActionUrl}}">
                            <div class="svgOtherJobs">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                                    <path class="svg_bg" d="M25.34,73.33h-13a7.67,7.67,0,0,1-7.66-7.66V12.33a7.67,7.67,0,0,1,7.66-7.66H45.67a7.67,7.67,0,0,1,7.66,7.66v0H58v0A12.34,12.34,0,0,0,45.67,0H12.33A12.34,12.34,0,0,0,0,12.33V65.67A12.34,12.34,0,0,0,12.33,78h13Z"/>
                                    <path class="svg_bg" d="M31.07,15.25H15.58v4.67H27A14.6,14.6,0,0,1,31.07,15.25Z"/>
                                    <rect class="svg_bg" x="15.65" y="27.01" width="9.69" height="4.67"/>
                                    <rect class="svg_bg" x="15.65" y="38.93" width="9.69" height="4.67"/>
                                    <path class="svg_bg" d="M42.36,48.75H71.75V44.08H42.36Z"/>
                                    <path class="svg_bg" d="M42.29,37h29.4V32.32H42.29Z"/>
                                    <path class="svg_bg" d="M69.46,56H42.36v4.67H63.58A26.88,26.88,0,0,1,69.46,56Z"/>
                                    <path class="svg_bg" d="M57.56,87.7H39.67A7.68,7.68,0,0,1,32,80V26.69A7.68,7.68,0,0,1,39.67,19H73a7.68,7.68,0,0,1,7.67,7.66V52.42c.77-.07,1.56-.11,2.35-.11s1.55,0,2.32.11V26.69A12.34,12.34,0,0,0,73,14.36H39.67A12.34,12.34,0,0,0,27.34,26.69V80A12.34,12.34,0,0,0,39.67,92.36h20A25.66,25.66,0,0,1,57.56,87.7Z"/>
                                    <path class="svg_bg" d="M83,54.31a24.86,24.86,0,1,0,24.85,24.86A24.89,24.89,0,0,0,83,54.31ZM99.23,81.57H85.35V95.45H80.67V81.57H66.79V76.89H80.67V63h4.68V76.89H99.23Z"/>
                                </svg>
                            </div>
						</a>
					</div>
				</div>

				<div class="blockLeft base-container">
                    <div class="row-header">
						<h1>{{{main.jobs.collapsedtitle}}}</h1>
                        <a class="open-btn first-row-header" href="#"><i class="fad fa-arrow-alt-circle-right fa-4x"></i></a>
						{{!-- <a class="open-btn first-row-header" href="#"><i class="fad fa-sign-in fa-5x"></i></a> --}}
						<div>
                            <div id="header-text" class="first-row-header">
                                <div>{{{main.jobs.collapsedText1}}}</div><div>{{{main.jobs.collapsedText2}}}</div>
                            </div>
						</div>
					</div>
					<div class="row-block">
						{{#each items}}
							{{#unless (eq this.hbs "mainInfBlock")}}
								{{sub_hbs this}}
							{{/unless}}
						{{/each}}
					</div>
				</div>

				<div class=" blockRightHidden" id="blockRight">
					{{#each items}}
						{{#if (eq this.hbs "mainInfBlock")}}
							{{sub_hbs this}}
						{{/if}}
					{{/each}}
				</div>
			</div>
		</form>
	</div>
</div>
