<style>
{{#each colors}}
    /* SVG */
    .{{this.family}} .svg { color: rgba({{this.color}},1); border-color: rgba({{this.color}},1)}
    .{{this.family}}.notInAJL .svg { color: rgba({{this.color}},0.5); border-color: rgba({{this.color}},0.5)}
    /* :hover */
    .fav.filterDiv.{{this.family}}:hover a { color: rgba({{this.color}},1); }
    /* .fav.filterDiv.{{this.family}}.notInAJL:hover a { color: rgba({{this.color}},0.5); } */
    .fav.filterDiv.{{this.family}}:hover .fav_content { color: rgba({{this.color}},1); }
    .fav.filterDiv.{{this.family}}.notInAJL:hover .fav_content { color: #999999; }
    .{{this.family}}:hover { border: 1.5px solid rgba({{this.color}},1); }
    .{{this.family}}.notInAJL:hover { border: 1px solid rgba({{this.color}},0.5); }
    /* special pseudoHover for fav... */
    .fav.filterDiv.{{this.family}}.pseudoHover a { color: rgba({{this.color}},1); }
    /* .fav.filterDiv.{{this.family}}.notInAJL.pseudoHover a { color: rgba({{this.color}},0.5); } */
    .fav.filterDiv.{{this.family}}.pseudoHover .fav_content { color: rgba({{this.color}},1); }
    /* .fav.filterDiv.{{this.family}}.notInAJL.pseudoHover .fav_content { color: rgba({{this.color}},0.5); } */
    .{{this.family}}.pseudoHover { border: 1.5px solid rgba({{this.color}},1); }
    .{{this.family}}.notInAJL.pseudoHover { border: 1px solid rgba({{this.color}},0.5); }
{{/each}}
    /* When No Family has been set on the Job */
    /* SVG */
    .ZNoFamilySetZ .svg { color: rgba(79,79,79,1); border-color: rgba(79,79,79,1)}
    .ZNoFamilySetZ.notInAJL .svg { color:  rgba(79,79,79,0.5); border-color:  rgba(79,79,79,0.5); }
    /* :hover */
    .fav.filterDiv.ZNoFamilySetZ:hover a { color: rgba(79,79,79,1); }
    /* .fav.filterDiv.ZNoFamilySetZ.notInAJL:hover a { color: rgba(79,79,79,0.5); } */
    .fav.filterDiv.ZNoFamilySetZ:hover .fav_content { color: rgba(79,79,79,1); }
    .fav.filterDiv.ZNoFamilySetZ.notInAJL:hover .fav_content { color: #999999; }
    .ZNoFamilySetZ:hover { border: 1.5px solid rgba(79,79,79,1); }
    .ZNoFamilySetZ.notInAJL:hover { border: 1px solid rgba(79,79,79,0.5); }
    /* special pseudoHover for fav... */
    .fav.filterDiv.ZNoFamilySetZ.pseudoHover a { color: rgba(79,79,79,1); }
    /* .fav.filterDiv.ZNoFamilySetZ.notInAJL.pseudoHover a { color: rgba(79,79,79,0.5); } */
    .fav.filterDiv.ZNoFamilySetZ.pseudoHover .fav_content { color: rgba(79,79,79,1); }
    /* .fav.filterDiv.ZNoFamilySetZ.notInAJL.pseudoHover .fav_content { color: rgba(79,79,79,0.5); } */
    .ZNoFamilySetZ.pseudoHover { border: 1.5px solid rgba(79,79,79,1); }
    .ZNoFamilySetZ.notInAJL.pseudoHover { border: 1px solid rgba(79,79,79,0.5); }
</style>
<div class=""  ondragstart="return false;">
    <form id="{{id}}" method="{{method}}" action="{{action}}">
        <div class="catalog-wrapper" style="height:100%;">

            {{#each topHeader}}
                <div id="top-header">
                    <div id="back-home">
                        <i class="{{back-home-icon}}"></i>
                    </div>
                    <div class="apply-change">
                        <button id="AJL_applyChange" class="display-no" name="{{AJL_buttonValue}}" value="{{AJL_buttonValue}}">
                            <i class="fas fa-save"></i>
                            <span>{{{AJL_labelSubmit}}}</span>
                        </button>
                        <input id="AJL_finalValue" type="hidden" name="{{AJL_fieldName}}" value="">
                    </div>
                    <div class="header-title">
                        <h2 class="title-catalog">{{{title-catalog}}}</h2>
                        <h2 class="title-dashboard title-active">{{{title-dashboard}}}</h2>
                    </div>
                    <ul id="search_bar_content">
                        <li class="input_container"> <input id="search_string" type="text" placeholder="{{search-placeholder}}"> </li>
                        <li class="input_button"><button id="search_submit" type="submit"><i class="fa fa-search"></i></button></li>
                    </ul>
                </div>
                <div id="shadow-background"></div>
            {{/each}}

            {{#each leftSide}}
                <div id="left-side">
                    <ul id="categories" class="leftbar"></ul>
                    <div id="left-side-feedback">
                        <button id="button-feedback" name="{{value-feedback}}" value="{{value-feedback}}">{{{label-feedback}}}</button>
                    </div>
                </div>
            {{/each}}


            {{#each rightSide}}
                <div id="right-side">
                    <div id="button_bar">
                        <div class="main_button_contain introfilters">
                            <span>{{{intro-filters}}}</span>
                            {{!-- <button class="btn all selectall activefam">{{{filter-family-showall}}}</button> --}}
                        </div>
                        <div id="allFamilyBtns">
                            <span>{{{intro-scope}}}</span>
                        </div>
                        <div class="divider"></div>
                        <div class="main_button_contain jobcategory">
                            <span>{{{intro-job}}}</span>
                        </div>
                        <div id="allActionBtns"></div>
                    </div>
                    <div id="button_bar-background"></div>

                    <!--Main page content-->
                    <div id="home_content">
                        {{#if left-first-title}}
                        <div id="left_first_box" class="oneBox">
                            <div class="title">{{{left-first-title}}}</div>
                            <div id="left_first_content">
                                <div id="left_first_Jobs" class="oneJobBox bigBox" tgt="{{left-first-data}}"></div>
                            </div>
                        </div>
                        {{/if}}
                        {{#if right-first-title}}
                        <div id="right_first_box" class="oneBox">
                            <div class="title">{{{right-first-title}}}</div>
                            <div id="right_first_content">
                                <div id="right_first_Jobs" class="oneJobBox smallBox" tgt="{{right-first-data}}"></div>
                            </div>
                        </div>
                        {{/if}}
                        {{#if left-second-title}}
                        <div id="left_second_box" class="oneBox">
                            <div class="title">{{{left-second-title}}}</div>
                            <div id="left_second_content">
                                <div id="left_second_Jobs" class="oneJobBox bigBox" tgt="{{left-second-data}}"></div>
                            </div>
                        </div>
                        {{/if}}
                        {{#if right-second-title}}
                        <div id="right_second_box" class="oneBox">
                            <div class="title">{{{right-second-title}}}</div>
                            <div id="right_second_content">
                                <div id="right_second_Jobs" class="oneJobBox smallBox" tgt="{{right-second-data}}"></div>
                            </div>
                        </div>
                        {{/if}}
                        {{#if left-third-title}}
                        <div id="left_third_box" class="oneBox">
                            <div class="title">{{{left-third-title}}}</div>
                            <div id="left_third_content">
                                <div id="left_third_Jobs" class="oneJobBox bigBox" tgt="{{left-third-data}}"></div>
                            </div>
                            {{#if isDebug}}<div id="show_debug_trace"> &gt;&gt; See/Hide Trace &lt;&lt; </div><div id="debug_trace" class="display-no"></div>{{/if}}
                        </div>
                        {{/if}}
                        {{#if right-third-title}}
                        <div id="right_third_box" class="oneBox">
                            <div class="title">{{{right-third-title}}}</div>
                            <div id="right_third_content">
                                <div id="right_third_Jobs" class="oneJobBox smallBox" tgt="{{right-third-data}}"></div>
                            </div>
                        </div>
                        {{/if}}
                    </div>
                    
                    <!--big tiles content-->
                    <div id="big_tiles_content">
                        <div id="catalogJobs"></div>
                    </div>
                    
                </div>
            {{/each}}

        </div>
    </form>
</div>
<script language="javascript"> 
    var g_allSubMenuItems = [];
    var g_allSchedSubMenuItems = [];
    var g_allActions = [];
    var g_tileAction = "{{tileAction}}";
    var g_title_currentCount = "{{title_currentCount}}";
    // Following may be empty - this is for AJL management
    var g_AJL_labelAdd = "{{AJL_labelAdd}}";
    var g_AJL_labelRemowe = "{{AJL_labelRemowe}}";
    var g_AJL_canRemoveJob = ( "{{AJL_canRemoveJob}}" != "" );
    var g_AJL_currentState = "{{{AJL_currentState}}}";
    var g_AJL_newState = "{{{AJL_newState}}}";

    // Create the global Array of Menu Items
    function initializeSubMenuItems() {
        {{#each menuItems}}
            var oneMenuItem = {label:"{{{this.label}}}", url:"{{this.url}}", tgt:"{{this.tgt}}", val:"{{this.val}}"};
            g_allSubMenuItems.push(oneMenuItem);
        {{/each}}
        {{#each menuSheduledItems}}
            var oneMenuItem = {label:"{{{this.label}}}", url:"{{this.url}}", tgt:"{{this.tgt}}", val:"{{this.val}}"};
            g_allSchedSubMenuItems.push(oneMenuItem);
        {{/each}}
        {{#each actions}}
            g_allActions['{{this.key}}'] = {label:"{{{this.label}}}", url:"{{this.url}}" } ;
        {{/each}}
    }
</script>>