<style>
{{#each tiles}}
{{#each cells}}
#oneTile_{{id}} .oneTileAction.withAction:hover .oneTileTextIntro { /*text-decoration: underline;*/ color: {{color}}; }
{{/each}}
{{/each}}
</style>
<div id="firstScreen">
    <div id="leftSection">
        <div id="leftSectionTop">
            <div class="leftSectHeader">
                <div class="leftSectMainTitle">{{{leftSection.title}}}</div>
                <div class="leftSectSubTitle">
                    <div class="leftSectIcon">
                        <?xml version="1.0" encoding="utf-8"?>
                        <!-- Generator: Adobe Illustrator 22.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                        <svg version="1.1" id="Livello_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                            viewBox="0 0 95 105" style="enable-background:new 0 0 95 105;" xml:space="preserve">
                        <g>
                            <path class="fillPurple" d="M51.8,47.5c0-5.2-4.3-9.4-9.5-9.4c-5.2,0-9.4,4.3-9.4,9.5c0,5.2,4.3,9.4,9.5,9.4C47.6,57,51.8,52.7,51.8,47.5z
                                M42.4,52.9c-3,0-5.4-2.4-5.4-5.3c0-3,2.4-5.4,5.3-5.4c3,0,5.4,2.4,5.4,5.3C47.7,50.5,45.3,52.9,42.4,52.9z"/>
                            <path class="fillPurple" d="M40.4,71c0.2-0.4,0.4-0.7,0.8-0.9c0.4-0.2,0.8-0.3,1.2-0.3c0,0,0.1,0,0.1,0c0.4,0,0.8,0.1,1.2,0.3
                                c0.4,0.2,0.6,0.5,0.8,0.9l0.1,0.2c0.7,1.7,2.1,3.1,3.8,3.8c1.7,0.7,3.7,0.7,5.4,0c1.7-0.7,3.1-2.1,3.8-3.8c0.7-1.7,0.7-3.7,0-5.4
                                l-0.2-0.4c-0.2-0.4-0.2-0.8-0.1-1.2c0.1-0.4,0.3-0.8,0.6-1.1l0,0c0.3-0.3,0.7-0.5,1.1-0.6c0.4-0.1,0.8-0.1,1.2,0.1l0.2,0.1
                                c0.9,0.4,1.8,0.5,2.7,0.5c0.9,0,1.9-0.2,2.7-0.5c0.9-0.4,1.6-0.9,2.3-1.5c0.7-0.7,1.2-1.4,1.5-2.3l0,0c0,0,0,0,0,0c0,0,0,0,0,0h0
                                c0.4-0.9,0.5-1.8,0.5-2.7c0-0.9-0.2-1.9-0.5-2.7c-0.4-0.9-0.9-1.6-1.5-2.3c-0.7-0.7-1.4-1.2-2.3-1.5l-0.2-0.1
                                c-0.4-0.2-0.7-0.4-0.9-0.8c-0.2-0.4-0.3-0.8-0.3-1.2l-2-0.1l2,0c0-0.4,0.1-0.8,0.4-1.2c0.2-0.3,0.6-0.6,0.9-0.8l0.2-0.1
                                c1.7-0.7,3.1-2.1,3.8-3.8c0.7-1.7,0.7-3.7,0-5.4c-0.7-1.7-2.1-3.1-3.8-3.8c-1.7-0.7-3.7-0.7-5.4,0l-0.4,0.2
                                c-0.4,0.2-0.8,0.2-1.2,0.1c-0.3-0.1-0.6-0.2-0.8-0.4c-0.1-0.1-0.2-0.3-0.3-0.4c-0.3-0.3-0.5-0.7-0.6-1.1c-0.1-0.4-0.1-0.8,0.1-1.2
                                l0.1-0.2c0,0,0,0,0,0c0.4-0.9,0.5-1.8,0.5-2.7c0-0.9-0.2-1.9-0.5-2.7c-0.4-0.9-0.9-1.6-1.5-2.3c-0.7-0.7-1.4-1.2-2.3-1.5
                                c0,0,0,0,0,0c-0.9-0.4-1.8-0.5-2.7-0.5c-0.9,0-1.9,0.2-2.7,0.5c-0.9,0.4-1.6,0.9-2.3,1.5c-0.7,0.7-1.2,1.4-1.5,2.3c0,0,0,0,0,0
                                l-0.1,0.2c-0.2,0.4-0.4,0.7-0.8,0.9c-0.4,0.2-0.8,0.3-1.2,0.3l0,0c-0.4,0-0.8-0.1-1.2-0.4c-0.3-0.2-0.6-0.6-0.8-0.9l-0.1-0.2
                                c-0.7-1.7-2.1-3.1-3.8-3.8c-1.7-0.7-3.7-0.7-5.4,0c-1.7,0.7-3.1,2.1-3.8,3.8c-0.7,1.7-0.7,3.7,0,5.4l0.2,0.4
                                c0.2,0.4,0.2,0.8,0.1,1.2c-0.1,0.3-0.2,0.6-0.4,0.8c-0.1,0.1-0.3,0.2-0.4,0.3c-0.3,0.3-0.7,0.5-1.1,0.6c-0.4,0.1-0.8,0.1-1.2-0.1
                                l-0.2-0.1c-0.9-0.4-1.8-0.5-2.7-0.5c-0.9,0-1.9,0.2-2.7,0.5c-0.9,0.4-1.6,0.9-2.3,1.5c-0.7,0.7-1.2,1.4-1.5,2.3
                                c-0.4,0.9-0.5,1.8-0.5,2.7c0,0.9,0.2,1.9,0.5,2.7c0.4,0.9,0.9,1.6,1.5,2.3c0.7,0.7,1.4,1.2,2.3,1.5c0,0,0,0,0,0l0.2,0.1
                                c0.4,0.2,0.7,0.4,0.9,0.8c0.2,0.4,0.3,0.8,0.3,1.2c0,0,0,0.1,0,0.1c0,0.4-0.1,0.8-0.3,1.2c-0.2,0.4-0.5,0.6-0.9,0.8l-0.2,0.1
                                c-1.7,0.7-3.1,2.1-3.8,3.8c-0.7,1.7-0.7,3.7,0,5.4c0.7,1.7,2.1,3.1,3.8,3.8c1.7,0.7,3.7,0.7,5.4,0l0.4-0.2c0.4-0.2,0.8-0.2,1.2-0.1
                                c0.4,0.1,0.8,0.3,1.1,0.6l0,0c0.3,0.3,0.5,0.7,0.6,1.1c0.1,0.4,0.1,0.8-0.1,1.2l-0.1,0.2c0,0,0,0,0,0c-0.4,0.9-0.5,1.8-0.5,2.7
                                c0,0.9,0.2,1.9,0.5,2.7c0.4,0.9,0.9,1.6,1.5,2.3c0.7,0.7,1.4,1.2,2.3,1.5c0.9,0.4,1.8,0.5,2.7,0.5c0.9,0,1.9-0.2,2.7-0.5
                                c0.9-0.4,1.6-0.9,2.3-1.5c0.7-0.7,1.2-1.4,1.5-2.3L40.4,71z M36.6,69.4L36.6,69.4l-0.1,0.2l0,0c-0.2,0.4-0.4,0.7-0.7,1
                                s-0.6,0.5-1,0.6s-0.8,0.2-1.2,0.2c-0.4,0-0.8-0.1-1.1-0.2l0,0c-0.4-0.2-0.7-0.4-1-0.7c-0.3-0.3-0.5-0.6-0.6-1s-0.2-0.8-0.2-1.2
                                c0-0.4,0.1-0.8,0.2-1.1l0.1-0.2l0,0c0.5-1.1,0.6-2.4,0.3-3.6c-0.3-1.2-0.9-2.3-1.8-3.2c-0.9-0.8-1.9-1.4-3.1-1.6
                                c-1.2-0.2-2.4-0.1-3.5,0.3l-0.4,0.2c-0.7,0.3-1.6,0.3-2.3,0c-0.7-0.3-1.3-0.9-1.6-1.6c-0.3-0.7-0.3-1.6,0-2.3
                                c0.3-0.7,0.9-1.3,1.6-1.6l0.2-0.1c0,0,0,0,0,0c1.1-0.5,2.1-1.3,2.8-2.4c0.6-1,1-2.2,0.9-3.5c0-1.2-0.3-2.4-1-3.4
                                c-0.7-1-1.6-1.9-2.8-2.4l0,0l-0.2-0.1c-0.4-0.2-0.7-0.4-1-0.7c-0.3-0.3-0.5-0.6-0.6-1s-0.2-0.8-0.2-1.2c0-0.4,0.1-0.8,0.2-1.1l0,0
                                c0.2-0.4,0.4-0.7,0.7-1s0.6-0.5,1-0.6s0.8-0.2,1.2-0.2c0.4,0,0.8,0.1,1.1,0.2l0.2,0.1l0,0c1.1,0.5,2.4,0.6,3.6,0.3
                                c1.1-0.2,2.1-0.7,2.9-1.5c0.2-0.1,0.3-0.2,0.5-0.4c0.8-0.9,1.4-2,1.7-3.1c0.2-1.2,0.1-2.4-0.3-3.5l0,0L31,27.7
                                c-0.3-0.7-0.3-1.6,0-2.3c0.3-0.7,0.9-1.3,1.6-1.6s1.6-0.3,2.3,0c0.7,0.3,1.3,0.9,1.6,1.6l0.1,0.2l0,0c0.5,1.1,1.2,2.1,2.2,2.7
                                c1,0.7,2.2,1,3.4,1.1c1.2,0,2.4-0.3,3.5-1c1-0.7,1.9-1.6,2.4-2.8l0,0l0.1-0.2c0.2-0.4,0.4-0.7,0.7-1c0.3-0.3,0.6-0.5,1-0.6
                                s0.8-0.2,1.2-0.2c0.4,0,0.8,0.1,1.1,0.2l0,0c0.4,0.2,0.7,0.4,1,0.7c0.3,0.3,0.5,0.6,0.6,1c0.1,0.4,0.2,0.8,0.2,1.2
                                c0,0.4-0.1,0.8-0.2,1.1L53.6,28l0,0c-0.5,1.1-0.6,2.4-0.3,3.6c0.2,1.1,0.7,2.1,1.5,2.9c0.1,0.2,0.2,0.3,0.4,0.5
                                c0.9,0.8,2,1.4,3.1,1.7s2.4,0.1,3.5-0.3l0,0l0.4-0.2c0.7-0.3,1.6-0.3,2.3,0c0.7,0.3,1.3,0.9,1.6,1.6c0.3,0.7,0.3,1.6,0,2.3
                                c-0.3,0.7-0.9,1.3-1.6,1.6l-0.2,0.1l0,0c-1.1,0.5-2.1,1.2-2.7,2.2c-0.7,1-1,2.2-1.1,3.4c0,1.2,0.3,2.4,1,3.5c0.7,1,1.6,1.9,2.8,2.4
                                l0,0l0.2,0.1l0,0c0.4,0.2,0.7,0.4,1,0.7c0.3,0.3,0.5,0.6,0.6,1s0.2,0.8,0.2,1.2c0,0.4-0.1,0.8-0.2,1.1l0,0c-0.2,0.4-0.4,0.7-0.7,1
                                c-0.3,0.3-0.6,0.5-1,0.6c-0.4,0.1-0.8,0.2-1.2,0.2c-0.4,0-0.8-0.1-1.1-0.2l0,0l-0.2-0.1l0,0c-1.1-0.5-2.4-0.6-3.6-0.3
                                c-1.2,0.3-2.3,0.9-3.2,1.8c-0.8,0.9-1.4,1.9-1.6,3.1c-0.2,1.2-0.1,2.4,0.3,3.5l0,0l0.2,0.4c0.3,0.7,0.3,1.6,0,2.3
                                c-0.3,0.7-0.9,1.3-1.6,1.6c-0.7,0.3-1.6,0.3-2.3,0c-0.7-0.3-1.3-0.9-1.6-1.6l-0.1-0.2c0,0,0,0,0,0c-0.5-1.1-1.3-2.1-2.4-2.8
                                c-1-0.6-2.2-1-3.5-0.9c-1.2,0-2.4,0.3-3.4,1C38,67.3,37.1,68.2,36.6,69.4z"/>
                            <path class="fillPurple" d="M4,47.2c0-19.5,14.9-35.6,33.8-37l-2.7,3.4c-0.7,0.9-0.5,2.2,0.3,2.9c0.9,0.7,2.2,0.5,2.9-0.3L44,8.9
                                c0.7-0.9,0.5-2.2-0.3-2.9l-7.2-5.6c-0.9-0.7-2.2-0.5-2.9,0.3C33,1.7,33.1,2.9,34,3.6l3.2,2.5C16.4,7.9,0,25.6,0,47.2
                                C0,68,15.1,85.1,34.8,88l0.8-4C17.8,81.5,4,66,4,47.2z"/>
                            <path class="fillPurple" d="M84.5,47c0-20.7-15.3-37.7-35.2-40.6l-0.8,4c18,2.4,32,17.9,32,36.6c0,19.2-14.6,35.1-33.4,36.9l2.3-3
                                c0.7-0.9,0.5-2.2-0.3-2.9c-0.9-0.7-2.2-0.5-2.9,0.3l-5.6,7.2c-0.7,0.9-0.5,2.2,0.3,2.9l7.2,5.6c0.9,0.7,2.2,0.5,2.9-0.3
                                c0.7-0.9,0.5-2.2-0.3-2.9L47,88C68,86.2,84.6,68.5,84.5,47z"/>
                        </g>
                        </svg>
                    </div>
                    <div class="leftSectIntro">
                        <div class="leftSectIntroTxt">{{{leftSection.intro}}}</div>
                        <div id="leftSectAction">{{{leftSection.action}}}</div>
                    </div>
                </div>
            </div>
            <div class="leftSectFooter">
                <div id="myDataMenu" class="leftSectMenuToggle">
                    <div class="menuLabel">{{{leftSection.menuLabel}}}</div>
                    <div class="menuIcon"><i class="fas fa-chevron-down"></i></div>
                    <div class="menuIcon display-no"><i class="fas fa-chevron-up"></i></div>
                    <div class="menuIconNo display-no"><i class="fas fa-times"></i></div>
                </div>
                <div class="leftSectMenuItems display-no">
                    {{#each leftSection.menuActions}}
                    <a href='{{buttonUrl}}'><div class="oneMenuButton">{{{buttonTitle}}}</div></a>
                    {{/each}}
                </div>
            </div>
        </div>
        <div id="leftSectionBottom">
            <div>
                {{!-- Logo sapio365 --}}
                <?xml version="1.0" encoding="utf-8"?>
                <svg version="1.1" id="Livello_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    viewBox="0 0 210 210" style="enable-background:new 0 0 210 210;" xml:space="preserve">
                <g>
                    <path class="fillWhite" d="M16.8,123c0-0.8-0.4-1.5-1.2-1.9c-0.8-0.5-2.1-0.9-3.9-1.3c-6-1.3-9-3.8-9-7.7c0-2.2,0.9-4.1,2.8-5.6
                        c1.9-1.5,4.3-2.3,7.3-2.3c3.2,0,5.8,0.8,7.7,2.3c1.9,1.5,2.9,3.5,2.9,5.9h-6.8c0-1-0.3-1.8-0.9-2.4c-0.6-0.6-1.6-1-2.9-1
                        c-1.1,0-2,0.3-2.6,0.8c-0.6,0.5-0.9,1.2-0.9,2c0,0.8,0.4,1.4,1.1,1.8c0.7,0.5,1.9,0.9,3.6,1.2c1.7,0.3,3.1,0.7,4.3,1.1
                        c3.6,1.3,5.4,3.6,5.4,6.8c0,2.3-1,4.2-3,5.6c-2,1.4-4.5,2.1-7.7,2.1c-2.1,0-4-0.4-5.7-1.1c-1.6-0.8-2.9-1.8-3.9-3.1
                        c-0.9-1.3-1.4-2.8-1.4-4.3h6.4c0.1,1.2,0.5,2.1,1.3,2.8c0.8,0.6,1.9,1,3.3,1c1.3,0,2.3-0.2,2.9-0.7C16.5,124.4,16.8,123.8,16.8,123
                        z M42.5,130c-0.3-0.6-0.5-1.4-0.7-2.3c-1.6,1.8-3.8,2.7-6.4,2.7c-2.5,0-4.5-0.7-6.2-2.2c-1.6-1.4-2.4-3.3-2.4-5.4
                        c0-2.7,1-4.8,3-6.2c2-1.4,4.9-2.2,8.6-2.2h3.1v-1.5c0-1.2-0.3-2.1-0.9-2.8c-0.6-0.7-1.5-1.1-2.8-1.1c-1.1,0-2,0.3-2.7,0.8
                        c-0.6,0.5-1,1.3-1,2.2h-6.8c0-1.5,0.5-2.8,1.4-4.1s2.2-2.2,3.8-2.9c1.7-0.7,3.5-1.1,5.6-1.1c3.1,0,5.6,0.8,7.4,2.4
                        c1.8,1.6,2.8,3.8,2.8,6.6v11c0,2.4,0.4,4.2,1,5.5v0.4H42.5z M36.9,125.3c1,0,1.9-0.2,2.8-0.7c0.8-0.5,1.5-1.1,1.9-1.8v-4.4H39
                        c-3.4,0-5.2,1.2-5.4,3.5l0,0.4c0,0.8,0.3,1.5,0.9,2.1C35,125,35.8,125.3,36.9,125.3z M76.3,117.6c0,3.9-0.9,7-2.7,9.4
                        c-1.8,2.3-4.2,3.5-7.2,3.5c-2.6,0-4.6-0.9-6.2-2.7v12h-6.8v-35.1h6.3l0.2,2.5c1.6-2,3.8-3,6.4-3c3.1,0,5.6,1.2,7.3,3.5
                        c1.7,2.3,2.6,5.5,2.6,9.6V117.6z M69.6,117.1c0-2.4-0.4-4.2-1.3-5.5c-0.8-1.3-2-1.9-3.6-1.9c-2.1,0-3.6,0.8-4.4,2.4v10.4
                        c0.8,1.7,2.3,2.5,4.4,2.5C67.9,125,69.6,122.4,69.6,117.1z M87.7,130h-6.8v-25.4h6.8V130z M80.5,98.1c0-1,0.3-1.9,1-2.5
                        c0.7-0.7,1.6-1,2.8-1c1.2,0,2.1,0.3,2.8,1c0.7,0.7,1,1.5,1,2.5c0,1-0.4,1.9-1.1,2.5c-0.7,0.7-1.6,1-2.7,1c-1.1,0-2.1-0.3-2.8-1
                        C80.9,100,80.5,99.1,80.5,98.1z M92.2,117.1c0-2.5,0.5-4.8,1.5-6.7c1-2,2.4-3.5,4.2-4.6c1.8-1.1,3.9-1.6,6.4-1.6
                        c3.4,0,6.2,1,8.4,3.1c2.2,2.1,3.4,4.9,3.6,8.5l0,1.7c0,3.9-1.1,7-3.3,9.4c-2.2,2.3-5.1,3.5-8.7,3.5c-3.7,0-6.6-1.2-8.8-3.5
                        c-2.2-2.3-3.3-5.5-3.3-9.6V117.1z M99,117.6c0,2.4,0.5,4.2,1.4,5.5c0.9,1.3,2.2,1.9,3.9,1.9c1.6,0,2.9-0.6,3.8-1.9
                        c0.9-1.3,1.4-3.3,1.4-6c0-2.4-0.5-4.2-1.4-5.5c-0.9-1.3-2.2-1.9-3.9-1.9c-1.7,0-2.9,0.6-3.8,1.9C99.5,112.9,99,114.9,99,117.6z
                        M127.1,109.9h3.6c1.7,0,3-0.4,3.8-1.3c0.8-0.9,1.2-2,1.2-3.4c0-1.4-0.4-2.4-1.2-3.2c-0.8-0.8-1.9-1.1-3.4-1.1
                        c-1.3,0-2.4,0.4-3.3,1.1c-0.9,0.7-1.3,1.6-1.3,2.8h-6.8c0-1.8,0.5-3.4,1.4-4.8c1-1.4,2.3-2.5,4-3.3c1.7-0.8,3.6-1.2,5.7-1.2
                        c3.6,0,6.4,0.9,8.5,2.6c2,1.7,3.1,4.1,3.1,7.1c0,1.6-0.5,3-1.4,4.3c-1,1.3-2.2,2.3-3.8,3c1.9,0.7,3.4,1.7,4.3,3.1
                        c1,1.4,1.4,3,1.4,4.9c0,3-1.1,5.5-3.3,7.3c-2.2,1.8-5.1,2.7-8.8,2.7c-3.4,0-6.2-0.9-8.4-2.7c-2.2-1.8-3.2-4.2-3.2-7.1h6.8
                        c0,1.3,0.5,2.3,1.4,3.1c1,0.8,2.2,1.2,3.6,1.2c1.6,0,2.9-0.4,3.8-1.3c0.9-0.9,1.4-2,1.4-3.4c0-3.4-1.9-5.1-5.6-5.1h-3.6V109.9z
                        M166.1,95.5v5.6h-0.7c-3.1,0-5.5,0.8-7.4,2.4c-1.9,1.5-3,3.7-3.4,6.4c1.8-1.8,4.1-2.8,6.9-2.8c3,0,5.3,1.1,7.1,3.2
                        s2.6,4.9,2.6,8.4c0,2.2-0.5,4.2-1.5,6c-1,1.8-2.3,3.2-4.1,4.2c-1.8,1-3.7,1.5-6,1.5c-3.6,0-6.5-1.2-8.7-3.8
                        c-2.2-2.5-3.3-5.8-3.3-10v-2.4c0-3.7,0.7-7,2.1-9.8c1.4-2.8,3.4-5,6-6.6c2.6-1.6,5.7-2.4,9.1-2.4H166.1z M159.5,112.6
                        c-1.1,0-2.1,0.3-3,0.9c-0.9,0.6-1.5,1.3-2,2.2v2.1c0,2.3,0.4,4,1.3,5.3c0.9,1.3,2.1,1.9,3.8,1.9c1.5,0,2.6-0.6,3.5-1.7
                        c0.9-1.2,1.4-2.6,1.4-4.5c0-1.9-0.5-3.4-1.4-4.5C162.2,113.2,161,112.6,159.5,112.6z M176.3,113.2l2-17.3h19.1v5.6h-13.6l-0.8,7.3
                        c1.6-0.9,3.3-1.3,5.1-1.3c3.2,0,5.8,1,7.6,3c1.8,2,2.8,4.8,2.8,8.5c0,2.2-0.5,4.2-1.4,5.9c-0.9,1.7-2.2,3.1-4,4.1
                        c-1.7,1-3.8,1.4-6.1,1.4c-2.1,0-4-0.4-5.7-1.2c-1.8-0.8-3.2-2-4.2-3.5c-1-1.5-1.6-3.2-1.6-5.2h6.7c0.1,1.4,0.6,2.5,1.5,3.3
                        c0.9,0.8,2,1.2,3.4,1.2c1.5,0,2.7-0.5,3.5-1.6c0.8-1.1,1.2-2.7,1.2-4.7c0-1.9-0.5-3.4-1.4-4.5c-1-1-2.3-1.5-4.1-1.5
                        c-1.6,0-2.9,0.4-3.9,1.3l-0.7,0.6L176.3,113.2z"/>
                    <g>
                        <defs>
                            <rect id="SVGID_1_" x="69" y="0" width="62" height="62"/>
                        </defs>
                        <clipPath id="SVGID_2_">
                            <use xlink:href="#SVGID_1_"  style="overflow:visible;"/>
                        </clipPath>
                        <g class="clipPath">
                            <path class="fillWhite" d="M100,58.4c15.1,0,27.4-12.3,27.4-27.4S115.2,3.6,100,3.6C84.9,3.6,72.6,15.9,72.6,31S84.9,58.4,100,58.4z"/>
                            <path class="fillWhite" d="M100,62c-17.1,0-31-13.9-31-31c0-17.1,13.9-31,31-31c17.1,0,31,13.9,31,31C131.1,48.2,117.1,62,100,62z
                                M100,4.5C85.4,4.5,73.5,16.4,73.5,31c0,14.6,11.9,26.4,26.5,26.4c14.6,0,26.4-11.9,26.4-26.4S114.6,4.5,100,4.5z"/>
                            <path class="fillPurple" d="M100,4.5C85.4,4.5,73.5,16.4,73.5,31c0,14.6,11.9,26.5,26.5,26.5c14.6,0,26.5-11.9,26.5-26.5
                                C126.5,16.4,114.6,4.5,100,4.5z M95.1,9.6c-0.3,0.6-0.5,1.4-0.5,2.2c0,3,2.4,5.4,5.4,5.4c3,0,5.4-2.4,5.4-5.4
                                c0-0.8-0.2-1.6-0.5-2.2c5.9,1.4,10.9,5.1,14,10.2H81.2C84.2,14.7,89.2,11,95.1,9.6z M78.1,31c0-2.6,0.5-5,1.3-7.4h14.5
                                c0.6,0,1,0.3,1.2,0.8c1,2.3,2.4,9.6-6.7,25.1C82.2,45.7,78.1,38.9,78.1,31z M100,52.9c-2.8,0-5.5-0.5-8-1.5
                                c0-0.1,5.4-12.6,8-12.6c2.5,0,7.9,12.5,8,12.6C105.5,52.4,102.8,52.9,100,52.9z M111.7,49.6c-9.2-15.8-7.6-23-6.7-25.2
                                c0.2-0.5,0.6-0.7,1.1-0.7h14.6c0.8,2.3,1.3,4.8,1.3,7.4C121.9,38.9,117.9,45.7,111.7,49.6z"/>
                        </g>
                    </g>
                </g>
                </svg>
            </div>
        </div>
    </div>
    
    <div id="rightSection">
        {{#each tiles}}
        <div class="rightSectionRow">
            {{#each cells}}
            <div id="oneTile_{{id}}" class="oneTile">
                <div>
                    <div class="oneTileAction{{#if action}} withAction{{/if}}">
                        {{#if action}}<a href='{{action}}'>{{/if}}<div class="oneTileIcon" style="color: {{color}};"><i class="{{icon}}"></i></div>{{#if action}}</a>{{/if}}
                        {{#if action}}<a href='{{action}}'>{{/if}}<div class="oneTileTitle" style="color: {{color}};">{{{title}}}</div>{{#if action}}</a>{{/if}}
                        <div class="oneTileLine"  style="color: {{color}};"></div>
                        {{#if action}}<a href='{{action}}'>{{/if}}<div class="oneTileTextIntro">{{{intro}}}</div>{{#if action}}</a>{{/if}}
                    </div>
                    <div class="oneTileIntro">
                        <div class="oneTileAllButtons">
                        {{#each buttons}}
                            <a class="{{#if specialShow}}spShow_{{specialShow}} display-no{{/if}}" href='{{buttonUrl}}'><div class="oneTileButton">{{{buttonTitle}}}</div></a>
                        {{/each}}
                        </div>
                    </div>
                    <div class="oneTilePopup display-no">
                        <div class="oneTilePopupIntro">{{{helpIntro}}}</div>
                        <div class="oneTilePopupTitle">{{{helpTitle}}}</div>
                        <ul class="oneTilePopupItemList">
                            {{#each helpItemList}}
                            <li class="oneTilePopupItem">{{{helpItem}}}</li>
                            {{/each}}
                        </ul>
                    </div>
                    <div class="oneTileHelp">?</div>
                </div>
            </div>
            {{/each}}
        </div>
        {{/each}}
    </div>
</div>