<div class="section subsectionExist" id="home-container" ondragstart="return false;">
	<div class="wrapper">
    {{#each items}}
        {{#if (eq this.hbs "firstscreen")}}
		<form id="{{id}}" method="{{method}}" action="{{action}}">
			<div class="wrap-form"> 
                    {{sub_hbs this}}
        	</div>
		</form>
        {{/if}}
    {{/each}}
    </div>
</div>
<div class="section subsectionExist" id="catalog-container">
    <div class="wrapper">
        {{#each items}}
            {{#if (eq this.hbs "catalog")}}
                {{sub_hbs this}}
            {{/if}}
        {{/each}}
    </div>
</div>