/*
Blue #2980B9
Green #27AE60
Purple #8E44AD
Orange #E74C3C
Purple background #9373CC
*/

DDDdiv {border: 0.1px solid lightblue;}

body, html, #ytria-body, #ytria-body  > .section , .containerY, form { width: 100%; height: 100%; -ms-overflow-style: none; overflow: hidden; }
.section { padding: 0; }

body{ background-color:#e5e8ea; }
.displayNO { display: none!important; }

h2 { color:#8FA6AC;font-weight:400; height:80px;
    display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column;
    -ms-flex-pack: center; justify-content: center ; -ms-flex-align: center; align-items: center; font-size: 18px; }
a { color: #88888a; padding: 2px 0; }
h1 svg {font-size:1.7em !important; padding-right:0; padding-top: 5px; }

.columns { margin: 0; padding: 0; }
.containerY .columns.is-mobile, form > div:first-child  { max-height: 100%; max-width: 100%; padding: 0; margin: 0; } 
.noPadding { padding: 0; }
.noMargin { margin: 0; } 

.borderTop { max-height: 13px; min-height: 13px; padding-bottom: 10px; }

/* Left Block */
form > div:first-child { padding-right: 60px; display: -ms-flexbox;  display: flex; 
    -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; }
.blockLeft {  position: relative; z-index: 2; height: 510px !important; width: 1050px !important; min-width: 1050px !important;
    background-color: #FFFFFF; display: -ms-flexbox; display: flex;
    -ms-flex-pack: center; justify-content: center; -ms-flex-align: center;  align-items: center; flex-direction: column; } 
.base-container.blockLeft > div:last-child { margin-right: 40px !important}
.blockLeft h3 { width: 90%; margin: 0 auto; }

.blockInfOneCol {  width: 230px; height: 380px; transition: all ease 0.5s; position: relative; overflow: hidden; border: 1px solid #e1e1e1; 
    margin-left: 15px; }
.blockInfOneCol:first-child { margin-left: 0px; }
.blockInfOneCol h2 { margin:20px 0 0 0; transition: all ease 0.5s; }
.blockInfOneCol { background-color: #FFFFFF; padding: 0; }
.blockInfOneCol > div { color: #9aa7b0 ; width: 100%; text-align: center; }
.blockInfOneCol svg , #mainInfId h2 svg { font-size: 2rem; }

.blockInfOneCol > div {  width: 100%; height: calc(100% - 70px); }
.blockInfOneCol .columns.noPadding { height: 100%; }

.questionMark { height: 40px !important; position: absolute; bottom: 0; cursor: pointer; }
.questionMark svg { font-size: 1.2rem; color:#9aa7b0 !important; }
.questionMark p { padding: 0; line-height: 1; }

/*********************************************************************************/
.onHoverBlock { position: absolute; top: 0; left: 0; background-color: #FFFFFF;
    overflow: hidden; display: none; padding: 5px 5px 0 5px; height: calc(100% - 40px) !important; }
.onHoverBlock p { color:#88888a; line-height: 1.5; padding: 5px 20px; overflow: hidden; }
.onHoverBlock h3 { color:#88888a;  padding: 5px 10px; }

.blockBtnsIcons  { height: 96%; width: 99%; margin: 0 auto; position: relative; }
.blockBtnsIcons > svg { position: absolute; top: 0; left: 0; bottom: 0; right: 0; width: 100%; height: 100% }

.blockBtnsIcons svg { font-size: 1.1rem !important;  margin-right: 2px; min-width: 25px; }
.blockBtnsIcons .iconsTitle { padding: 5px 0 !important; }
.blockBtnsIcons .iconsTitle h3 {border-top: none !important; padding-bottom: 10px; }

.smlButtonsWrapper { height: calc(100% - 200px); display: -ms-flexbox;  flex-wrap: wrap; margin:0 12px; justify-content: space-between; }

.buttonsWrapper { display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; justify-content: flex-start; }

.blockInfElts  { height: calc( 100% - 100px) !important; min-height: calc( 100% - 100px) !important; padding:0 !important; 
    display: -ms-flexbox;  display: flex; -ms-flex-direction: column; flex-direction: column;
    -ms-flex-align: center;  align-items: center; justify-content: space-around; }

.blockInfEltLink h4 { margin: 0 auto; font-size: 15px; font-weight:600}
h5 { margin: 0 auto; font-size: 13px; line-height:1.1; font-weight:600}
.blockInfElts svg { font-size: 1.2rem; }
.blockInfEltLink {width: auto !important; margin: 10px 20px; height: 70px; transition: all ease 0.5s; margin-top:20px; border-radius:5px; }
.blockInfEltSmlLink {width: auto !important; margin: 10px 17px 5px 17px; height: 44px; transition: all ease 0.5s; margin-top:20px; border-radius:5px; }
.blockInfEltSmlLink a, .blockInfEltLink a { color: #FFFFFF;  font-weight:500; height: 100%; padding: 7px 20px; width: 100%; height: 100%;
    transition: all ease 0.5s; display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; }

.iconsTitle  h3 { border-top: 1px solid #ececef; border-bottom: 1px solid #ececef; font-size: 0.7rem; color: #8f99a5; }
.iconBlock { padding: 0 0 10px 10px !important; }
.iconBlock > div { display: flex; }
.iconBlock span { font-size: 10px; text-align: left; line-height: 1; }
.iconBlock, .blockInfElts >div { width: 100%; }
.iconBlock .column.is-half { padding: 7px 3px; display: -ms-flexbox;  display: flex; -ms-flex-align: center; align-items: center; }
.blockInfElts >div { text-align: center; }
.blockBtns { height: 100%; display: flex; flex-direction: column; }

#bgArc { position: absolute; bottom: 0; left: 0; right: 50px; height: 40%; z-index: 1; }
#bgArc > div { position: relative; width: 100%; height: 100%; }
#arc { position: relative; height: 10%; width: 100%; bottom: -1px; }
#arc svg { position: absolute; bottom: 0; left: 0; right: 0; top: 0; }
#bg { background-color: #9373cc; height: 90%; position: absolute; bottom: 0; left: 0; right: 0; }

/* ************************************************************************** */
/* Right Block - My Data */
#blockRight { position: absolute;right: 0; top: 0; bottom: 0; z-index: 3;
   -webkit-box-shadow: 0px 0px 10px 5px rgba(134,134,134,0.7);
   -moz-box-shadow: 0px 0px 10px 5px rgba(134,134,134,0.7);
    box-shadow: 0px 0px 10px 5px rgba(134,134,134,0.7);
}
#blockRight h2 { width: 260px; padding-left: 20px; background-color: #f7fafd; border-bottom: 1px solid #9eacb7;
    -ms-flex-direction: row; flex-direction: row; -ms-flex-pack: flex-start !important; justify-content: flex-start !important;  }
#blockRight h2 span {font-size: 20.61px; }
.mainInf { height: 100%; width: 300px; background-color: #f0f5f9; }
#mainInfId h2 svg { margin: 5px 15px 5px 5px; }
#mainInfRight { margin-right: 20px;  height: calc(100% - 60px); padding: 0; min-height: calc(100% - 60px); width: 260px; }
#mainInfRight a:first-child, #mainInfRight >div:first-child { padding-top: 10px; }
#mainInfRight a, #mainInfRight >div {margin-bottom:2%; flex-grow: 1; display: flex; align-items: center; padding: 0 10px; margin-left: -5px; }


.mainInfElt {display: flex; align-items: center; margin: 0; width: 100%; text-align: center; }
.mainInfElt h4, .mainInfElt i { padding:0; }
.mainInfElt svg { font-size: 3rem; }

#mainInfRight > a:hover { background-color: #9eacb7; color: #FFFFFF; } 

/* Border main Information */
#mainBlockBorder { height: 100%; display: -ms-flexbox; display: flex; }
#mainBlockBorder div { display: -ms-flexbox;  display: flex; -ms-flex-direction: column; flex-direction: column;
    -ms-flex-pack: center; justify-content: center; -ms-flex-align: center;  align-items: center; }
#mainBlockBorder div:last-child { width: calc(100% - 10px); color: #8fa6ac; }
#mainBlockBorder div:last-child svg { font-size: 1.6rem; }
#mainBlockBorder #border { min-width: 15px; max-width: 15px; color: #FFFFFF ; height: 100%; text-align: center; background-color: #9eacb7; } 
#mainBlockBorder #border svg { margin-top: -16px; }
#globeTxt { font-size: 14px; margin-top: 2px; margin-left: -15px; }

/* Right Block - My Data Admin Mode */
#blockRight #mainInfRight >div {display: none; }
#blockRight #mainInfRight a { display: block; }
#blockRight.adminMode #mainInfRight a { display: none; }
#blockRight.adminMode #mainInfRight >div { display: block; }

.adminMode div { color: #C0CED8; }

/* Right Block - My Data - General Style */
#blockRight { padding: 0; }
.hiddenBlock { max-width: 0; opacity: 0; overflow: hidden; transition: all ease 0.5s; }
.shownBlock { max-width: 100%; opacity: 1; overflow: hidden; transition: all ease 0.7s; }
.blockRightHidden { max-width: 60px !important ; background-color: #9eacb7; transition: all ease 0.5s; }
.blockRightShown { max-width: 270px !important; transition: all ease 0.7s; }
.blockRightHidden #mainBlockBorder { width: 100px; transition: all ease 0.5s; }
.blockRightShown #mainBlockBorder { width: 15px; transition: all ease 0.7s; }
.blockRightHidden #mainBlockBorder div:last-child {  opacity: 1; transition: all ease 0.7s; transition-delay: 1s; font-size: 2px; background-color: #9eacb7; color: #FFFFFF;
    display: -webkit-flex; display: -moz-flex; display: -ms-flexbox;  display: -o-flex; display: flex; }
.blockRightShown #mainBlockBorder div:last-child {  display: none; opacity: 0; transition: all ease 0.7s; }
.blockRightShown #mainBlockBorder svg:first-child { margin: 0 2px; transition: all ease 0.7s; } 
 
.rotateIcon {  transform: rotateY(-180deg); -ms-transform: rotateY(-180deg); }


/**************************   Tenant Height Buttons     **************************************/
.autoHeight { height:50px; margin:5px; padding:5px; width:90px !important;} /* min-height:42px;*/ 

.autoHeight a { padding: 0 !important; }
.singleText h4 { display: inline; margin-left:2px; font-size:12px; font-weight: 600; }
.singleText { background-color: white; margin-top:10px; }
.singleText a svg { font-size: 1rem; }
.singleText a:hover { font-weight:700; }


/**************************  Jobs  **************************************/
.row-block { display: flex; flex-wrap: wrap; }
.base-container .row-block { width: 1050px; height: 430px; margin-left: 40px; justify-content: center; align-items: center; }

.row-header {  cursor: pointer; width: 966px; height: 90px; display: flex; align-items: center; justify-content: space-between; flex-direction: row; 
                margin-left: 120px; margin-right: 120px; margin-top: 15px; margin-bottom: 0px; border: 1px solid #e1e1e1; }
.row-header h1 { color: #9373cc; font-size: 32px; padding-left: 50px; }
.row-header h2 { color: #9373cc; font-size: 28px; padding-left: 100px; }


.open-btn { color: #9373cc; padding-right: 50px;  }
.open-btn.first-row-header { padding-right: 0px; padding-left: 50px; }
.open-btn .fa-secondary { opacity: 0.1; color: #9373cc;  }
.row-header:hover .open-btn { color: #9373cc; } 
.row-header:hover .open-btn .fa-secondary { opacity: 0.4; color: #9373cc;  }

#header-text { width: 100%; }
#header-text.first-row-header { padding-right: 100px; }
#header-text div { color:#9373cc; font-size: 1.2em; font-weight: bold; } 
#header-text div:first-child { font-size: 1.5em; }

.jobs-container .row-block { width: 966px; margin-left: 120px; margin-right: 120px; height: 280px; } 
/* display: block; flex-wrap: nowrap; flex-direction: row; align-items: flex-start;  justify-content: center; align-items: center; */

.jobs-container .row-pointers { width: 966px; margin-left: 120px; margin-right: 120px; height: 20px; margin-top: 10px; 
    display: flex; flex-direction: column; align-content: center; justify-content: center; }
.jobs-container .row-pointers div { display: flex; flex-direction: row; align-content: center; justify-content: center; }
.jobs-container .row-pointers div div { font-size: x-small; color: #9373cc; padding: 15px 10px 0px; }

.jobs-container .row-footer { width: 966px; margin-left: 120px; margin-right: 120px; height: 150px; margin-top: 10px; 
    display: flex; flex-direction: column; align-content: center; justify-content: center; }
.jobs-container .row-block .row-catalog { top: 0; width: 100%; height: 100%; display: flex; justify-content: space-between; }
.jobs-container .row-footer p { text-align: center; font-size: 1.3em; color: #9373cc; }
.jobs-container .row-footer .svgOtherJobs { height: 40px; }
.jobs-container .row-footer .svgOtherJobs:hover .svg_bg { fill: #9373cc; stroke:#9373cc; }

.jobInfOneCol.PrevNext { height: 100%; width:35px; display: flex; }
.jobInfOneCol.PrevNext div { color:#FFFFFF; display: flex; flex-direction: column; justify-content: center; align-items: center; padding-top: 30px; }
.jobInfOneCol.PrevNext.active div { color:#9373cc; cursor: pointer; opacity: 0.4; }
.jobInfOneCol.PrevNext div .fastretch { font-size: 7em; transform: scaleY(4); }
.jobInfOneCol.PrevNext.active:hover div { opacity: 0.8; }
.jobInfOneCol.PrevNext.active:hover div .fastretch { font-size: 8em; }

.jobInfOneCol .jobInfBlock { margin-left: 20px; margin-right: 20px; margin-top: 40px;  width: 250px; height: 220px;
    border: 1px solid #9373cc; border-radius: 5px;
    display: flex; flex-direction: column; align-content: center; align-items: stretch; justify-content: center; }
.jobInfOneCol .jobInfBlock.active { cursor: pointer; }
.jobInfOneCol .jobInfBlock.active:hover { border: 2px solid #9373cc; }

.jobInfOneCol .jobInfTextTop { margin: 15px; text-align: center; color: #9373cc; font-size: 1.4em; font-weight: 600; } 
.jobInfOneCol .svgJob {  height: 50px;  }
.jobInfOneCol .jobInfTextBottom  { margin:15px; text-align: center; color: #9373cc; font-size: 1.4em; font-weight: 600; }


.svg_bg { fill:#9373cc; stroke:#FFFFFF; }
.svg_nofill { fill:none; }
.jobInfBlock:hover .svg_bg { fill: #9373cc; stroke:#9373cc;  } 
