        <div id="header">
            <h2>{{{labelIntro}}}</h2>
            <p>{{{labelText}}}</p>
        </div>

        <div class="validateWrapper">
            {{#if NextBillingCustomerGrossPrice}} 
                <div class="next">
                    <div class="header">{{NextBillingCustomerTitle}} ({{{next_billing_date}}})</div>
                    <div class="body columns is-mobile">
                        <div class="net column">
                            <label>{{labelNet}}</label>
                            <div>{{{NextBillingCustomerNetPrice}}}</div>
                        </div>
                        <div class="vat column">
                            <label>{{labelVat}}</label>
                            <div>{{{NextBillingCustomerVatPrice}}}</div>
                        </div>
                        <div class="total column">
                            <label>{{labelTotal}}</label>
                            <div><span class="currency">{{{PriceCurrencyId}}}</span> {{{NextBillingCustomerGrossPrice}}}</div>
                        </div>
                    </div>
                </div>
            {{/if}}
            {{#if AlignmentCustomerGrossPrice}}
                <div class="now">
                    <div class="header">{{AlignmentCustomerTitle}}</div>
                    <div class="body columns is-mobile">
                        <div class="net column">
                            <label>{{labelNet}}</label>
                            <div>{{{AlignmentCustomerNetPrice}}}</div>
                        </div>
                        <div class="vat column">
                            <label>{{labelVat}}</label>
                            <div>{{{AlignmentCustomerVatPrice}}}</div>
                        </div>
                        <div class="total column">
                            <label>{{labelTotal}}</label>
                            <div><span class="currency">{{{PriceCurrencyId}}}</span> {{{AlignmentCustomerGrossPrice}}}</div>
                        </div>
                    </div>
                </div>
            {{/if}}

            <div id="msgTxt">{{{labelFooter}}}</div>

        </div>

