html { background-color: #FFFFFF; overflow-y: auto; }
body  { -ms-overflow-style: none !important;  overflow: hidden !important; height: 100%;  }
.section { -ms-overflow-style: auto !important; overflow: auto !important; }
.section { position: absolute; top: 40px; bottom: 41px; left: 0; right: 0; padding: 0 !important; }
.row-btns { position: fixed; bottom: 0; right: 0; z-index: 22; width: 100%; margin: 0 0 0 -1.5rem !important;}
form { margin-bottom: 0; }

.display-no { display: none !important}
.rotate { transform: rotate(90deg)}
a, a:hover  { color: #336699; border-bottom: 1px solid #336699}

/* Expand/Collapse */
#collaps-expand-all {  padding: 7px; position: fixed; top: 0; left: 0; right: 0; background: #f0f0f0; border-bottom: 1px solid #dfdfdf;
    display: -ms-flexbox; display: flex; 
    -ms-flex-pack: flex-end; -ms-justify-content: flex-end; justify-content: flex-end; }
#collapseAll, #expandAll {  background: #fafafa; cursor: pointer; border: 1px solid #e1e1e1 !important;
    width: 95px; padding: 2px ; margin: 0 7px;
    display: -ms-flexbox;  display: flex;
    -ms-flex-pack: center; justify-content: center;  
    -ms-flex-align: center; align-items: center;}
#collapseAll { margin-left: 0; }
#collapseAll svg , #expandAll svg   { color: #336699; margin: 5px ; }
#collapseAll:hover, #expandAll:hover { border: 1px solid rgba(40,128,186,1) !important; }

/*  Sections */
.tabSection { background-color: #FFFFFF } 
.tabSection:first-child { margin-top: 0 }
.tabSectionTitle { border-bottom: 1px solid #e1e1e1 !important; border-top: 5px solid #e1e1e1; display: flex; justify-content: space-between; padding: 0 0.5rem; cursor: pointer;}
.tabSectionTitle > svg { color: #336699; font-size: 2rem; margin-right: 10px}
.tabSectionTitle > div { display: -ms-flexbox;  display: flex; -ms-flex-align: center; align-items: center; }
.tabSectionTextTitle { color: #336699; font-size: 1rem; font-weight: 500 }
.tabSectionBody { padding: 10px }

/* Intro text in Sections */
.headerSection { margin-bottom: 20px }
.headerSection p { display: block; text-align: center; margin-top: 20px; }
.headerSection svg { font-size: 1.2rem; color: #336699; margin-right: 5px}

/* rbacIntro */
.warningInfo { display: flex; flex-direction: column; justify-content: flex-start; }
.warningInfo div { width: 100%; display: -ms-flexbox;  display: flex; } 
.warningInfo svg { font-size: 1.7rem; color: #336699; margin: 2px 10px 0; }
.warningInfo .button-Disabled, .warningInfo .button-Fill-Blue { margin: 15px 0 0 0 }
.inputReadOnly:active, .inputReadOnly:focus, .inputReadOnly:hover{border:1px solid #dbdbdb; box-shadow: none; cursor:not-allowed}

/* rbacAdmin & rbacUltra */
#iconAdmin, #iconAdmin, #iconUltra, #lockTenant, #lockAdmin, #lockUltra, #lockURL { cursor: pointer !important; position: absolute; right: 10px; top: 0; font-size: 1.2rem; color: #88888a; height: 100%; display: flex; align-items: center }
#lockTenant, #lockAdmin, #lockUltra, #lockURL { right: 12px; }

#UltraAdminConsentLink { display: flex; flex-direction: column; justify-content: flex-start; }
#UltraAdminConsentLink div { width: 100%; display: -ms-flexbox; display: flex; } 
#UltraAdminConsentLink svg { font-size: 1.1rem; color: #336699; margin: 0 10px 0 0; }
#UltraAdminConsentLink .button-Disabled, #UltraAdminConsentLink .button-Fill-Blue { margin: 15px 0 0 0 }

#adminConsentLink { display: flex; flex-direction: column; justify-content: flex-start; }
#adminConsentLink div { width: 100%; display: -ms-flexbox; display: flex; } 
#adminConsentLink svg { font-size: 1.1rem; color: #336699; margin: 0 10px 0 0; }
#adminConsentLink .button-Disabled, #adminConsentLink .button-Fill-Blue { margin: 15px 0 0 0 }

/* generic fields in Sections */
.tabSectionBody .control { position: relative;
    display: -ms-flexbox;  display: flex; 
   -ms-flex-direction: row; flex-direction: row;
   -ms-flex-align: center; align-items: center; 
   -ms-flex-pack: center; justify-content: center; }
.tabSectionBody .control { background-color: #f5f5f5; margin-bottom: 20px; width: 100% }
.tabSectionBody .control > label { margin-left: 10px; min-width: 150px !important; }
.tabSectionBody .control > div { width: 100%; display: flex; align-items: center; position: relative }

/* rbacFilter & rbacRoleDef */
.tabSectionBody .control-top { position: relative;
    display: -ms-flexbox;  display: flex; 
   -ms-flex-direction: row; flex-direction: row;
   -ms-flex-align: top; align-items: top;
   -ms-flex-pack: top; justify-content: top; }
.tabSectionBody .control-top { background-color: #f5f5f5; margin-bottom: 20px; width: 100%; }
.tabSectionBody .control-top > label { margin-left: 10px; margin-top: 3px;  min-width: 150px !important; z-index: 100; }

/* rbacLicensePools */
.tabSectionBody .control-select{width: 100%;
    display: -ms-flexbox; display: flex; 
    -ms-flex-direction: row; flex-direction: row;
    -ms-flex-align: top; align-items: top; 
    -ms-flex-pack: space-between; justify-content: space-between; }
.tabSectionBody .control-select > div {
    display: -ms-flexbox;  display: flex; 
    -ms-flex-direction: column; flex-direction: column; }
.tabSectionBody .control-select { background-color: #f5f5f5; margin-bottom: 5px; min-height: 30px; padding:0 5px; }
.tabSectionBody .control-select.intro { min-height: 25px; }

.tabSectionBody .control-select div.skuinput { max-width: 80px !important; width:80px !important; align-self: center  }
.tabSectionBody .control-select > label {margin-top: 5px; flex-basis: 40% !important; padding-left:5px; min-width: 40%; align-self: center}
.tabSectionBody .control-select > label > label {display:flex;}
.tabSectionBody .control-select label span.labelSKU {display:flex; width:auto;}
.tabSectionBody .control-select label span.labelSKU.intro {padding-left: 30px ;}
.tabSectionBody .control-select div.skuinfo {padding:0 5px 0 7px; flex-basis: 30%; align-self: center}
.tabSectionBody .control-select div.skuinfo>span { white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }

/* list of radio and checkbox */
.radiobox { display: -ms-flexbox; display: flex; 
   -ms-flex-direction: column; flex-direction: column;
   -ms-flex-align: left; align-items: left; 
   -ms-flex-pack: left; justify-content: left; }
.radiobox { background-color: #FFFFFF; padding: 3px; width: 100%; }
.radiobox .oneradio { width: 100%; display: flex; height: 20px !important;  align-items: left; position: relative }   
.radiobox .onecheckbox { width: 100%; display: flex; height: 20px !important;  align-items: left; position: relative }   

.subchoice { padding-left: 25px; }

.sortradio { position: absolute; top: 0px; right: 0px; margin: 10px; color: #777777; z-index: 66; background-color:#FFFFFF;}

.sortradio svg:hover { cursor: pointer; }
.sort-current { color: #bbbbbb; }
.sortradio svg.sort-current:hover { cursor: default; }
.quicksearch  { font-size: 11px; height: 19px; color: #777777; border: 1px solid #999999; }

.curselect { color: #336699; margin: 2px; } /* float:left;  */
.isRequired { border: 3px solid #FF0000 !important; } /* important needed because of Bulma... */

.heightlimited { max-height: 250px; }
.heightlimited { overflow-y: scroll !important; -ms-overflow-style: hidden !important; }
.heightlimited .sortradio { right: 20px; }

.otherCheckbox { margin-top: 6px; padding-top: 2px; border-top: 1px solid #dddddd; }

/* this handle a nice radio and  checkbox buttons */
input.label-override { overflow: hidden; border: 0; clip: rect(0 0 0 0); height: 1px;
    margin: -1px; padding: 0; position: absolute; width: 1px; }
input.label-override ~ label { margin: 2px 5px 2px 0; }
input.label-override ~ label svg { font-size: 0.9rem; margin: 2px 10px 0; }
input.label-override ~ label span { display: inline-block; width: 30px; vertical-align: baseline; }
input.label-override ~ label svg { color: #336699; }
input.label-override ~ label:hover { cursor: pointer; color: #336699; }
input.label-override:disabled ~ label:hover { cursor: default; color: #aaaaaa; }
input.label-override:disabled ~ label svg { color: #aaaaaa; }
/* rbac**Status */
input.label-override.readonly ~ label:hover { cursor: default; color: inherit; }

/* rbacRoleDef */
.control-top.withNewCredButton { margin-bottom: 5px; }
#newCredential { width:100%;
    display: -ms-flexbox; display: flex; 
    -ms-flex-direction: row; flex-direction: row;
    -ms-flex-pack: space-between; justify-content: space-between; }
#newCredential svg { margin: 2px 10px 0 0; }
/* this is to erase some css settings in the main CSS */
#newCredential .button-Fill-Blue { margin: 0; display: block; }
#errorNewCred { width:100%; top: 5px; margin: 5px; color: #ff0000; }
#errorNewCred span svg { font-size: 1.1rem; }


/* rbacLicensePools & rbacPrivileges */
.setAllButtons { width: 100%; margin-bottom: 10px;
    display: -ms-flexbox; display: flex; 
    -ms-flex-direction: row; flex-direction: row;
    -ms-flex-align: center; align-items: center; 
    -ms-flex-pack: left; justify-content: left; }

.setAllButtons button {  background: #fafafa; cursor: pointer; border: 1px solid #e1e1e1 !important;
    min-width: 120px; padding: 2px ; margin: 0 7px;
    display: -ms-flexbox;  display: flex;
    -ms-flex-pack: center; justify-content: center;  
    -ms-flex-align: center; align-items: center;}
.setAllButtons button svg   { color: #336699; margin: 5px ; }
.setAllButtons button:hover { border: 1px solid rgba(40,128,186,1) !important; }
.setAllButtons button:disabled { cursor: default; border: 0px !important; }
.setAllButtons button:disabled svg { color: #aaaaaa; }

/* rbacPrivilegesStatus */
.roleAccessReadOnly {color: #336699 !important; font-weight:600; margin: 6px 0 0 -20px !important}
.allsubchoices label {white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.radioYesReadOnly svg{color:rgba(51, 102, 153, 0.3) !important}
.radioNoReadOnly svg{color:rgba(51, 102, 153, 0.3) !important}


/* rbacLicensePools */
.missingPrivilege { width:100%; padding: 0 10px 20px;
    display: -ms-flexbox; display: flex; 
    -ms-flex-direction: column; flex-direction: column;
    -ms-flex-pack: center; justify-content: center; }
.missingPrivilege div { width: 100%; margin: 5px 0 10px; display: -ms-flexbox; display: flex; } 
.missingPrivilege div > svg { font-size: 1.1rem; color: #336699; margin: 0 5px 0; }
.missingPrivilege a svg { margin: 2px 10px 0 0; }
.missingPrivilege .button-Fill-Blue { margin: 0; display: block; }

/* rbacLicensePools -- DEBUG Button */
.debugLicenseList svg.isLoaded { color: #ff0000; }
.showDebugLicenseList td { padding: 5px; }


/* rbacFilterStatus */
.allScopes { width: 100%; padding: 0 5px;
    display: -ms-flexbox; display: flex; 
    -ms-flex-direction: column; flex-direction: column;
    -ms-flex-align: center; align-items: center; 
    -ms-flex-pack: center; justify-content: center; }
.allScopes div.mainTgt { width: 100%; color: #336699; font-weight:600; margin:3px; border-bottom:1px solid #cccccc}
.allScopes div.scopes { width: 100%;
    display: -ms-flexbox; display: flex; 
    -ms-flex-direction: row; flex-direction: row;
    -ms-flex-align: top; align-items: top; 
    -ms-flex-pack: space-between; justify-content: space-between; }
.allScopes div.scopes div { width: 100%; border-bottom: 1px solid #eeeeee; padding:5px 5px;}       
.allScopes div.scopes.titleScopes div { font-size: 10px; font-style: italic; }  

/* rbacPriviliges -- DEBUG Button */
.debugPrivList svg.isLoaded { color: #ff0000; }
.showDebugPrivList td { padding: 5px; }

/* rbacIntro - rbacTenants */
#createNewPair { display: flex; flex-direction: column; justify-content: flex-start; }
#createNewPair div { width: 100%; display: -ms-flexbox; display: flex; } 
#createNewPair .button-Fill-Blue { margin: 0px 0 5px 0; line-height:1; }
#createNewPair .button-Fill-Blue svg { margin: 0 10px 0 0;color:#ffffff; font-size:1.2em;}

#createNewPairTop { position:fixed; left:7px; top:16px; /*display: flex; flex-direction: column; justify-content: flex-start;*/ }
#createNewPairTop div { width: 100%; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox;  display: -o-flex; display: flex; } 
#createNewPairTop .button-Fill-Blue { margin:0; line-height:1; padding-right: 15px; padding-left: 15px}
#createNewPairTop .button-Fill-Blue svg { margin: 0 10px 0 0; font-size:1.2em } 

.smallScreenFilterBar { margin-left : 50px; margin-right : 10px; background-color : #f5f5f5; padding-top : 10px; padding-bottom : 4px;
    margin-bottom : 0px; margin-top : 0px; padding-right : 5px; right : 20px;}
.bigScreenFilterBar { position : absolute; top : 0px; right : 20px; margin : 10px; color : #777777; z-index : 66; width : "";
    padding-top : ""; padding-right : 5px; }

.licenseTemplate {
    display: none;
}