
<div class="switchSection">
		<div class="parenSectionTitle {{#if full }} noOn {{/if}}{{#if offMixMode }} noOn {{/if}}">
			<span>	<i class="{{fontIcon}}" aria-hidden="true"> </i> 
					<div class="title {{#if full }} fullRed {{/if}}{{#if offMixMode }} fullOrange {{/if}}">	
						<span  class="currentUsed "></span>
						<div class="mainLabel">
							{{{labelParentSection}}} 
                            {{#if subLabelParentSection}}
                            <span class="subLabel">{{{subLabelParentSection}}}</span>
                            {{/if}}
							<span class="usedTotal">{{{currentUsed}}}</span>
						</div> 
					</div>	
			</span>

				{{#if (eq state 'mix')}} 
					<div class="switch-toggle mix {{#if full }} full {{/if}}{{#if offMixMode }} full {{/if}}" data-state="mix">
						<input class="off" name="{{name}}" type="checkbox" value="off">
						<label class="off"><i class="far fa-times"></i></label>

						<input class="mix" name="{{name}}" type="checkbox" value="mix" checked="checked" >
						<label class="mix"></label>

						<input class="on" name="{{name}}" type="checkbox" value="on">
						<label class="on"><i class="far fa-check"></i></label>
					</div>
				{{/if}}

				{{#if (eq state 'on')}} 
					<div class="switch-toggle twoSt on" data-state="on twoSt">
						<input class="off" name="{{name}}" type="checkbox" value="off">
						<label class="off"><i class="far fa-times"></i></label>

						<input class="mix" name="{{name}}" type="checkbox" value="mix">
						<label class="mix"></label>

						<input class="on" name="{{name}}" type="checkbox" value="on"  checked="checked">
						<label class="on"><i class="far fa-check"></i></label>
					</div>
				{{/if}}

				{{#if (eq state 'off')}} 
					<div class="switch-toggle twoSt off  {{#if full }} full {{/if}}{{#if offMixMode }} full {{/if}}" data-state="off twoSt">
						<input class="off" name="{{name}}" type="checkbox" value="off" checked="checked">
						<label class="off"><i class="far fa-times"></i></label>

						<input class="mix" name="{{name}}" type="checkbox" value="mix">
						<label class="mix"></label>

						<input class="on" name="{{name}}" type="checkbox" value="on">
						<label class="on"><i class="far fa-check"></i></label>
					</div>
				{{/if}}

		</div>
		<div class="subPanel">
			{{#each choices}}
				<div class="sectionSubPanels">
                    <div class="mainLabel">
                        <div>{{{labelField}}}</div>
                        {{#if subLabelField}}
                            <div class="subLabel">{{{subLabelField}}}</div>
                        {{/if}}
                    </div>
	
					{{#if (eq ../state 'mix')}} 
						<div class="switch-toggle twoSt mix" data-state="naMix">
							<input class="off" name="{{name}}" type="checkbox" value="off" disabled="disabled">
							<label class="off"><i class="far fa-times"></i></label>

							<input class="mix" name="{{name}}" type="checkbox" value="mix" disabled="disabled">
							<label class="mix"></label>

							<input class="on" name="{{name}}" type="checkbox" value="on" disabled="disabled">
							<label class="on"><i class="far fa-check"></i></label>
						</div>
					{{/if}}


					{{#if (eq ../state 'on')}} 
						<div class="switch-toggle {{#if (eq state 'on')}} on twoSt{{/if}} {{#if (eq state 'off')}} off twoSt{{/if}} {{#if (eq state 'mix')}} mix {{/if}}" 
							data-state="{{#if (eq state 'on')}}on twoSt{{/if}}{{#if (eq state 'off')}}off twoSt{{/if}}{{#if (eq state 'mix')}}mix{{/if}}">

							<input class="off" name="{{name}}" type="checkbox" value="off" {{#if (eq state 'off')}} checked="checked" {{/if}}>
							<label class="off"><i class="far fa-times"></i></label>

							<input class="mix" name="{{name}}" type="checkbox" value="mix" {{#if (eq state 'mix')}} checked="checked" {{/if}}>
							<label class="mix"></label>

							<input class="on" name="{{name}}" type="checkbox" value="on" {{#if (eq state 'on')}} checked="checked" {{/if}} >
							<label class="on"><i class="far fa-check"></i></label>
						</div>
					{{/if}}

					{{#if (eq ../state 'off')}} 
						<div class="switch-toggle twoSt na" data-state="na">
							<input class="off" name="{{name}}" type="checkbox" value="off" disabled="disabled">
							<label class="off"><i class="far fa-times"></i></label>

							<input class="mix" name="{{name}}" type="checkbox" value="mix" disabled="disabled">
							<label class="mix"></label>

							<input class="on" name="{{name}}" type="checkbox" value="on" disabled="disabled">
							<label class="on"><i class="far fa-check"></i></label>
						</div>
					{{/if}}

				</div>
			{{/each}}
	
	

		</div>
</div>	
