<div class="section {{#if main.automationSubmit}} doAutomation {{/if}}" ondragstart="return false;">
	<div class="containerY">
		{{#with main}}
			<form id="{{id}}" method="{{method}}" action="{{action}}" data-mode="{{mode}}" data-noChange="{{no-change}}">
			<h4> {{{formTitle}}}</h4>
		{{/with}}
		<div id="licenseList">
				{{#each items}}
					{{#unless (eq this.hbs 'Button')}}
							{{sub_hbs this}}
					{{/unless}}
				{{/each}}
		</div>
				{{!-- this is in case we want to handle the input na the button in a different way --}}
				{{#each items}}
					{{#if (eq this.hbs 'Button')}}
						{{sub_hbs this}}
					{{/if}}
				{{/each}}
		</form>
	</div>

</div>
<script language="javascript">
	{{#with main}}

		var arr= [], 
		elt = [];
		{{#each onchange}}
			elt = ['{{this.name}}','{{this.state}}'];
			arr.push( elt );
		{{/each}}
		if (arr.length != 0 ) addConditions (arr);	

	{{/with}}

</script>
