html { height: 100% !important; max-height: 100vh !important;
    overflow: hidden ; background: #FFFFFF }

body, #ytria-body, #ytria-body > .section,  #ytria-body > .section > .containerY, form {
    padding: 0; margin: 0;
    width: 100%; height: 100% !important; max-height: 100% !important; }

.display-no { display: none !important}

/* Role Selector Header - Regular Session button */    
#regularSession { position: absolute; height: 100px; top: 0; left: 0px; right: 0;
    border-bottom: 1px solid #dfdfdf; 
    padding-top: 6px; padding-right: 18px; padding-left: 18px; } /* background-color: #f0f0f0; */
#regularSession button { cursor: pointer; text-align: center; width: 100%; margin: 3px;
    border: 1px solid #e1e1e1;  background-color: #fafafa; }
#regularSession button:hover { border: 1px solid #336699; }
/* Role Selector Header - ExitSession button */
#regularSession.withExitSession { height: 90px; }
#regularSession.withExitSession button { background-color: #ffffff; }
#regularSession.withExitSession svg{ color: #a6a6a6; }
#regularSession.withExitSession button:hover{ border: 1px solid #aaaaaa; }
#regularSession.withExitSession h5{ color: #a6a6a6; font-weight:normal; }

/* Ultra Admin Selector Header */
#selUltraSession { position: absolute; height: 100px; top: 0; left: 0px; right: 0;
    border-bottom: 1px solid #dfdfdf; 
    padding-top: 6px; padding-right: 18px; padding-left: 18px; } /* background-color: #f0f0f0; */
#selUltraSession .title { width: 100%; padding: 5px; color: #336699; margin-bottom: 0;
        font-size: 1.1em; font-weight: bold; }
#selUltraSession .description { width: 100%; }
#skipUltraSession { width: 100%; border-top: 1px solid #dfdfdf; background-color: #f0f0f0;
    position: absolute; bottom: 0; left: 0; right: 0; height: 65px;
    display: -ms-flexbox;  display: flex; 
    -ms-flex-direction: column; flex-direction: column; align-items: center;
    -ms-flex-pack: flex-start;  padding-left: 18px; padding-right: 18px; 
}
#skipUltraSession button { width: 80%; cursor: pointer; text-align: center; margin: 3px;
    margin-top: 10px; border: 1px solid #e1e1e1;  background-color: #fafafa; }
#skipUltraSession button:hover { border: 1px solid rgba(40,128,186,1) ;}

/* Customer Selector Header */
#selCustomerSession { position: absolute; height: 70px; top: 0; left: 0px; right: 0;
    border-bottom: 1px solid #dfdfdf; 
    padding-top: 6px; padding-right: 18px; padding-left: 18px; } /* background-color: #f0f0f0; */
#selCustomerSession .title { width: 100%; padding: 5px; color: #336699; margin-bottom: 10px;
    font-size: 1.1em; font-weight: bold; }
#selCustomerSession .description { width: 100%; display: flex; justify-content: space-around; }
#selCustomerSession .description div { width: 100%; color: #777777; }
#selCustomerSession .description div:first-child { width: 10%; }
#selCustomerSession .description div:first-child svg { margin-right: 5px; color: #777777; }

#selCustomerSession .description .quicksearch  { font-size: 11px; height: 19px; width: 100%; color: #777777; border: 1px solid #999999; }

/* SearchSeassion section */
#searchSession  { position: absolute; height: 30px; top: 0; left: 0px; right: 0;
    border-bottom: 1px solid #dfdfdf; 
    padding-top: 6px; padding-right: 18px; padding-left: 18px; } /* background-color: #f0f0f0; */
#searchSession .searchBox { width: 100%; display: flex; justify-content: space-around; }
#searchSession .searchBox div { width: 100%; color: #777777; }
#searchSession .searchBox div:first-child { width: 10%; }
#searchSession .searchBox div:first-child svg { margin-right: 5px; color: #777777; }
#searchSession .searchBox .quicksearch  { font-size: 11px; height: 19px; width: 100%; color: #777777; border: 1px solid #999999; }


/* Main section - Session/Role Selector */    
#sessionList { position: absolute; top: 0px; bottom: 100px; left: 18px; right: 0;
    padding-top: 6px; padding-right: 18px;
    overflow: auto !important ; -ms-overflow-style: auto !important; }
/* special - Role Selector only*/
#sessionList.withSearchSession { top: 30px; }
#sessionList.roleSelect { top: 100px; bottom: 60px; }
#sessionList.roleSelect.withExitSession { top: 90px; }
#sessionList.ultraSelect { top: 100px; bottom: 65px; }
#sessionList.customerSelect { top: 70px; bottom: 0px; }

/* session button */
#sessionList button { cursor: pointer; text-align: center; width: 100%; margin: 3px;
    border: 1px solid #e1e1e1;  background-color: #fafafa; }
#sessionList button:hover { border: 1px solid rgba(40,128,186,1) ;}

#sessionList .sessionEmail .sessionEmailIntro { font-style: italic; font-weight: 300; margin-right: 5px; }
#sessionList .realusername .realusernameIntro { font-style: italic; font-weight: 300; margin-right: 5px; }

#sessionList button:disabled { cursor: default; border: 1px solid transparent; color: #a7a7a7; }
#sessionList button:disabled h5 { color: #a7a7a7 !important; }
#sessionList button:disabled svg { color: #a7a7a7 !important; }
#sessionList button:disabled .realusername { color: #a7a7a7 !important; }
#sessionList button:disabled .sessionDate { color: #a7a7a7 !important; }
#sessionList button:disabled .roleDesc { color: #a7a7a7 !important; }

.cardBlock { padding: 0.9rem; }
.cardBlock > div { margin: auto 0; }
.leftColIcon { font-size: 2em; padding: 5px; color: #336699; }
.rghtColInf { padding: 5px; font-weight: 400 }
.realusername { padding-left: 0; font-weight: normal; color: #336699;  }
.sessionDate { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.roleDesc { padding-left: 0; color: #222222; font-style: italic; }

.alignCenter { display: flex; flex-direction: column; justify-content: center; }

/* Session Selector - New session buttons */
#newsession { position: absolute; bottom: 0; left: 0; right: 0; height: 100px;
    width: 100%; padding: 5px 18px 5px 18px; 
    border-top: 1px solid #dfdfdf; background-color:#f0f0f0;
    display: -ms-flexbox;  display: flex; 
    -ms-flex-direction: row; flex-direction: row;
    -ms-flex-pack: center; justify-content: center; }

#newsession button { cursor: pointer;  flex-direction: column; justify-content: center; align-items: center;
    background: #fafafa;  border: 1px solid #bfbfbf; 
    width: 45%; padding: 2px ; margin: 0 7px }  
#newsession button.fixSize { width: 95px; };
#newsession button div { width: 100%; }
#newsession button svg { font-size: 1.5rem; color: #336699 }
#newsession button:hover { border: 1px solid rgba(40,128,186,1) ;}

#newsession button:disabled { cursor: default;  border: 1px solid transparent; background-color: #fafafa !important;  color: #a7a7a7 !important }
#newsession button:disabled svg { color: #a7a7a7 !important; }
#newsession button:disabled div { color: #a7a7a7 !important; }

/*  Role Selector - RegularSession / ExitSession */ 
.introSelRole { width: 100%; padding: 5px; color: #336699;
    font-size: 1.1em; font-weight: bold; }

/* Role Selector - Main - footerSelRole */
.footerSelRole { width: 100%; border-top: 1px solid #dfdfdf; background-color: #f0f0f0;
    position: absolute; bottom: 0; left: 0; right: 0; height: 60px;
    display: -ms-flexbox;  display: flex; 
    -ms-flex-direction: column; flex-direction: column;
    -ms-flex-pack: flex-start; 
}
.footerSelRole .control { width: 100%; padding: 7px 18px 7px; margin-left: 3px;
    display: -ms-flexbox;  display: flex; 
    -ms-flex-direction: row; flex-direction: row;
}
.footerSelRole .control div { width: 100%; 
    display: -ms-flexbox;  display: flex; 
    -ms-flex-direction: row; flex-direction: row;
}
.footerSelRole .control div div {padding-left:10px;
   display: -ms-flexbox;  display: flex; 
    -ms-flex-direction: column; flex-direction: column;
    -ms-flex-pack: center; justify-content: center;  
}
.iconYes, .iconNo {display:block; height: 40px;  width: 50px; cursor: pointer; display:flex; align-items:center; justify-content:center;}
.afterLabel  { font-size: 10px; }
.afterLabel span { font-size: 11px; font-weight: bold; display:block; clear:both }

span.iconNo .st0 {fill:#FFFFFF;stroke:#CDCDCD;stroke-width:1.5;stroke-miterlimit:10;}
span.iconNo .st1, span.iconNo .st2, span.iconNo .st3 {fill:#CDCDCD;}

#showScopeData { overflow: hidden; border: 0; clip: rect(0 0 0 0); height: 1px;
    margin: -1px; padding: 0; position: absolute; width: 1px; }
#showScopeData ~ label { width:100%; text-align: left; color: #6a6a6a; border: 1px solid #f0f0f0;}
#showScopeData:checked ~ label { color: #336699; }
#showScopeData ~ label:hover { cursor: pointer; border: 1px solid #e0e0e0; } /* color: #336699; */
