/* Ytria CSS for Forms - Feedback */

html { height: 100% !important; max-height: 100vh !important; -ms-overflow-style: none !important;  } 
body, html, #ytria-body, #ytria-body > .section,  #ytria-body > .section > .containerY, form  {  padding: 0; margin: 0;   height: auto ; width: 100%; height: 100% !important; max-height: 100% !important; font-size: 12px }
form { justify-content: space-between;
    display: -webkit-flex; display: -moz-flex; display: -ms-flexbox;  display: -o-flex; display: flex;
    -webkit-flex-direction: column ; -moz-flex-direction: columns ;-ms-flex-direction: column; -o-flex-direction: column ;  flex-direction: column; }
.section { padding: 0; margin: 0 }

#feedbackBlock { height: calc(100% - 41px);  padding: 20px; overflow: auto;
    display: -webkit-flex; display: -moz-flex; display: -ms-flexbox;  display: -o-flex; display: flex; 
    -webkit-flex-direction: column ; -moz-flex-direction: columns ;-ms-flex-direction: column; -o-flex-direction: column ;  flex-direction: column;
    -webkit-box-pack: center; -moz-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center; }


h4 {  /*padding: 10px 4% 0 2%;*/ text-align: center; margin: 10px
    /*
    position: relative; 
    display: -webkit-flex; display: -moz-flex; display: -ms-flexbox;  display: -o-flex; display: flex; 
    -webkit-box-align: center; -moz-box-align: center; -ms-flex-align: center;  -webkit-align-items: center;  align-items: center;
    -webkit-box-pack: center; -moz-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center;
*/}
svg {/* font-size: 1.5rem !important; margin: 7px; */ margin: 0 auto; min-height: 70px }
p {  text-align: center; margin: 0 10px 10px; min-height: 30px;  }
:not([rows]).textarea { height: calc(100% - 60px)}

.button.is-primary:hover {margin: 0 1px } /* because the name of the button is long and onHover is moving */


