
body , form { -ms-overflow-style: none;  height: 100%; background-color: #f5f5f5; }

.display-no { display: none }


.row-btns { position: fixed; bottom: 0; right: 0; z-index: 22; width: 100%; margin: 0 0 0 -1.5rem !important;}

#header { position: fixed; height: 65px; padding: 10px; top: 0; left: 0; right: 0; text-align: center; }

#containerFields { -ms-overflow-style: auto !important; overflow: auto !important; position: absolute; top: 65px; bottom: 41px; left: 0; right: 0; padding: 0 !important; height: calc(100% - 85px); }


#warningMsg { margin: 15px; padding: 10px; width: calc(100% - 30px); border: 2px solid #e1e1e1; 
    display: -webkit-flex; display: -moz-flex; display: -ms-flexbox;  display: -o-flex; display: flex; 
    -webkit-box-align: center; -moz-box-align: center; -ms-flex-align: center;  -webkit-align-items: center;  align-items: center;
    -webkit-box-pack: space-between; -moz-box-pack: space-between; -ms-flex-pack: space-between; -webkit-justify-content: space-between; justify-content: space-between; }
#warningMsg svg {min-width: 3rem !important; height: 2rem !important; color: #336699 }
#warningMsg p { padding: 0 10px}
#warningMsg input {min-width: 140px; max-width: 160px }
#warningMsg .subInfo { font-size: 0.8em; font-style: italic;}

#msgTxt { margin: 20px 15px; text-align: center}

#containerFields > .columns { margin: 20px 10px }
#containerFields > .columns > .column { padding: 5px; }
#currentUsr, #addRemove { background-color: rgba(200,200,200,0.3)} 
#currentUsr .is-2, #newUsr .is-2, #addRemove  .is-2 {min-width: 80px !important}

.radio { display: block; width: 100%;  }
.radio + .radio { margin-left: 0; margin-top: 10px}
.radio span {position: relative; top: -2px; left: 5px;}
input[type="radio"]:disabled + span { color: #88888a !important}


#now:disabled + span  { color: rgb(146, 146, 146) !important}

.validateWrapper { margin: 0 15px}
#validate { background-color: #336699; color: #FFFFFF; height: 28px; width: 160px; cursor: pointer; 
    display: -webkit-flex; display: -moz-flex; display: -ms-flexbox;  display: -o-flex; display: flex; 
    -webkit-box-align: center; -moz-box-align: center; -ms-flex-align: center;  -webkit-align-items: center;  align-items: center;
    -webkit-box-pack: center; -moz-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center; 
}

.now, .next {margin: 10px 0 }
.now .header, .next .header { background-color: #336699; color: #FFFFFF; text-align: center; padding: 5px}
.now label, .next label {color: #336699; display: block; text-align: center}
.now div, .next div { text-align: center;}
.currency {color: #336699; margin-right: 5px}
.control.is-2 { width: auto !important; min-width: 16.66%; padding-right: 10px !important}

.wrapper { width: 100%; height: 60px; background-color: turquoise}
.left, .right { height: 80%; background-color: thistle; border: 1px solid}