
body , form { -ms-overflow-style: none;  height: 100%; background-color: #f5f5f5; }

.row-btns { position: fixed; bottom: 0; right: 0; z-index: 22; width: 100%; margin: 0 0 0 -1.5rem !important;}

#header { padding: 10px; top: 0; left: 0; right: 0; text-align: center; }
#header h2 { margin-bottom: 10px }

#containerFields { -ms-overflow-style: auto !important; overflow: auto !important; position: absolute; top: 0; bottom: 41px; left: 0; right: 0; padding: 0 !important; 
    height: calc(100% - 41px); }

.validateWrapper { margin: 0 15px}
.now, .next {margin: 10px 0 }
.now .header, .next .header { background-color: #336699; color: #FFFFFF; text-align: center; padding: 5px}
.now label, .next label {color: #336699; display: block; text-align: center}
.now div, .next div { text-align: center;}
.currency {color: #336699; margin-right: 5px}
.control.is-2 { width: auto !important; min-width: 16.66%; padding-right: 10px !important}

#msgTxt { margin: 20px 15px; text-align: center}
