<div>
    <div id="headerSection">
        <p class="bold gray"> {{{introTitle}}} </p>
        <p> {{{introText}}} </p>
    </div>
    <div id="inputSection">
        <div class="control">
            <label> {{{emailLabel}}} </label>
            <input id="emailID" class="input" title="{{emailPopup}}" type="email" name="{{emailField}}" placeholder="{{emailPlaceholder}}" required value="{{emailValue}}">
        </div>
        <div class="control">
            <label> {{{forwardLabel}}} </label>
            <input id="forwardID" class="input" title="{{forwardPopup}}"  type="text" name="{{forwardField}}" placeholder="{{forwardPlaceholder}}" value="{{forwardValue}}" pattern="[a-zA-Z0-9!#$%&'*+-/=?^_`{|}~.]+@[a-z0-9.-]+\.[a-z]{2,4}[;, ]?+$">
        </div>
        <div class="control">
            <label> {{{subjectLabel}}} </label>
            <input id="subjectID" class="input" title="{{subjectPopup}}"  type="text" name="{{subjectField}}" placeholder="{{subjectPlaceholder}}" required value="{{subjectValue}}">
        </div>
        {{#unless (eq showTenant 'false')}}
            <div class="control">
                <label> {{{tenantLabel}}} </label>
                <input id="tenantName" class="input {{tenantClass}}" title="{{tenantPopup}}"  type="text" name="{{tenantField}}" placeholder="{{tenantPlaceholder}}" required value="{{tenantValue}}" pattern="^[a-zA-Z0-9][a-zA-Z0-9-.]*[a-zA-Z0-9]$" >
            </div>
            <div class="control">
                <label> {{{appIdLabel}}} </label>
                <input id="appId" class="input {{appIdClass}}" title="{{appIdPopup}}"  type="text" name="{{appIdField}}" placeholder="{{appIdPlaceholder}}" required value="{{appIdValue}}" pattern="^[a-zA-Z0-9]{8}-[a-zA-Z0-9]{4}-[a-zA-Z0-9]{4}-[a-zA-Z0-9]{4}-[a-zA-Z0-9]{12}$" >
            </div>
			{{#if RedirectURLField }}
				<div class="control has-icons-right">
					<div>
						<label> {{{RedirectURLLabel}}} </label>
						<input id="redirectURL" class="input {{class}}" title="{{RedirectURLPopup}}" type="text" name="{{RedirectURLField}}"  disabled required value="{{RedirectURLValue}}" >
						<span id="lock"><i class="fa fa-lock-alt"></i></span>
					</div>
				</div>
			{{/if}}
        {{/unless}}
        <div class="control">
            <textarea  id="contentID" class="textarea" title="{{contentPopup}}" name="{{contentField}}" placeholder="{{contentPlaceholder}}" required >{{contentValue}}</textarea>
        </div>

    <div id="footerSection">
        <p> {{{footerInf}}} </p>
    </div>
    
    </div>  
</div>