<!-- Generator: Adobe Illustrator 22.1.0, SVG Export Plug-In  -->
<svg version="1.1"
	 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
	 x="0px" y="0px" width="57px" height="45px" viewBox="0 0 57 45" style="enable-background:new 0 0 57 45;" xml:space="preserve">
<style type="text/css">
	.st-white{fill:#FFFFFF;}
	.st-blue{fill:#2880BA;}
	.st-gray{fill:#828282;}
	.st-gray-light{fill:#E6E6E6;}
	.st-blue-light{fill:#98CFED;}
</style>
<defs>
</defs>
<rect x="1" y="21" class="st-white" width="34" height="23"/>
<rect y="17" class="st-blue" width="35" height="4"/>
<rect y="20.2" class="st-blue" width="1" height="24.6"/>
<rect y="44" class="st-blue" width="36" height="1"/>
<rect x="35" y="28" class="st-blue" width="1" height="17"/>
<rect x="56" y="3" class="st-gray" width="1" height="25"/>
<rect x="22" y="27" class="st-gray" width="35" height="1"/>
<rect x="21" class="st-blue" width="36" height="4"/>
<rect x="21" y="4" class="st-gray" width="1" height="24"/>
<rect x="22" y="5" class="st-gray-light" width="6" height="22"/>
<rect x="23" y="6" class="st-gray" width="4" height="2"/>
<rect x="23" y="9" class="st-gray" width="4" height="2"/>
<rect x="23" y="12" class="st-gray" width="4" height="2"/>
<rect x="22" y="4" class="st-gray-light" width="34" height="2"/>
<rect x="48" y="2" class="st-blue-light" width="2" height="2"/>
<rect x="51" y="2" class="st-blue-light" width="2" height="2"/>
<rect x="54" y="2" class="st-blue-light" width="2" height="2"/>
<rect x="28" y="6" class="st-white" width="28" height="21"/>
<g>
	<rect x="16" y="27" class="st-blue" width="3" height="11"/>
	<rect x="16" y="27" transform="matrix(-1.836970e-16 1 -1 -1.836970e-16 50 15)" class="st-blue" width="3" height="11"/>
</g>
</svg>
