<!-- Generator: Adobe Illustrator 22.1.0, SVG Export Plug-In  -->
<svg version="1.1"
	 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
	 x="0px" y="0px" width="68px" height="51px" viewBox="0 0 68 51" style="enable-background:new 0 0 68 51;" xml:space="preserve">
<style type="text/css">
	.st-blue{fill:#2880BA;}
	.st-gray{fill:#828282;}
	.st-gray-light{fill:#E6E6E6;}
	.st-blue-light{fill:#98CFED;}
	.st-white{fill:#FFFFFF;}
</style>
<defs>
</defs>
<rect x="13" y="9" class="st-blue" width="42" height="4"/>
<rect class="st-blue" width="42" height="4"/>
<rect x="13" y="13" class="st-gray" width="1" height="30"/>
<rect x="54" y="13" class="st-gray" width="1" height="30"/>
<rect y="4" class="st-gray" width="1" height="30"/>
<rect x="14" y="13" class="st-gray-light" width="7" height="30"/>
<rect x="16" y="16" class="st-gray" width="4" height="2"/>
<rect x="16" y="20" class="st-gray" width="4" height="2"/>
<rect x="16" y="24" class="st-gray" width="4" height="2"/>
<rect x="13" y="42" class="st-gray" width="42" height="1"/>
<rect x="15" y="13" class="st-gray-light" width="39" height="2"/>
<rect x="43" y="11" class="st-blue-light" width="2" height="2"/>
<rect x="47" y="11" class="st-blue-light" width="2" height="2"/>
<rect x="51" y="11" class="st-blue-light" width="2" height="2"/>
<rect y="33" class="st-gray" width="13" height="1"/>
<rect x="41" y="4" class="st-gray" width="1" height="5"/>
<rect x="55" y="17" transform="matrix(-1 -1.224647e-16 1.224647e-16 -1 123 38)" class="st-blue" width="13" height="4"/>
<rect x="67" y="19" transform="matrix(-1 -1.224647e-16 1.224647e-16 -1 135 70)" class="st-blue" width="1" height="32"/>
<rect x="18" y="39" transform="matrix(-1 -1.224647e-16 1.224647e-16 -1 38 80)" class="st-gray-light" width="2" height="2"/>
<rect x="15" y="39" transform="matrix(-1 -1.224647e-16 1.224647e-16 -1 32 80)" class="st-gray-light" width="2" height="2"/>
<rect x="26" y="50" transform="matrix(-1 -1.224647e-16 1.224647e-16 -1 94 101)" class="st-blue" width="42" height="1"/>
<rect x="13" y="42" transform="matrix(-1 -1.224647e-16 1.224647e-16 -1 68 85)" class="st-gray" width="42" height="1"/>
<rect x="26" y="43" transform="matrix(-1 -1.224647e-16 1.224647e-16 -1 53 93)" class="st-blue" width="1" height="7"/>
<rect x="21" y="15" class="st-white" width="33" height="27"/>
<polygon class="st-white" points="55,21 55,43 27,43 27,50 67,50 67,43 67,21 "/>
<rect x="59" y="29" class="st-blue" width="3" height="9"/>
<rect x="59" y="29" transform="matrix(-1.836970e-16 1 -1 -1.836970e-16 94 -27)" class="st-blue" width="3" height="9"/>
<rect x="1" y="4" class="st-white" width="40" height="5"/>
<rect x="1" y="9" class="st-white" width="12" height="24"/>
<g>
	<rect x="2" y="14" transform="matrix(0.6841 -0.7294 0.7294 0.6841 -9.2033 8.75)" class="st-gray" width="7" height="2"/>
	<rect x="2" y="18" transform="matrix(0.7294 0.6841 -0.6841 0.7294 14.4864 1.3791)" class="st-gray" width="7" height="2"/>
	<rect x="4" y="16" class="st-gray" width="8" height="2"/>
</g>
</svg>
