<!-- Generator: Adobe Illustrator 22.1.0, SVG Export Plug-In  -->
<svg version="1.1"
	 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
	 x="0px" y="0px" width="101px" height="73px" viewBox="0 0 101 73" style="enable-background:new 0 0 101 73;"
	 xml:space="preserve">
<style type="text/css">
	.st-blue{fill:#2880BA;}
	.st-gray{fill:#828282;}
	.st-gray-light{fill:#E6E6E6;}
	.st-blue-light{fill:#98CFED;}
	.st-white{fill:#FFFFFF;}
</style>
<defs>
</defs>
<rect x="13" y="31" class="st-blue" width="42" height="4"/>
<rect y="22" class="st-blue" width="42" height="4"/>
<rect x="13" y="35" class="st-gray" width="1" height="30"/>
<rect x="54" y="35" class="st-gray" width="1" height="30"/>
<rect y="26" class="st-gray" width="1" height="30"/>
<rect x="14" y="35" class="st-gray-light" width="7" height="30"/>
<rect x="16" y="38" class="st-gray" width="4" height="2"/>
<rect x="16" y="42" class="st-gray" width="4" height="2"/>
<rect x="16" y="46" class="st-gray" width="4" height="2"/>
<rect x="13" y="64" class="st-gray" width="42" height="1"/>
<rect x="15" y="35" class="st-gray-light" width="39" height="2"/>
<rect x="43" y="33" class="st-blue-light" width="2" height="2"/>
<rect x="47" y="33" class="st-blue-light" width="2" height="2"/>
<rect x="51" y="33" class="st-blue-light" width="2" height="2"/>
<rect y="55" class="st-gray" width="13" height="1"/>
<rect x="41" y="26" class="st-gray" width="1" height="5"/>
<rect x="55" y="39" transform="matrix(-1 -1.224647e-16 1.224647e-16 -1 123 82)" class="st-blue" width="13" height="4"/>
<rect x="67" y="41" transform="matrix(-1 -1.224647e-16 1.224647e-16 -1 135 114)" class="st-blue" width="1" height="32"/>
<rect x="18" y="61" transform="matrix(-1 -1.224647e-16 1.224647e-16 -1 38 124)" class="st-gray-light" width="2" height="2"/>
<rect x="15" y="61" transform="matrix(-1 -1.224647e-16 1.224647e-16 -1 32 124)" class="st-gray-light" width="2" height="2"/>
<rect x="58" class="st-blue" width="43" height="4"/>
<rect x="58" y="4" class="st-gray" width="1" height="29"/>
<rect x="100" y="4" class="st-gray" width="1" height="29"/>
<rect x="58" y="32" class="st-gray" width="43" height="1"/>
<rect x="26" y="72" transform="matrix(-1 -1.224647e-16 1.224647e-16 -1 94 145)" class="st-blue" width="42" height="1"/>
<rect x="13" y="64" transform="matrix(-1 -1.224647e-16 1.224647e-16 -1 68 129)" class="st-gray" width="42" height="1"/>
<rect x="26" y="65" transform="matrix(-1 -1.224647e-16 1.224647e-16 -1 53 137)" class="st-blue" width="1" height="7"/>
<rect x="21" y="37" class="st-white" width="33" height="27"/>
<polygon class="st-white" points="55,43 55,65 27,65 27,72 67,72 67,65 67,43 "/>
<rect x="1" y="26" class="st-white" width="40" height="5"/>
<rect x="1" y="31" class="st-white" width="12" height="24"/>
<rect x="59.1" y="4" class="st-white" width="41" height="28"/>
<g>
	<rect x="2" y="35" transform="matrix(0.6841 -0.7294 0.7294 0.6841 -24.5204 15.3838)" class="st-gray" width="7" height="2"/>
	<rect x="2" y="39" transform="matrix(0.7294 0.6841 -0.6841 0.7294 28.8526 7.0621)" class="st-gray" width="7" height="2"/>
	<rect x="4" y="37" class="st-gray" width="8" height="2"/>
</g>
<g>
	<rect x="59" y="59" transform="matrix(-0.6841 0.7294 -0.7294 -0.6841 149.0196 55.4599)" class="st-gray" width="7" height="2"/>
	<rect x="59" y="55" transform="matrix(-0.7294 -0.6841 0.6841 -0.7294 69.7765 139.6021)" class="st-gray" width="7" height="2"/>
	<rect x="56" y="57" transform="matrix(-1 -1.224647e-16 1.224647e-16 -1 120 116)" class="st-gray" width="8" height="2"/>
</g>
<g>
	<rect x="78" y="10" class="st-blue" width="4" height="14"/>
	<rect x="78" y="10" transform="matrix(-1.836970e-16 1 -1 -1.836970e-16 97 -63)" class="st-blue" width="4" height="14"/>
</g>
</svg>
