	<div class="section" ondragstart="return false;">
		<div class="containerY">
		{{#with main}}
			<form id="{{id}}" method="{{method}}" action="{{action}}">
			<div id="headerSection"><h4>{{{title}}}</h4></div>	
		{{/with}}
			<div id="openFrameBlock">
				{{#each items}}
					{{#unless (eq this.hbs 'Button')}}
							{{sub_hbs this}}
					{{/unless}}
				{{/each}}
			</div>	
			{{!-- this is in case we want to handle the input na the button in a different way --}}
			<div id="blockCheckboxButtons">
				<div class="field checkbox">
					{{#with main}}
					{{#if checkboxName}}
						<label>
							<input type="checkbox" id="checkboxOpenFrame" name="{{checkboxName}}" {{#if ( eq checkBoxAttr "checked")}} checked {{/if}}/>
							<div>
								<b>{{{checkboxTextBold}}}</b></br>
								<p>{{{checkboxText}}}</p>  
							</div>
						</label>
					{{/if}}	
					{{/with}}
				</div>
			{{#each items}}
				{{#if (eq this.hbs 'Button')}}
					{{sub_hbs this}}
				{{/if}}
			{{/each}}
			</div>
			</form>
		</div>
	</div>


