<!-- Generator: Adobe Illustrator 22.1.0, SVG Export Plug-In  -->
<svg version="1.1"
	 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
	 x="0px" y="0px" width="44px" height="40px" viewBox="0 0 44 40" style="enable-background:new 0 0 44 40;" xml:space="preserve">
<style type="text/css">
	.st-blue{fill:#2880BA;}
	.st-gray{fill:#828282;}
	.st-gray-light{fill:#E6E6E6;}
	.st-blue-light{fill:#98CFED;}
	.st-white{fill:#FFFFFF;}
</style>
<defs>
</defs>
<rect x="0" class="st-blue" width="44" height="4"/>
<rect x="0" y="4" class="st-gray" width="1" height="32"/>
<rect x="43" y="4" class="st-gray" width="1" height="32"/>
<rect x="1" y="4" class="st-gray-light" width="8" height="32"/>
<rect x="3" y="7" class="st-gray" width="4" height="2"/>
<rect x="3" y="12" class="st-gray" width="4" height="2"/>
<rect x="3" y="17" class="st-gray" width="4" height="2"/>
<rect y="35" class="st-gray" width="44" height="1"/>
<rect x="2" y="4" class="st-gray-light" width="41" height="2"/>
<rect x="32" y="2" class="st-blue-light" width="2" height="2"/>
<rect x="36" y="2" class="st-blue-light" width="2" height="2"/>
<rect x="40" y="2" class="st-blue-light" width="2" height="2"/>
<rect x="0" y="35" transform="matrix(-1 -1.224647e-16 1.224647e-16 -1 44 71)" class="st-gray" width="44" height="1"/>
<rect x="0" y="39" transform="matrix(-1 -1.224647e-16 1.224647e-16 -1 44 79)" class="st-gray" width="44" height="1"/>
<rect x="9" y="6" class="st-white" width="34" height="29"/>
<g>
	<rect x="23" y="11" class="st-blue" width="4" height="14"/>
	<rect x="23" y="11" transform="matrix(-1.836970e-16 1 -1 -1.836970e-16 43 -7)" class="st-blue" width="4" height="14"/>
</g>
<rect x="0" y="37.3" class="st-gray" width="1" height="1.7"/>
<rect x="43" y="37.3" class="st-gray" width="1" height="1.7"/>
<rect x="1" y="38" class="st-white" width="42" height="1"/>
</svg>
