html { height: 100% !important; max-height: 100vh !important; } 
body, html, #ytria-body, form  { padding: 0; margin: 0; height: auto; width: 100%; height: 100% !important; max-height: 100% !important; -ms-overflow-style: none !important; }

form { display: flex; flex-direction: column }

#containerFields { height: calc(100% - 41px); overflow: auto !important ; -ms-overflow-style: auto !important; padding: 0 30px; } 
a { color: #2880BA}

#headerSection { margin-bottom: 20px }
#headerSection p { display: block; text-align: center; margin-top: 20px }


#inputSection .control { display: flex; flex-direction: column; align-items: center; margin-bottom: 10px; width: 100% }
#inputSection .control:first-child { flex-direction: row }
#inputSection .control label { min-width: 150px !important; }
#inputSection .control > div { width: 100%; display: flex; align-items: center; position: relative }
#lock{ cursor: pointer !important; position: absolute; right: 10px; top: 0; font-size: 1.2rem; color: #88888a; height: 100%; display: flex; align-items: center }
